.speechBubble {
  position: relative;
  margin-top: 20px;
  background-color: white;
}

.contentWrapper {
  overflow: unset;
  border: solid 1px $gray400;
  border-radius: 4px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 88%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: $gray400;
    border-top: 0;
    margin-left: -14px;
    margin-top: -10px;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 88%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: white;
    border-top: 0;
    margin-left: -13px;
    margin-top: -9px;
    z-index: 2;
  }
}
