@import "../../../variables";

.formContainer {
  background-color: $gray0;
  padding: 16px 24px 48px 24px;
}

.formControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6px;

  label {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: normal;
    color: $gray6;
    width: 120px;
  }
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.periodText {
  color: $gray6;
  margin-right: 8px;
}

.buttonWrapper {
  float: right;
}

.formButton {
  display: inline;
  margin-right: 8px;
}
