.defaultFilterItemTitle {
  font-size: 14px;
  color: $gray5;
  margin-left: 12px;
}

.defaultFilterItemIcon {
  color: $gray5;
  svg {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
  }
}

.filterItemTitle {
  @extend .defaultFilterItemTitle;
  color: $gray6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 280px;
  vertical-align: top;
}

.filterItemEmoji {
  display: inline-block;
  height: 100%;
  width: 14px;
  margin: 0 3px;
}

.filterItemIcon {
  color: $gray4;
  display: inline-block;
  vertical-align: top;

  svg {
    width: 20px;
    height: 10px;
  }
}

.filterItemWrapper {
  @extend %popper-item;
  height: 32px;
  border: none;
  padding: 8px 12px;

  &:hover {
    background-color: $gray1;
    transition: 0.2s;

    .deleteIconWrapper {
      transition: 0.2s;
      opacity: 1;
    }
  }

  .deleteIconWrapper {
    vertical-align: middle;
    position: absolute;
    right: 8px;
    cursor: pointer;
    opacity: 0;

    .trashIcon {
      color: $gray4;

      &:hover {
        color: $gray5;
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
