.dialogPaper {
  width: 596px;
  max-height: 500px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(12, 0, 51, 0.1);
  padding: 0 16px 16px 16px;
}

.dialogHeader {
  position: relative;
  padding: 16px 0;
  border-bottom: solid 1px $gray500;
  margin-bottom: 24px;
  line-height: 1.4;

  .mainTitle {
    font-size: 20px;
    font-weight: bold;
    color: $black0;
  }
  .subtitle {
    font-size: 14px;
    line-height: 1.43;
    color: $gray800;
  }
}

.closeButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 0px;
  width: 24px;
  height: 24px;
  cursor: pointer;

  .closeIcon {
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    color: $black0;
    opacity: 0.5;
  }
}

.contentSection {
  min-height: 314px;
  margin-bottom: 16px;

  .formControl {
    display: flex;

    .inlineInput {
      flex: 1;
    }

    .inlineInput + .inlineInput {
      margin-left: 8px;
    }
  }

  label {
    display: block;
    font-size: 15px;
    color: $gray800;
    margin-bottom: 8px;
  }

  .bioWrapper {
    margin: 24px 0;
  }
}

.footer {
  position: relative;
  height: 40px;
}

.buttonsWrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.inputField {
  width: 278px;
  color: $black0;
}

.textAreaWrapper,
.inputField {
  border-radius: 5px;
  border: solid 1px $gray400;

  &:focus {
    border-radius: 5px;
    border: solid 1px $gray600;
  }
}

.errorMessage {
  color: $red0;
  font-size: 12px;
}

.checkboxField {
  position: relative;
  display: inline-flex;
  margin-top: 8px;
  align-items: center;
  height: 24px;
}

.checkBox {
  margin-right: 8px;
  width: 15px;
  height: 15px;
  padding: 0;

  svg {
    font-size: 16px;
  }

  &:checked {
    background-color: $main_blue0 !important;
  }
}

.checkboxInfo {
  width: 168px;
  height: 20px;
  font-size: 13px;
  line-height: 1.54;
  color: $gray800;
}
