.buttonWrapper {
  display: inline-block;
  vertical-align: top;
}

.saveButtonIcon {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  width: 8px;
  height: 12px;

  svg {
    width: 8px;
    height: 12px;
  }
}

.currentCollectionTitle {
  @extend %one-line-overflow-ellipsis;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 12px 24px 12px 12px;
  width: 222px;
  height: 40px;
  border-radius: 4px;
  background-color: $gray8;
  font-size: 14px;
  font-weight: bold;
  color: $black0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.arrowIcon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;

  svg {
    width: 9px;
    height: 5px;
  }
}
