.buttonWrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 10;
}

.actionItem {
  display: flex;
}

.actionItemWrapper {
  width: 100%;
}

.saveButtonIcon {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.signInTextWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 24px;
  font-size: 14px;
  font-weight: 500;
  color: $black0;
  white-space: pre;
  font-style: italic;

  .signInText {
    cursor: pointer;
    color: $main_blue0;

    &:hover {
      text-decoration: underline;
    }
  }
}

.currentCollectionTitle {
  @extend %one-line-overflow-ellipsis;

  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 12px 36px 12px 12px;
  width: 204px;
  height: 40px;
  border-radius: 4px;
  background-color: $gray50;
  font-size: 14px;
  color: $black0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: width 150ms ease;
  cursor: pointer;

  &:hover {
    background-color: $gray300;
  }
}

.arrowIcon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 12px;
  right: 12px;

  svg {
    transform: rotate(180deg);
    width: 16px;
    height: 16px;
  }
}

.plusIcon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray800 !important;

  svg {
    width: 16px;
    height: 16px;
  }
}

.popperPaper {
  @include popper-paper(310px);

  .collectionItem {
    @extend %popper-item;
  }

  .newCollectionWrapper {
    @extend .collectionItem;
    padding: 0;

    &:hover {
      background-color: unset;
    }

    .newCollectionItem {
      display: inline-flex;
      width: 74%;
      height: 100%;
      align-items: center;
      padding-left: 16px;

      &:hover {
        background-color: $gray30;
      }
    }

    .newCollectionContext {
      padding-left: 32px;
      font-size: 14px;
      font-weight: bold;
      color: $gray800;
    }

    .newCollectionCancel {
      height: 100%;
      position: absolute;
      width: 80px;
      display: inline-flex;
      align-items: center;
      right: 0;

      &:hover {
        background-color: $gray30;
      }

      .newCollectionCancelContext {
        width: 100%;
        text-align: center;
        color: $gray600;
      }
    }
  }

  .collectionTitle {
    @include one-line-elipsis-truncate(250px);

    display: inline-block;
    vertical-align: top;
  }

  .bookmarkIcon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 16px;
    color: $black1;

    svg {
      display: inline-block;
      vertical-align: top;
      width: 12px;
      height: 12px;
    }
  }
}

.addNoteIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 16px;
    height: 16px;
  }
}

.noteBoxWrapper {
  position: relative;
  margin-bottom: 6px;
  overflow-x: hidden;
}

.noteBox {
  width: 352px;
  min-height: 80px;
  border-radius: 8px;
  overflow: unset;
  border: solid 1px $gray300;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 7px;

  &:before {
    content: '';
    position: absolute;
    top: -6px;
    right: 14px;
    width: 0;
    height: 0;
    z-index: 2;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $gray300;
  }
}

.editNoteBox {
  @extend .noteBox;
  border: 0;
}

.renderNoteBox {
  @extend .noteBox;
  position: relative;
  background-color: $gray300;
  padding: 10px 12px;
  color: $black0;
  word-break: break-all;
  white-space: pre-wrap;
  max-height: 200px;
  overflow-y: auto;

  &:hover {
    .noteButtonWrapper {
      opacity: 1;
      transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .noteButtonWrapper {
    position: absolute;
    opacity: 0;
    display: inline-block;
    top: 12px;
    right: 12px;
    z-index: 2;

    .noteControlIcon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      color: $gray500;
      cursor: pointer;

      &:hover {
        &.penIcon {
          color: $main_blue1;
        }

        &.trashIcon {
          color: $red0;
        }
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .noteControlIconWrapper + .noteControlIconWrapper {
      margin-left: 4px;
    }
  }
}

.arrowBottomTooltip {
  background-color: $black0 !important;
  color: white !important;
  font-size: 14px !important;
  margin-bottom: 20px !important;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 55%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: $black0;
    border-bottom: 0;
    margin-left: -13px;
    margin-top: 25px;
    z-index: 2;
  }
}

// regular_width (1200)
@media (max-width: $regular_width) {
  .buttonWrapper {
    width: 100%;
    margin-top: 8px;
    .actionItem {
      width: 100%;
      .currentCollectionTitle {
        width: 100%;

        &.saved {
          width: 100%;
        }
      }
    }
  }
}
