@import "../../../variables";

.searchItemWrapper {
  margin-top: 12px;
  max-width: 895px;
  border-bottom: solid 1px $space_gray16;

  &:first-of-type {
    margin-top: 0;
  }
}

.contentSection {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8;
    color: $black_navy1;
  }

  .publishInfoList {
    margin-top: 7px;
    font-size: 13px;
    line-height: 2;
    color: $space_gray19;

    .underline {
      color: $space_gray3;
      text-decoration: underline;
      cursor: pointer;
    }

    .bold {
      color: $space_gray3;
    }

    .separatorLine {
      display: inline;
      height: 19px;
      border-left: solid 1px $space_gray1;
      margin-left: 9.5px;
      margin-right: 9px;
    }

    .authors {
      display: flex;

      .authorHIndex {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 100px;
        border: solid 1px $space_gray1;
        font-size: 12px;
        color: $space_gray3;
        line-height: 1.5;
        text-align: center;
        margin-left: 2px;
        margin-right: 2px;

        &:hover > .authorHIndexTooltip {
          opacity: 1;
        }
      }
    }
  }

  .content {
    margin-top: 8px;
    font-size: 13px;
    line-height: 1.46;
    color: $space_gray3;
  }

  .keywordList {
    margin-top: 8px;

    .keyword {
      font-size: 13px;
      line-height: 1.85;
      text-align: center;
      color: $royal_blue1;
    }
    .separatorPoint {
      font-size: 13px;
      text-align: center;
      color: $royal_blue1;
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  .infoList {
    margin-top: 12px;
    display: flex;
    align-items: center;
    font-size: 13px;
    position: relative;
    margin-bottom: 12px;

    @mixin commonButton($color) {
      padding: 8px 10px 7px 10px;
      border: solid 1px $color;
      color: $color;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        background-color: $color;
        color: #fff;

        svg {
          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          color: #fff;
        }
      }
    }

    .referenceButton {
      @include commonButton($royal_blue5);
    }

    .citedButton {
      margin-left: 10px;
      @include commonButton($royal_blue1);
      margin-right: 21px;
    }

    .explanation {
      color: $space_gray3;
      margin-right: 9px;
    }

    .citedPaperAvgIF {
      color: $royal_blue1;
    }

    .separatorLine {
      height: 30px;
      border-left: solid 1px $space_gray16;
      margin-left: 12px;
      margin-right: 15px;
    }

    .pltuoScore {
      color: $light_green;
    }

    .rightBox {
      position: absolute;
      right: 0;
      display: flex;

      .sourceButton {
        @include commonButton($space_gray3);
        .articleSourceIconWrapper {
          margin-right: 8px;

          svg {
            width: 13px;
            height: 12px;
          }
        }
      }

      .copyDOIButton {
        margin-left: 10px;
        @include commonButton($space_gray19);
      }
    }
  }
}
