.snackbarWrapper {
  & > div:first-of-type {
    border-radius: 8px;
    background-color: rgba(30, 42, 53, 0.9);
    flex-direction: column;
  }
}

.snackbarContext {
  font-size: 16px;
  color: white;
  padding-right: 24px;
}

.goToCollectionBtn {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: $main_blue0;
}

.closeBtn {
  position: absolute;
  right: 16px;
  top: 16px;
  color: $gray700;
  width: 24px;
  height: 24px;
  margin-left: 16px;
  cursor: pointer;

  svg {
    width: 14px;
    height: 14px;
  }
}

@media (min-width: 960px) {
  .snackbarWrapper {
    bottom: 48px;
    right: 48px;
  }
}

@media (max-width: 960px) {
  .snackbarWrapper {
    right: 12px;
    left: 12px;
    bottom: 12px;

    & > div:first-of-type {
      align-items: flex-start;

      & > div:first-of-type {
        padding-right: 24px;
      }
    }
  }
}
