.snackbarWrapper {
  bottom: 40px;

  & > div:first-of-type {
    border-radius: 8px;
    background-color: rgba(30, 42, 53, 0.9);
    padding: 20px 16px 20px 24px;
    max-width: 100%;

    & > div:first-of-type {
      padding: 0;
      word-break: break-all;
    }
  }
}

.snackbarContext {
  font-size: 16px;
  color: white;
  padding-right: 48px;
}

.goToCollectionBtn {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: $main_blue0;
}

.closeBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $gray700;
  width: 24px;
  height: 24px;
  margin-left: 16px;
  cursor: pointer;

  svg {
    width: 14px;
    height: 14px;
  }
}

@media (min-width: 960px) {
  .snackbarWrapper {
    left: 0;
    right: 0;
    transform: none;
  }
}

@media (max-width: 960px) {
  .snackbarWrapper {
    left: 16px;
    right: 16px;
    bottom: 18px;

    & > div:first-of-type {
      align-items: flex-start;
      flex-direction: column;
      padding: 16px;

      & > div:first-of-type {
        max-width: 100%;
        padding: 0 36px 0 0;
      }
    }
  }

  .snackbarContext {
    padding-right: 0px;
  }

  .goToCollectionBtn {
    margin: 8px 8px 0 0;
  }

  .closeBtn {
    position: absolute;
    right: 16px;
    top: 16px;
  }
}
