@import "../../variables";

:export {
  navbarHeight: $navbar_height;
  paperShowSubNavbarHeight: $paper-show-sub-navbar-height;
}

%navbar-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 40px;
  border-radius: 5px;
  margin-right: 8px;
}

.paperShowWrapper {
  margin-top: $navbar_height;
}

.container {
  @extend %container;
  padding : 0 16px;
}

.navContainer {
  @extend %container;
  position: relative;
  padding : 0 16px;

  .navRightBox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  .dropdownButtonBox {
    @extend %navbar-button;
    margin-right: 16px;
    color: white;
    background-color: $main_blue0;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    .plusIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      margin-right: 8px;

      svg {
        width: 14px;
        height: 14px;
      }
    }

    &:hover {
      background-color: $main_blue_light0;
      transition: $button-hover-transition;
    }
  }

  .citationButton {
    @extend %navbar-button;
    text-align: center;
    width: 136px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: $main_blue1;

    &:hover {
      background-color: $gray2;
      transition: $button-hover-transition;
    }
  }
}

.referencesTitle {
  margin-top: 46px;
  margin-bottom: 85px;
}

.innerContainer {
  display: flex;
}

%navigationBox {
  background-color: $gray0;
  border: solid 1px $gray2;
  height: $paper-show-sub-navbar-height;
}

.navigationBoxWrapper {
  @extend %navigationBox;
  border: 0;
  background-color: transparent;
}

.normalNavigationBox {
  @extend %navigationBox;
}

.fixedNavigationBox {
  @extend %navigationBox;
  position: fixed;
  top: $navbar_height;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  transition: box-shadow background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigatorItem {
  display: inline-block;
  vertical-align: top;
  height: $paper-show-sub-navbar-height - 1px;
  line-height: $paper-show-sub-navbar-height;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: $gray6;
  margin-right: 16px;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  &.activeItem {
    color: $main_blue1;
    font-weight: bold;
    border-bottom: solid 3px $main_blue1;
  }
}

.journalLink {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

.headSection {
  background-color: #f9f9fa;
  padding-bottom: 8px;
}

.informationSubtitle {
  font-weight: bold;
}

.leftBox {
  max-width: $left-container-width;
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  flex: 1;
}

.title {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.42;
  text-align: left;
  margin: 8px 0 16px 0;
  color: $black0;
}

.journalInformation {
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 1.43;
  color: $gray6;
}

.abstractBox {
  margin-top: 32px;
}

.abstractTitle {
  height: 21px;
  font-size: 20px;
  font-weight: 500;
  color: $black0;
  margin-bottom: 16px;
}

.abstractContent {
  font-size: 14px;
  line-height: 1.5;
  color: $black1;
}

.contentLeftBox {
  max-width: $left-container-width;
  flex: 1;
}

.rightBox {
  display: inline-block;
  vertical-align: top;
  width: $right-container-width;
  padding-top: 28px;
  margin-left: 21.5px;
}

.relatedTitle {
  font-size: 20px;
  font-weight: 500;
  color: $black0;
  padding-bottom: 15px;
  margin-bottom: 8px;
  border-bottom: 1px solid $gray4;

  span {
    display: inline-block;
    vertical-align: top;
  }
}

.relatedCount {
  margin-left: 12px;
  font-size: 20px;
  font-weight: 500;
  color: $gray5;
}

.DOI {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.4px;
  color: $gray6;
  background-color: transparent;
  margin-bottom: 16px;
}

.DOIText {
  margin-right: 6px;
}

.DOIButton {
  cursor: pointer;

  svg {
    height: 14px;
    color: $gray5;
  }

  &:hover {
    svg {
      color: $main_blue0;
      transition: $button-hover-transition;
    }
  }
}

.authorListBox {
  margin-left: -$paper_show_author_list_item_margin;
}

.commentsBoxWrapper {
  margin-top: 32px;
}

.line {
  border-bottom: solid 1px $gray3;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 10px;
}

.commentTitle {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: $black0;

  span {
    display: inline-block;
    vertical-align: top;
  }
}

.commentCount {
  margin-left: 10px;
  color: $main_blue0;
}

.collectionDropdownPaper {
  width: 348px;
  margin-top: 8px;
  box-shadow: 0 8px 16px 0 rgba(12, 0, 51, 0.1);
}

@media (max-width : $tablet-width) {
  .navContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .navigatorItem {
      margin-right: 0;
    }

    .citationButton {
      display: none;
    }

    .dropdownButtonBox {
      display: none;
    }

    .omitItem {
      display: none;
    }
  }

  .citedTitle {
    margin-top: 80px;
  }


  .rightBox {
    display: none;
  }

  .leftBox {
    width: 100%;
  }

  .container {
    width: 100%
  }
}
