@import "../../variables";

.paperShowWrapper {
  position: relative;
  margin-top: $navbar_height;
}

.container {
  position: relative;
  margin: 0 auto;
  width: $container_width;
}

.referencesTitle {
  margin-top: 46px;
  margin-bottom: 85px;
}

.innerContainer {
  display: flex;
}

.headSection {
  background-color: #f9f9fa;
  padding-bottom: 17.5px;
}

.leftBox {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  flex: 1;
}

.contentLeftBox {
  display: inline-block;
  vertical-align: top;
  flex: 1;

  .title {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.42;
    text-align: left;
    margin: 8px 0 11px 0;
    color: $dark_navy1;
  }

  .journalInformation {
    margin-bottom: 11px;
    font-size: 15px;
    line-height: 1.6;
    color: $space_gray10;
  }

  .abstractBox {
    margin-top: 36.5px;
  }

  .abstractTitle {
    height: 21px;
    font-size: 18px;
    font-weight: 500;
    color: $black_navy1;
    margin-bottom: 12.5px;
  }

  .abstractContent {
    font-size: 14px;
    line-height: 1.5;
    color: $dark_navy2;
  }

  .FOSBox {
    margin-top: 12px;
  }
}

.viewInSourceButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px $royal_blue4;
  height: 44px;
  line-height: 44px;
  background-color: $royal_blue1;
  border-radius: 5px;
  margin-bottom: 8px;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;

  &:hover {
    background-color: $royal_blue2;
    border: solid 1px $royal_blue1;
  }

  .sourceIcon {
    display: inline-block;
    vertical-align: top;
    width: 15.5px;
    height: 15.5px;
    margin-right: 24px;

    svg {
      display: inline-block;
      vertical-align: top;
      width: 15.5px;
      height: 15.5px;
    }
  }
}

.rightBox {
  display: inline-block;
  vertical-align: top;
  width: 284px;
  padding-top: 28px;

  .pdfButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    border-radius: 5px;
    border: solid 1px $royal_blue4;
    background-color: white;
    text-align: center;
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: $royal_blue1;

    &:hover {
      background-color: rgba(96, 150, 255, 0.1);
    }
  }

  .pdfIconWrapper {
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 15.5px;
    margin-right: 25.5px;

    svg {
      display: inline-block;
      vertical-align: top;
      width: 17px;
      height: 15.5px;
    }
  }
}

.leftBox + .rightBox {
  margin-left: 21.5px;
}

.tabWrapper,
.tabBackground {
  transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.informationSubtitle {
  font-size: 13px;
  line-height: 2.08;
  color: $space_gray10;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.tabWrapper.overTabWrapper {
  border-bottom: 1px solid $space_gray16;
  top: 0;

  .tabBackground {
    position: fixed;
    top: 0;
    visibility: hidden;
  }
}

.tabWrapper.underTabWrapper {
  position: fixed;
  top: $navbar_height;
  left: 0;
  right: 0;
  width: $container_width;
  margin: 0 auto;
  z-index: 50;

  .tabBackground {
    position: fixed;
    visibility: visible;
    background-color: white;
    border-bottom: 1px solid $space_gray19;
    width: 100vw;
    top: $navbar_height;
    left: 0;
    height: $navbar_height;
    z-index: -1;
  }
}

.tabButton {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 17.5px;
  height: 54px;
  line-height: 54px;
  color: $space_gray18;
  z-index: 3;
  cursor: pointer;
}

.activeTab {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: solid 1px #d8dde7;
  border-bottom: 0;
  font-weight: 500;
  color: $sky_blue2;

  &:after {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: -1px;
    z-index: 2;
    background-color: #fff;
  }
}

.relatedTitle {
  font-size: 22px;
  font-weight: 500;
  color: $black_navy1;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid $space_gray1;

  span {
    display: inline-block;
    vertical-align: top;
  }
}

.relatedCount {
  margin-left: 10px;
  color: $royal_blue1;
}

.DOIButton {
  font-size: 13px;
  line-height: 2.08;
  letter-spacing: 0.4px;
  color: $space_gray10;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 14.5px;
}

.authorListBox {
  margin-left: -$paper_show_author_list_item_margin;
}

.bookmarkButtonBox {
  display: inline-block;
  vertical-align: top;
  width: 44px;
  height: 44px;
}

.citationButton {
  display: inline-block;
  vertical-align: top;
  width: 231px;
  height: 44px;
  line-height: 44px;
  border-radius: 5px;
  background-color: $gray_blue1;
  border: solid 1px $gray_blue2;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: $dark_navy2;
  margin-right: 8.5px;

  &:hover {
    background-color: #f1f3f6;
  }
}
