{
  "plugins": ["lodash", "babel-plugin-syntax-dynamic-import"],
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "modules": false
      }
    ]
  ]
}
