{
  "plugins": ["lodash", "@loadable/babel-plugin", "@babel/plugin-syntax-dynamic-import"],
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "modules": false
      }
    ]
  ],
  "exclude": "/node_modules/"
}
