.wrapper {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 12px;
  padding: 12px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: $search_container_width;
}

.divider {
  display: inline-block;
  margin: 0 12px;
}

.sortText {
  margin-right: 8px;
}

.btnWrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 2;

  & + & {
    margin-left: 8px;
  }
}
