.authorSectionWrapper {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.29;
  color: $gray5;

  svg {
    margin-top: 2px;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    margin-bottom: 0px;
  }

  .authorLink:hover {
    text-decoration: underline;
  }
}

.authorHIndex {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 100px;
  border: solid 1px $gray2;
  font-size: 12px;
  background-color: $gray8;
  color: $gray9;
  line-height: 1.5;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px 3px;

  &:hover {
    .detailHIndexBox {
      opacity: 1;
      visibility: visible;
    }
  }
}

.hIndexChar {
  display: inline-flex;
  vertical-align: top;
}

.detailHIndexBox {
  position: absolute;
  top: -50px;
  left: -69px;
  margin-bottom: 10px;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease;
}

.contentWrapper {
  overflow: unset;
  border: solid 1px $gray3;
  border-radius: 4px;
  width: 150px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-top-color: $gray3;
    border-bottom: 0;
    margin-left: -11px;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    margin-left: -10px;
    z-index: 2;
  }
}
