.arrowIcon,
.activeArrowIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 4px;

  svg {
    width: 100%;
    height: 100%;
    transition: transform 200ms ease;
  }
}

.arrowIcon {
  svg {
    transform: rotate(90deg);
  }
}

.activeArrowIcon {
  svg {
    transform: rotate(180deg);
  }
}

.toggleButton {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $gray6;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 200ms ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.paperListWrapper {
  border-left: 1px solid #efefef;
  margin-left: 15px;
  padding-left: 32px;
}

.paperItemWrapper {
  position: relative;

  &:before {
    content: "•";
    position: absolute;
    top: 0;
    left: -13px;
  }

  & + & {
    margin-top: 16px;
  }
}

.loadingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;

  .loadingSpinner {
    margin: 16px;
  }
}
