

.sortBoxWrapper {
  display: flex;
  align-items: center;
}

.currentOption {
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    display: inline-block;
    vertical-align: top;
  }
}

.downArrow {
  display: inline-block;
  vertical-align: top;
  width: 8px;
  height: 4.5px;
  object-fit: contain;

  svg {
    display: inline-block;
    vertical-align: top;
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
  }
}

.sortOptionText {
  font-size: 15px;
  color: $gray6;
  margin-right: 10.5px;
}

.menuItem {
  @extend %default-sort-dropdown-menuitem;
}
