.sortBoxWrapper {
  display: flex;
  align-items: center;
}

.currentOption {
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    display: inline-block;
    vertical-align: top;
  }
}

.downArrow {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  object-fit: contain;

  svg {
    display: inline-block;
    vertical-align: top;
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
  }
}

.sortByText {
  font-size: 14px;
  color: $gray600;
  margin-right: 11px;
}

.sortOptionText {
  font-size: 14px;
  color: $gray800;
  margin-right: 10.5px;
}

body .menuItem {
  @extend %default-sort-dropdown-menuitem;
}

@media (max-width: $mobile-width) {
  .sortByText {
    visibility: hidden;
  }
}
