.authBtn {
  position: relative;
  display: flex;
  width: 100%;
  height: 45px;
  border-radius: 2px;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: white;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.buttonSpinner {
  position: absolute;
  color: $gray400;
}

.dialogCloseButton {
  position: absolute;
  top: -24px;
  right: 0;
  cursor: pointer;
}

.dialogCloseIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 16px;
    height: 16px;
    color: $gray500;
  }
}
