@import "../../variables";

.pageWrapper {
  margin-top: $navbar_height;
}

.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;

  .leftBox {
    width: 283px;
    background-color: white;
    border-right: solid 1px $gray2;
    min-height: calc(100vh - #{$navbar_height});
  }

  .rightBox {
    flex: 1;
  }

  .rightBoxContent {
    padding-left: 22px;
  }
}
