@import "../../../variables";

.feedItemWrapper {
  border-radius: 10px;
  border: solid 1px $space_gray16;
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0;
  }
}

.contentSection {
  display: flex;
  height: 230px;
  padding: 18px 0 0 19px;
}

.leftBox {
  display: inline-block;
  vertical-align: top;
  width: 600px;
  padding-right: 12.5px;
  margin-bottom: 16.5px;
}

.title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.35;
  color: $black_navy1;
  margin-bottom: 6.5px;
}

.abstractSummary {
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: $space_gray3;
  white-space: pre-wrap;
  word-break: break-all;
}

.rightBox {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100%;
}

.rightBoxContent {
  margin-top: 22px;
  display: flex;
  width: 100%;
  height: 150px;
  border-left: solid 1px $space_gray16;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.evaluationPoint {
  font-size: 37.5px;
  text-align: center;
  color: $space_gray1;
}

.activeEvaluationPoint {
  color: $royal_blue1;
}

.informationBox {
  position: relative;
  border-top: 1px solid $space_gray16;
  height: 75px;
}

.informationLeftBox {
  position: absolute;
  top: 0;
  left: 19px;
  bottom: 0;
  display: flex;
  align-items: center;
}

.informationRightBox {
  position: absolute;
  top: 0;
  right: 28.5px;
  bottom: 0;
  display: flex;
  align-items: center;
}

.profileImageWrapper {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.authorInformation {
  display: inline-block;
  vertical-align: top;
}

.authorName {
  height: 20px;
  font-size: 15px;
  line-height: 1.33;
  text-align: left;
  color: $black_navy1;
}

.authorInstitution {
  height: 20px;
  font-size: 11px;
  line-height: 1.82;
  text-align: left;
  color: $space_gray1;
}

.createdAt {
  font-size: 14px;
  text-align: right;
  color: $space_gray1;
}

.avatarIcon {
  svg {
    width: 36.5px;
    height: 36.5px;
  }
}
