@import "../../../variables";

$feed-navbar-height: 42px;
$dropdown-menu-item-height: 42px;
$popover-width: 145px;

.feedNavbarWrapper {
  height: $feed-navbar-height;
  border-bottom: solid 2px $space_gray16;
}

.navbarWrapper {
  position: relative;
  width: 780px;
}

.rightbox {
  position: absolute;
  right: 0;
  top: -5px;
}

.sortItem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 27px;
  font-size: 18px;
  text-align: center;
  color: $black_navy1;
  cursor: pointer;
}

.activeSortItem {
  font-weight: bold;

  &:after {
    content: "";
    position: absolute;
    bottom: -14.5px;
    left: 0;
    right: 0;
    border-bottom: 2.5px solid $royal_blue1;
    z-index: 2;
  }
}

.categoryBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $popover-width;
  height: $dropdown-menu-item-height;
  border-radius: 7.5px;
  border: solid 1px $space_gray2;
  font-size: 12px;
  color: $space_gray3;
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.popoverMenuWrapper {
  border-radius: 10px;
  width: $popover-width;
  background-color: #ffffff;
  border: solid 1px $space_gray13;
}

.popoverItem {
  display: flex;
  margin: 0 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
  align-items: center;
  height: $dropdown-menu-item-height;
  font-size: 12px;
  text-align: center;
  color: $black_navy1;
  cursor: pointer;
  border-bottom: solid 1px $space_gray16;

  &:last-of-type {
    border-bottom: none;
  }

  &:hover {
    color: $royal_blue1;
  }
}

.activePopoverItem {
  color: $royal_blue1;
}

.categoryDropdownText {
  display: inline-block;
  vertical-align: top;
  margin-right: 13px;
}

.categoryDropdownIcon {
  display: inline-block;
  vertical-align: top;

  svg {
    width: 8px;
    height: 7.5px;
  }
}
