.filterSaveButton {
  display: inline-flex;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  color: $main_blue1;
  cursor: pointer;

  &:hover {
    color: $main_blue_light0;
  }
}
