:global {
  .react-pdf__Page__canvas {
    width: 750px !important;
    height: 100% !important;
    box-shadow: 0 4px 10px 0 rgba(12, 0, 51, 0.2);
    margin: 0 auto;
  }
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px 0 rgba(12, 0, 51, 0.2);
  height: 500px;
}
