:global {
  .react-pdf__Page + .react-pdf__Page {
    margin-top: 8px;
  }
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px 0 rgba(12, 0, 51, 0.2);
  height: 500px;
  margin-bottom: 16px;
}
