.uiDemoWrapper {
  width: 100vw;
  height: 100%;
  position: relative;
  display: flex;
  flex: 1 1 0%;
  background: white;
  cursor: text;
}

.leftBox {
  height: 100vh;
  width: 297px;
  padding: 120px 40px;
  display: flex;
  flex-direction: column;
  background-color: $gray50;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  z-index: 99;
  transition: box-shadow 300ms ease-in 0s;
  width: 297px;
}

.rightBox {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  background: white;
  z-index: 1;
  width: calc(100vw - 297px);
  height: 100vh;
  max-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.exampleButtonContainer {
  display: flex;
  height: 60vh;
  width: 240px;
  align-items: center;
  justify-content: center;
}

.exampleButtonWrapper {
  width: 100%;
}

.buttonCodeContainer {
  display: flex;
  height: 40vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.buttonCodeWrapper {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: $black0;
  padding: 16px;
  color: white;
  line-height: 1.4;
}

.buttonCodeBox {
  height: 50vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.selectBox {
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid $gray300;
  font-family: inherit;
  color: $black1;
  margin: 8px 0;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.toggle {
  display: block;
  padding: 8px 0;
}

.toggleLabel {
  color: $black1;
}

.checkbox {
}
