.wrapper {
  position: absolute;
  left: 16px;
  right: 16px;
  border-radius: 16.5px;

  &.listOpened {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  }
}

.inputWrapper {
  position: relative;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  border-radius: 16.5px;
  border: solid 1px $gray300;
  background-color: $gray30;
  padding: 8px 12px;
  padding-left: 36px;
  font-size: 14px;
  color: $black0;
  transition: border-radius 200ms ease;

  &:hover {
    border: solid 1px $gray400;
  }

  &:active {
    background-color: white;
  }

  &:focus {
    background-color: white;
  }

  &::placeholder {
    color: $gray500;
  }

  &.listOpened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0;
  }
}

.searchIcon {
  position: absolute;
  left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 100%;
  color: $gray600;

  svg {
    width: 11px;
    height: 11px;
  }
}

.listWrapper {
  position: relative;
  padding: 8px 0;
  border-bottom-left-radius: 16.5px;
  border-bottom-right-radius: 16.5px;
  background-color: white;
  margin: 0 1px;
  z-index: 1;
}

.listItem {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  line-height: 1.43;
  color: $gray800;
  padding: 4px 12px;

  &:hover {
    background-color: $gray50;
  }

  &.highlighted {
    background-color: $gray50;
  }

  .itemContent {
    display: inline-block;
    vertical-align: top;
  }
}

.checkboxIcon {
  display: inline-flex;
  padding: 0;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  color: $gray600 !important;

  svg {
    font-size: 17px;
  }
}

.checkedCheckboxIcon {
  color: $main_blue0 !important;
}
