@import "../../variables";

.searchWrapper {
  width: 400px;
  margin-bottom: 36px;
}

.spinnerWrapper {
  margin-top: 150px;
}

.header {
  margin-top: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  color: $black0;
  font-weight: 500;
  margin-right: 130px;
}

.errorMessage {
  color: $gray6;
  margin-top: 32px;
}

.authorWrapper {
  margin-bottom: 64px;
}
