@import "../../../../variables";

.articleSearchContainer {
  margin: $navbar_height auto 0 auto;
  max-width: $container_width;
  position: relative;

  .innerContainer {
    max-width: $search_container_width;
  }
}

.noPapersContainer {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  align-items: center;
  min-height: 738.5px;

  .noPapersTitle {
    font-size: 20px;
    line-height: 1.8;
    color: $coral_pink2;
  }

  .noPapersContent {
    margin-top: 15px;
    font-size: 15px;
    line-height: 2.4;
    color: $black_navy1;

    .keyword {
      color: $space_gray3;
    }
  }
}

@media (max-width: $mobile-width) {
  .articleSearchContainer {
    margin-top: $search-mobile-navbar-height;
  }
}
