.articleSearchContainer {
  margin: $navbar_height auto 0 auto;
  max-width: $container_width;
  position: relative;

  .innerContainer {
    max-width: $search_container_width;
  }
}

.noPapersContainer {
  display: flex;
  padding-top: 45px;
  min-height: 738.5px;

  .noPapersContentWrapper {
    margin-left: 24px;
  }

  .noPapersTitle {
    font-size: 24px;
    line-height: 1.8;
    color: $red0;
  }

  .noPapersContent {
    margin-top: 4px;
    font-size: 15px;
    line-height: 1.7;
    color: $black0;

    .keyword {
      color: $gray6;
    }

    .noPapersText {
      display: block;
    }
  }
}

.iconWrapper {
  width: 140px;
}

@media (max-width: $mobile-width) {
  .articleSearchContainer {
    margin-top: $search-mobile-navbar-height;
  }
}
