.articleSearchContainer {
  margin: $navbar_height auto 0 auto;
  max-width: $container_width;
  position: relative;

  .innerContainer {
    max-width: $search_container_width;
  }
}

.noPapersContainer {
  display: flex;
  padding-top: 45px;
  min-height: 738.5px;

  .noPapersContentWrapper {
    margin-left: 32px;
  }

  .noPapersTitle {
    font-size: 24px;
    line-height: 2;
    color: $red0;
  }

  .noPapersContent {
    margin-top: 4px;
    font-size: 15px;
    line-height: 1.6;
    color: $black1;

    .keyword {
      color: $gray800;
      word-break: break-all;
    }

    .noPapersText {
      display: block;
    }
  }
}

.contextWrapper {
  margin-top: 10px;
  padding-left: 30px;
}

.doiLink {
  color: $main_blue1;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
    color: $main_blue_light0;
  }
}

.paperRequestLink {
  @extend .doiLink;
  cursor: pointer;
}

.paperRequestBtn {
  height: 42px;
  font-weight: 500;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  background-color: $main_blue1;
  color: white;
  border: none;
  display: inline-block;
  margin-top: 12px;

  &:hover {
    background-color: $main_blue_light0;
    transition: $button-hover-transition;
  }
}

.iconWrapper {
  width: 140px;
  margin-top: 12px;
}

@media (max-width: $mobile-width) {
  .articleSearchContainer {
    margin-top: $search-mobile-navbar-height;
  }
}
