.citeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  color: $main_blue0;
  background-color: $gray50;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 12px 0 10px;

  span {
    display: inline-block;
  }

  &:hover {
    background-color: $gray300;
  }

  &:active {
    filter: brightness(95%);
  }

  .citeIcon {
    @include flex-center-vertical-horizontal(inline-flex);
    margin-right: 4px;
    vertical-align: top;
    svg {
      width: 16px;
      height: 16px;
    }

    // svg {
    //   width: 12px;
    //   height: 12px;
    // }
  }
}
