.itemWrapper {
  border-radius: 4px;
  border: solid 1px $gray300;
  background-color: white;
  padding: 16px 16px 12px 16px;
}

.btnGroupWrapper {
  margin-top: 12px;
  padding-top: 8px;
  border-top: 1px solid $gray200;
}
