.wrapper {
  position: relative;
  border-radius: 19px;
  margin-bottom: 20px;

  &.listOpened {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  }
}

.inputWrapper {
  position: relative;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 19px;
  border: solid 1px $gray2;
  background-color: $gray0;
  padding: 8px 12px 8px 32px;
  font-size: 14px;
  color: $black0;
  transition: border-radius 150ms ease;

  &:hover {
    border: solid 1px $gray3;
  }

  &:active {
    background-color: white;
  }

  &:focus {
    background-color: white;
  }

  &::placeholder {
    color: $gray4;
  }

  &.listOpened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: unset;
  }
}

.searchIcon {
  position: absolute;
  top: 0;
  left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 100%;
  color: $gray5;

  svg {
    width: 11px;
    height: 11px;
  }
}

.listWrapper {
  position: absolute;
  top: 34px;
  left: 0;
  right: 0;
  padding: 16px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  background-color: $gray10;
  border: solid 1px $gray2;
  border-top: 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.controlBtnsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.clearBtn {
  cursor: pointer;
  font-size: 16px;
  color: $gray5;
}

.applyBtn {
  cursor: pointer;
  font-size: 16px;
  color: $main_blue1;
}
