@import "../../../variables";

.formBox {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;

  width: 380px;
  height: 60px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px $space_gray2;
  margin: 0 auto 18.5px;

  .inputBox {
    border: 0;
    font-size: 18px;
    height: 100%;
    flex: 1;
  }

  .formBoxIconWrapper {
    display: inline-block;
    margin-left: 19px;
    margin-right: 16.7px;
    svg {
      width: 14.3px;
      height: 16.6px;
      object-fit: contain;
      color: $space_gray2;
    }
  }
}

.onFocusedInputBox {
  border: solid 1px $royal_blue1;
  path {
    fill: $royal_blue1;
  }

  .formBoxIconWrapper {
    svg {
      color: $royal_blue1;
    }
  }
}

.separatorLine {
  display: inline-block;
  width: 1px;
  height: 40px;
  border-left: solid 1px $space_gray2;
  margin-right: 9px;
}

.formError {
  border-color: $coral_pink;
  margin-bottom: 0px;

  .formBoxIconWrapper {
    svg {
      color: $coral_pink;
    }
  }
}
