@import "../../../variables";

.formBox {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;

  width: 272px;
  height: 39px;
  border-radius: 2px;
  background-color: #fff;
  border: solid 1px $space_gray2;
  overflow: hidden;
  margin: 8.5px auto;

  .inputBox {
    border: 0;
    font-size: 11px;
    height: 100%;
    flex: 1;
  }

  .formBoxIconWrapper {
    display: inline-block;
    margin-left: 13.4px;
    margin-right: 15.4px;

    svg {
      width: 10px;
      height: 8px;
      color: $space_gray2;
    }
  }
}

.onFocusedInputBox {
  border: solid 1px $royal_blue1;
  path {
    fill: $royal_blue1;
  }

  .formBoxIconWrapper {
    svg {
      color: $royal_blue1;
    }
  }
}

.separatorLine {
  display: inline-block;
  width: 1px;
  height: 40px;
  border-left: solid 1px $space_gray2;
  margin-right: 9px;
}

.formError {
  border-color: $coral_pink;
  margin-bottom: 0px;

  .formBoxIconWrapper {
    svg {
      color: $coral_pink;
    }
  }
}
