.formBox {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  height: 47px;
  border-radius: 3px;
  padding: 0 10px;
  background-color: white;
  border: solid 1px $gray400;
  overflow: hidden;
  margin: 8px auto 8px auto;

  &:focus {
    border: solid 1px $main_blue0;
    path {
      fill: $main_blue0;
    }

    .formBoxIconWrapper {
      svg {
        color: $main_blue0;
      }
    }
  }

  .inputBox {
    border: 0;
    font-size: 14px;
    height: 100%;
    flex: 1;
  }

  .formBoxIconWrapper {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    margin-right: 8px;

    svg {
      color: $gray400;
      width: 16px;
      height: 16px;
    }
  }
}

.errorContent {
  height: 14px;
  font-size: 12px;
  color: $red0;
  margin-top: 6px;
  margin-left: 4px;
}

.formError {
  border-color: $red0;
  margin-bottom: 0px;

  .formBoxIconWrapper {
    svg {
      color: $red0;
    }
  }
}
