.normalInputWrapper {
  display: flex;
  margin-top: 10px;
  width: 824px;
  height: 50px;
  border-radius: 8px;
  background-color: #fff;
  border: solid 1px $gray3;
  overflow: hidden;

  .inputBox {
    margin-left: 21px;
    border: 0;
    font-size: 16px;
    flex: 1;
    color: $gray6;

    &::placeholder {
      color: $gray4;
    }
  }
}

.searchInputWrapper {
  display: flex;
  width: 590px;
  height: $search-input-box-height;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  align-items: center;

  .inputBox {
    margin-left: 15px;
    border: 0;
    font-size: 16px;
    flex: 1;
    height: 100%;
    color: $gray6;

    &::placeholder {
      color: $gray4;
    }
  }

  .searchIconWrapper {
    margin-right: 20px;
    cursor: pointer;

    svg {
      width: 17px;
      height: 17px;
      color: $main_blue0;
    }
  }
}

.headerSearchInputWrapper {
  display: flex;
  height: $search-input-box-height;
  width: 550px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px $gray3;
  overflow: hidden;
  align-items: center;

  .inputBox {
    margin-left: 15px;
    border: 0;
    font-size: 16px;
    flex: 1;
    height: 100%;
    color: $gray6;

    &::placeholder {
      color: $gray4;
    }
  }

  .searchIconWrapper {
    margin-right: 13.5px;
    cursor: pointer;
    svg {
      width: 17px;
      height: 17px;
      color: $gray6;
    }
  }
  &:focus-within {
    border: solid 1px $gray5;
    transition: 0.3s ease-in-out;
  }
}

.hasError {
  border-color: $red0;
}

@media (max-width: $tablet_width) {
  .headerSearchInputWrapper {
    width: 420px;
  }
}
