@import "../../../variables";

.normalInputWrapper {
  display: flex;
  margin-top: 10px;
  width: 824px;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px $space_gray2;
  overflow: hidden;

  .inputBox {
    margin-left: 21px;
    border: 0;
    font-size: 16px;
    flex: 1;
  }
}

.searchInputWrapper {
  display: flex;
  width: 590px;
  height: 44px;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  align-items: center;

  .inputBox {
    margin-left: 15px;
    border: 0;
    font-size: 16px;
    flex: 1;
  }

  .searchIconWrapper {
    margin-right: 20px;
    cursor: pointer;

    svg {
      width: 14px;
      height: 14px;
    }
  }
}

.headerSearchInputWrapper {
  display: flex;
  width: 590px;
  height: 44px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px $space_gray16;
  overflow: hidden;
  align-items: center;

  .inputBox {
    margin-left: 15px;
    border: 0;
    font-size: 16px;
    flex: 1;
  }

  .searchIconWrapper {
    margin-right: 13.5px;
    cursor: pointer;

    svg {
      width: 17px;
      height: 17px;
    }
  }
}

.hasError {
  border-color: $coral_pink;
}
