.signUpContainer {
  max-width: $container_width;
  width: 100%;
  margin: 0 auto;

  .formContainer {
    display: flex;
    padding: 0 36px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-radius: 1.7px;
    background-color: #fff;
    border: solid 1px #d8dde7;
  }
}

.finalSignUpTitle {
  margin-top: 50px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2.7px;
  text-align: center;
  color: #666d7c;
}

.finalSignUpContent {
  margin-top: 23px;
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
  color: #9aa3b5;
  white-space: pre-line;
}

.finalSignUpIconWrapper {
  margin-top: 49px;

  svg {
    width: 98px;
    height: 83px;
  }
}

.finalSignUpSubmitButton {
  @include common-button($gray300);
  max-width: 331px;
  width: 100%;
  margin-top: 46.5px;
  margin-bottom: 28.7px;
}
