.viewCollectionBtn {
  margin-right: 8px;
}

.collectionName {
  font-weight: 700;
  color: white;
}

.snackbarContext {
  font-size: 16px;
  color: rgba(256, 256, 256, 0.8);
  padding-right: 48px;
}
