@import "../common";

.journalList {
  .journalItem {
    &:hover {
      .journalTitle {
        color: $main_blue1;
      }
    }

    .journalTitle {
      cursor: pointer;
      font-size: $paperInfo-mainText-fontSize;
      color: $paperInfo-mainText-color;
      line-height: $paperInfo-mainText-lineHeight;
      transition: $transition-ease;
    }

    .journalYear {
      margin-top: 4px;
      font-size: $paperInfo-subText-fontSize;
      color: $paperInfo-subText-color;
      line-height: $paperInfo-subText-lineHeight;

      .yearNumber {
        color: $gray6;
        font-weight: 500;
      }
    }

    .journalIF {
      margin-top: 0px;
      font-size: $paperInfo-subText-fontSize;
      color: $paperInfo-subText-color;
      line-height: $paperInfo-subText-lineHeight;

      .ifNumber {
        color: $gray6;
        font-weight: 500;
      }
    }
  }
}

.published {
  display: inline-block;
  width: $paperInfo-layout-width;
  vertical-align: top;
}
