@import "../../../variables";

.dialogPaper {
  width: 596px;
  height: 533px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(12, 0, 51, 0.1);
  padding: 0 16px;
}

.dialogHeader {
  position: relative;
  padding: 16px 0;
  border-bottom: solid 1px $gray4;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  color: $black0;
}

.closeButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;

  .closeIcon {
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    color: $black0;
    opacity: 0.5;
  }
}

.paperItemWrapper {
  margin-top: 16px;

  &:first-of-type {
    margin-top: 0;
  }
}

.contentSection {
  height: 314px;
  margin: 24px 0;
  overflow-y: scroll;
}

.checkBox {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  color: $gray5 !important;

  svg {
    font-size: 16px;
  }
}

.checkedCheckboxIcon {
  color: $main_blue0 !important;
}

.paperItemTitle {
  font-size: 16px;
  font-weight: 500;
  color: $navy0;
}

.footer {
  position: relative;
}

.buttonsWrapper {
  position: absolute;
  top: 0;
  right: 0;
}
