@import "../../variables";

.letterBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 5px;
  background-color: $gray3;
  margin-bottom: 16px;
}

.firstLetter {
  width: 24px;
  height: 24px;
  font-size: 28px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  height: 36px;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.38;
  color: $black0;
  margin-bottom: 8px;
}

.affiliation {
  height: 24px;
  font-size: 18px;
  line-height: 1.33;
  color: $gray6;
  margin-bottom: 36px;
}

.emailBox {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 24px;
  color: $gray6;
}

.emailIcon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin-right: 4px;

  svg {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 12px;
  }
}