@import "../../variables";

.articleCreateContainer {
  margin-top: $navbar-height;
  max-height: 1040px;

  .articleEditorBackground {
    @include s3-background-image("article-editor-background.jpg");
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 356px;
  }

  .innerContainer {
    max-width: $container-width;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    height: 100%;
  }
}

.title {
  padding-top: 60px;
  font-size: 24px;
  color: $royal_blue1;
}

.content {
  margin-top: 17.5px;
  font-size: 18px;
  color: $space_gray3;
}

.formContainer {
  margin: 39px auto 123.2px auto;
  background-color: #fff;
  box-shadow: 0 4px 6.5px 0 rgba(187, 194, 208, 0.48);
  max-width: 1100px;
  max-height: 1080.5px;

  .innerContainer {
    text-align: left;
    padding: 49px 0 71px 63px;

    span {
      color: #0c1020 !important;
      font-size: 22px !important;
    }

    svg {
      fill: #6096ff !important;
    }
  }
}

.stepButton {
  margin: 12px 0;
}
