@import "../../variables";

.articleCreateContainer {
  margin-top: $navbar-height;
  max-height: 100%;

  .articleEditorBackground {
    @include s3-background-image("article-editor-background@2x.jpg");
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 356px;
    background-size: 1500px;
  }

  .innerContainer {
    max-width: $container-width;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    height: 100%;
  }
}

.title {
  padding-top: 60px;
  font-size: 24px;
  color: $royal_blue1;
}

.content {
  margin-top: 17.5px;
  font-size: 18px;
  color: $space_gray3;
}

.formContainer {
  margin: 39px auto 123.2px auto;
  background-color: #fff;
  box-shadow: 0 4px 6.5px 0 rgba(187, 194, 208, 0.48);
  max-width: 1100px;

  .innerContainer {
    text-align: left;
    padding: 49px 0 71px 63px;

    & > div > div > span > span {
      padding-right: 21.5px !important;
    }

    & > div > div:nth-child(even) {
      margin-left: 15px !important;
      margin-bottom: 26.5px !important;
    }
  }
}

.stepBtns {
  margin-top: 18.5px;
  display: flex;
  flex-flow: row;

  .nextBtn {
    @include default-button($royal_blue1, 129.5px, 41.6px, 16px);
  }

  .deActiveNextBtn {
    @include not-valid-button(129.5px, 41.6px, 16px);
    cursor: not-allowed;
  }

  .backBtn {
    @include default-button(#fff, 129.5px, 41.6px, 16px);

    &:hover {
      background-color: inherit;
      color: inherit;
    }
  }
}

.stepContentContainer {
  margin-top: -9px;
  margin-left: 29px;
  padding-left: 37.5px;
  border-left: solid 1px #bbc2d0;
  height: 100%;
}

.smallTitle {
  padding-top: 5px;
  font-size: 16px;
  color: #656d7c;
}

.articleLongInputWrapper {
  display: flex;
  margin-top: 10px;
  width: 824px;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px #d9dee8;

  .inputBox {
    margin-left: 21px;
    border: 0;
    font-size: 16px;
    flex: 1;
  }
}

.articleBigInputWrapper {
  display: flex;
  margin-top: 10px;
  width: 824px;
  height: 50px;
  height: 230px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px #d9dee8;

  .inputBox {
    margin-left: 21px;
    border: 0;
    font-size: 16px;
    flex: 1;
  }
}

.articleCategoryBtn {
  margin-top: 10px;
  @include default-button(#fff, 244.5px, 50px, 16px);
  border: solid 1px $space_gray2;
  display: flex;
  align-items: center;
  color: #656d7c;
  padding-left: 15px;

  &:hover {
    background-color: #fff;
    color: $black_navy1;
  }
}

.arrowPointIconWrapper {
  display: flex;
  margin-left: 87.5px;
  align-items: center;

  svg {
    width: 12px;
    height: 9px;
  }
}

.dropDownMenuContainer {
  @include default-button(#fff, 244.5px, 178.5px, 14.7px);
  position: absolute;
  line-height: 0px;
  border: solid 1px $space_gray2;
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  color: $black_navy1;

  &:hover {
    background-color: #fff;
    color: $black_navy1;
    transform: none;
  }
}

.dropDownMenuItemWrapper {
  display: flex;
  align-items: center;
  margin-left: 16.4px;
  width: 244.5px;
  height: 44.625px;

  &:hover {
    color: $royal_blue1;
  }
}

.stepLabel {
  display: flex;
  flex-flow: row;
  margin-bottom: 20px;

  .checkedStepIconWrapper {
    svg {
      width: 32px;
      height: 32px;
    }
  }

  .stepLabelTitle {
    display: flex;
    align-items: center;
    margin-left: 22px;
    color: #0c1020;
    font-size: 22px;
  }

  .stepNumber {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    font-size: 16.2px;
    color: #fff;
    border-radius: 50%;
    background-color: #6096ff;
    font-weight: bold;
  }

  .deActive {
    background-color: #bbc2d0;
  }
}

.errorContent {
  margin-top: 8px;
  font-size: 16px;
  color: #ff3765;
}

.hasError {
  box-shadow: 0 0 0 1px #ff6e8f;
}
