

.signInContainer {
  max-width: $container_width;
  margin: 0 auto;

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 54px;
    border-radius: 1.7px;
    background-color: white;
    border: solid 1px $gray3;
  }
}

.title {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2.7px;
  text-align: center;
  color: $gray6;
  margin-top: 50px;
  margin-bottom: 23px;
}

.subtitle {
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
  color: $gray5;
  margin-bottom: 27px;
  white-space: pre-wrap;
}

.submitButton {
  @include common-button($main_blue0);
  margin-top: 42px;
}

.buttonSpinner {
  position: absolute;
  left: 20px;
}

.loadingSubmitButton {
  @include common-button($gray3);
  cursor: wait;
  margin-top: 42px;
  position: relative;
}

.errorContent {
  font-size: 14px;
  color: $red0;
  text-align: center;
  margin-top: 8px;
  margin-bottom: -25px;
}
