@import '../representativePublications/representativePublication.scss';

.dialogWrapper {
  width: 596px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(12, 0, 51, 0.1);
  padding: 0 16px;
}

.noPaperIcon {
  margin-top: 16px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 32px;
}

.noPaper {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $gray800;
}

.dialogHeader {
  margin-bottom: 12px;
  border-bottom: unset;

  .mainTitle {
    font-size: 20px;
    font-weight: bold;
    color: $black0;
  }
}

.description {
  font-size: 14px;
  line-height: 1.43;
  color: $gray600;
  margin-bottom: 12px;
}

.contentSection {
  overflow-x: hidden;
  height: 381px;
  margin: 18px 0;
}

.alreadyAddedPaper {
  font-size: 13px;
  color: $gray800;
  margin-bottom: 6px;
}

.paperItemWrapper {
  display: flex;
  flex-direction: row;
  width: 550px;
  margin: 8px 0;
  padding: 8px 0;

  &:hover {
    background-color: $gray30;
  }
}

.paperWrapper {
  flex-direction: column;
  color: $gray500;
  padding: 0 8px;
}

.paperItemTitleWrapper {
  display: flex;
}

.paperItemTitle {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 6px;
}

.paperMeta {
  display: flex;
  margin-bottom: 4px;

  svg {
    margin-top: 2px;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    margin-bottom: 0px;
    display: flex;
  }
}

.loadMoreButtonWrapper {
  display: flex;
  justify-content: center;
  margin: 24px 0 16px 0;
}

.loadMoreButton {
  height: 20px;
  color: $main_blue1;
  font-weight: bold;
  line-height: 1.43;
  font-size: 14px;
  cursor: pointer;

  span {
    display: inline-block;
    vertical-align: top;
  }
}

.titleWrapper {
  display: flex;
}

.checkIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;

  svg {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
  }
}

.downArrowIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: $main_blue1;

  svg {
    transform: rotate(180deg);
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 7px;
  }
}

.countBadge {
  display: inline-block;
  vertical-align: top;
  height: 26px;
  border-radius: 13px;
  background-color: rgba(96, 150, 255, 0.1);
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  padding: 0 12px;
  color: $main_blue0;
  margin-left: 8px;
}

.selectedPaperItemWrapper {
  max-height: 112px;
  height: 100%;
  overflow-y: auto;
  margin: 12px 0;
}

.selectedPaperItem {
  display: inline-flex;
  vertical-align: top;
  width: 250px;
  height: 24px;
  background-color: $gray200;
  font-size: 14px;
  line-height: 1.43;
  padding: 2px 0 2px 10px;
  color: $gray600;
  border-radius: 12px;
  margin-bottom: 8px;

  & + & {
    margin-left: 8px;
  }

  &:nth-child(odd) {
    margin-left: 0px !important;
  }
}

.noSelectedContent {
  @extend .selectedPaperItemWrapper;
  color: $gray600;
  font-size: 14px;
  line-height: 1.43;
  padding: 18px;
  text-align: center;
  font-weight: 500;
}

.paperTitleEllipsis {
  @extend %one-line-overflow-ellipsis;
  width: 218px;
}

.unSelectedButtonWrapper {
  display: inline-flex;
  vertical-align: top;
  margin: 3px;
  width: 16px;
  height: 16px;
  color: $gray500;

  .unSelectedButton {
    margin: 4px;
  }

  svg {
    display: inline-block;
    vertical-align: top;
    width: 6px;
    height: 6px;
  }

  &:hover {
    cursor: pointer;
  }
}

.footer {
  height: 50px;
}

.countSection {
  text-align: right;

  .selectedCount {
    font-size: 14px;
    color: $gray600;
  }
}

.noCountSection {
  display: none;
}
