@import "../../../../variables";
@import "../selectedPublications/selectedPublication.scss";

.noPaperIcon {
  margin-top: 16px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 32px;
}

.noPaper {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $gray6;
}

.dialogHeader {
  margin-bottom: 12px;
}

.description {
  font-size: 14px;
  line-height: 1.43;
  color: $gray5;
  margin-bottom: 12px;
}

.contentSection {
  height: 256px;
}

.contentSection {
  overflow-x: hidden;
}

.alreadyAdded {
  margin: 16px 0 6px 0;
  font-size: 13px;
  color: $gray6;
}

.paperItemWrapper {
  width: 550px;
  margin-top: 24px;
}

.addedPaperItemWrapper {
  margin-top: 0;
  color: $gray4;

  .paperItemTitle {
    color: $gray4;
  }
}

.paperItemTitleWrapper {
  display: flex;
  margin-bottom: 6px;
}

.paperItemTitle {
  display: inline-block;
  vertical-align: top;
}

.paperMeta {
  display: flex;

  svg {
    margin-top: 2px;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    margin-bottom: 0px;
    display: flex;
  }
}

.loadMoreButtonWrapper {
  display: flex;
  justify-content: center;
  margin: 24px 0 16px 0;
}

.loadMoreButton {
  height: 20px;
  color: $main_blue1;
  font-weight: bold;
  line-height: 1.43;
  font-size: 14px;
  cursor: pointer;

  span {
    display: inline-block;
    vertical-align: top;
  }
}

.titleWrapper {
  display: flex;
}

.checkIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  svg {
    display: inline-block;
    vertical-align: top;
    width: 11px;
    height: 8px;
  }
}

.downArrowIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: $main_blue1;

  svg {
    transform: rotate(180deg);
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 7px;
  }
}
