:export {
  navbarHeight: $navbar_height;
}

.paperShowPaperItemWrapper {
  max-width: $search_container_width;
  background-color: white;
  margin: 0 auto;
  max-width: 792px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  padding: 12px 16px 0 16px;
  border-radius: 5px;
  border: solid 1px #e7eaef;
  background-color: white;

  & + & {
    margin-top: 12px;
  }
}

.noPaperWrapper {
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .ufoIcon {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 59px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .noPaperDescription {
    font-size: 18px;
    color: $gray800;
    margin-top: 24px;
  }
}

.loadingContainer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-top: -24px;
}

.loadingSpinner {
  text-align: center;
  display: flex;
  align-items: center;

  div {
    background-color: $gray400 !important;
  }
}

.reloadIcon {
  display: inline-flex;

  svg {
    width: 24px;
    height: 24px;
  }
}

.reloadBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  height: 40px;
  padding: 4px 16px 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  background-color: $main_blue1;
  cursor: pointer;
  color: white;

  &:hover {
    background-color: $main_blue_light0;
    transition: $button-hover-transition;
  }
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 792px;
  margin-bottom: 16px;
}

.searchInputWrapper {
  width: 100%;
  max-width: 500px;
}

.sortBoxContainer {
  display: flex;
  align-items: center;
}

@media (max-width: $mobile_width) {
  .searchContainer {
    flex-direction: column;
    justify-content: flex-start;
  }

  .searchInputWrapper {
    width: 100%;
    max-width: unset;
    margin-bottom: 8px;
  }

  .sortBoxContainer {
    display: flex;
    justify-content: flex-end;
  }
}
