@import "../../../../variables";

%commonHeader {
  position: relative;
  display: flex;
  align-items: center;
  height: 67px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px $space_gray2;
}

.peerReviewComponent {
  margin-top: 10px;
}

.peerReviewContainer {
  width: $small-container-width;
  border: solid 1px $space_gray2;
  border-radius: 10px;
}

.openedHeader {
  @extend %commonHeader;
  height: 65px;
  border: 0;
}

.closedHeader {
  @extend %commonHeader;
}

.reviewContentWrapper {
  margin: 0 15px;
  border-top: 1px solid $space_gray2;
}

.headerLeftBox {
  position: absolute;
  left: 15px;
}

.headerRightBox {
  position: absolute;
  right: 28px;
}

.actionItemsWrapper {
  display: inline-block;
  vertical-align: top;
}

.scoreBox {
  padding-right: 31px;
  margin-right: 31px;
  height: 43px;
  border-right: solid 1px $space_gray2;
}

.scoreItem {
  display: inline-block;
  width: 10px;
  height: 25px;
  font-size: 15px;
  line-height: 1.67;
  color: $space_gray8;
  margin-left: 41px;

  &:first-of-type() {
    margin-left: 0px;
  }

  &:nth-of-type(n):hover {
    .scoreItemTooltip:nth-of-type(n) {
      opacity: 1;
    }
  }
}

.totalPoint {
  display: inline-block;
  margin-left: 45px;
  font-size: 16.5px;
  text-align: center;
  color: $black_navy1;
}

.starIcon {
  margin-right: 10px;

  svg {
    width: 15px;
    height: 15px;
  }
}

.commentIcon {
  margin-left: 22px;
  margin-right: 10px;

  svg {
    width: 14px;
    height: 14px;
  }
}

.rightItem {
  font-size: 15px;
  line-height: 1.67;
  text-align: center;
  color: $black_navy1;
}

.toggleButtonWrapper {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  cursor: pointer;
  height: 100%;
}

.toggleButton {
  svg {
    width: 13px;
    height: 7.5px;
  }
}

.footer {
  padding: 0 26px;
}

.createdAt {
  font-size: 12px;
  line-height: 2;
  color: $space_gray1;
  text-align: right;
}
