.itemWrapper {
  display: block;
  position: relative;
  width: 792px;
  height: 96px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: white;
  padding: 16px;

  & + & {
    margin-top: 16px;
  }

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    transition: 0.2s ease-in-out;
  }
}

.userImg {
  display: inline-block;
  vertical-align: top;
  width: 64px;
  height: 64px;
  border-radius: 4px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-right: 16px;
}

.nameAffiliationBox {
  display: inline-block;
  vertical-align: top;
}

.name {
  @extend %one-line-overflow-ellipsis;
  width: 290px;
  font-size: 18px;
  font-weight: 500;
  color: $black0;
  margin-bottom: 2px;
  height: 24px;
  line-height: 24px;
}

.affiliation {
  @extend %one-line-overflow-ellipsis;
  width: 280px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: $gray800;
  margin-bottom: 4px;
}

.fosList {
  @extend %one-line-overflow-ellipsis;
  width: 329px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  color: $gray600;
}

.metaItem {
  display: inline-block;
  vertical-align: top;
  width: 106px;

  .metaTitle {
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 500;
    color: $gray600;
    margin-bottom: 4px;
  }

  .metaContent {
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    color: $black0;
  }

  & + & {
    margin-left: 16px;
  }
}

.contactIconWrapper {
  display: inline-block;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-left: 8px;

  .occupiedIcon {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
  }
}

.metaBox {
  display: inline-flex;
  position: absolute;
  right: 0;
  justify-content: space-between;
}

.verificationTooltip {
  background-color: $gray300 !important;
  color: $black0 !important;
  font-size: 12px;
}

@media (max-width: $search_container_width + 32px) {
  .name {
    width: 190px;
  }

  .affiliation {
    width: 190px;
  }

  .fosList {
    width: 190px;
  }

  .metaItem {
    width: 80px;
  }

  .metaBox {
    margin-top: 16px;
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .itemWrapper {
    display: block;
    width: 100%;
    height: 160px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: white;
    padding: 16px;

    & + & {
      margin-top: 16px;
      margin-left: 0;
    }

    &:hover {
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
    }
  }
}

@media (max-width: 360px) {
  .metaItem {
    width: 60px;
  }
}
