%common-note {
  display: inline-block;
  margin: auto;
  width: 284px;
  vertical-align: top;
}

.note {
  @extend %common-note;
  border-radius: 8px;
  overflow-x: hidden;

  &:hover {
    .noteButtonWrapper {
      opacity: 1;
      transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .noteButtonWrapper {
    position: absolute;
    opacity: 0;
    display: inline-block;
    top: 12px;
    right: 12px;
    z-index: 2;

    .noteControlIcon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      background-color: $gray50;
      border-radius: 2px;
      color: $gray600;
      cursor: pointer;

      &:hover {
        &.penIcon {
          color: $main_blue1;
        }

        &.trashIcon {
          color: $red0;
        }
      }

      svg {
        width: 15px;
        height: 15px;
      }
    }

    .noteControlIconWrapper + .noteControlIconWrapper {
      margin-left: 4px;
    }
  }

  .memoItem {
    width: 284px + 17px;
    padding: 12px;
    padding-right: 12px + 17px;
    border-radius: 8px;
    background-color: $gray50;
    color: $gray800;
    font-size: 14px;
    line-height: 1.4;
    white-space: pre-wrap;
    overflow-y: scroll;
  }
}

.memoForm {
  @extend %common-note;
  position: relative;
  border-radius: 8px;
}

.memoTextarea {
  height: 21px;

  &::placeholder {
    color: $gray400;
  }
}
