.dropBoxWrapper {
  width: 588px;
  height: 639px;
  border-radius: 4px;
  box-shadow: 0 8px 24px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 24px;
  margin-top: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controlBtnsWrapper {
  display: flex;
  justify-content: space-between;
}

.clearBtn {
  cursor: pointer;
  font-size: 16px;
  color: $gray5;
}

.applyBtn {
  cursor: pointer;
  font-size: 16px;
  color: $main_blue1;
}

.journalListWrapper {
  height: 496px;
  overflow-y: auto;
  margin-bottom: 24px;
}

@media (max-width: $mobile-width) {
  .dropBoxWrapper {
    width: 100vw;
    padding: 12px;
  }
}
