

.authorItem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 4px;
  border: solid 1px $gray2;
  overflow: hidden;
  padding: 8px 12px;
  width: 261.5px;
  margin-bottom: 8px;
  overflow: hidden;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    border-radius: 4px;
    background-color: $gray0;
    cursor: pointer;
  }
}

.hIndexWrapper {
  position: absolute;
  top: 8px;
  right: 12px;
}

.coAuthorName {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  color: $black0;
  margin-right: 10.5px;
  max-width: 148px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 2px;
}

.coAuthorAffiliation {
  display: inline-block;
  font-size: 11px;
  color: $gray6;
  max-width: 236px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
