.arrowTopTooltip {
  background-color: $black0 !important;
  color: white !important;
  font-size: 14px !important;
  margin-bottom: 6px !important;
  width: 235px !important;
  padding: 12px !important;

  &:after {
    content: '';
    position: absolute;
    left: 70%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: $black0;
    border-top: 0;
    margin-top: -40px;
    z-index: 2;
  }
}

// Mobile
@media (max-width: $mobile_width) {
  .arrowTopTooltipWrapper {
    display: none;
  }

  .arrowTopTooltip {
    &:after {
      left: 50%;
    }
  }
}
