.sideNavigationBlockHeader {
  width: 100%;
  font-weight: 700;
  color: $black1;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.relatedPapers {
  margin-top: 16px;
  padding: 16px;
  background-color: $gray0;
  width: 384px;
  border-radius: 4px;
  border: 1px solid $gray7;

  .relatedPaperList {
    .relatedPaperItem + .relatedPaperItem {
      margin-top: 16px;
    }
    .relatedPaperItem {
      img {
        width: 100%;
      }
    }
  }
}
