.itemWrapper {
  position: relative;
  padding: 8px;

  .hoverButtonWrapper {
    position: absolute;
    right: 0;
    margin-right: 8px;
    display: none;

    .hoverButton {
      width: 16px;
      height: 16px;
      cursor: pointer;

      svg {
        color: $gray6;
        width: 11px;
        height: 10px;
      }
    }

    .hoverButton + .hoverButton {
      margin-left: 8px;
    }
  }

  &:hover {
    background-color: $gray0;

    .hoverButtonWrapper {
      display: unset;
    }
  }

  .dateSectionWrapper {
    vertical-align: top;
    display: inline-block;
    padding: 0 8px;
    margin-right: 16px;
    font-size: 13px;
    line-height: 1.54;
    color: $gray6;

    .dateContent {
      width: 70px;
      display: flex;
    }
  }

  .contentWrapper {
    display: inline-block;
    width: 570px;

    .affiliationContent {
      display: flex;
      font-size: 15px;
      font-weight: bold;
      line-height: 1.6;
      color: $black0;
    }
    .awardTitleContent {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      color: $black0;
    }
    .subAffiliationContent {
      display: flex;
      font-size: 13px;
      line-height: 1.54;
      color: $gray6;
    }
    .detailDescriptionSection {
      font-size: 12px;
      line-height: 1.33;
      word-break: break-all;
      color: $black0;
    }
  }
}
