.itemWrapper {
  position: relative;
  padding: 8px;

  .hoverButtonWrapper {
    position: absolute;
    right: 0;
    margin-right: 8px;
    display: none;

    .hoverEditButton {
      width: 16px;
      height: 16px;
      cursor: pointer;

      svg {
        color: $gray5;
        width: 13px;
        height: 13px;
      }
    }

    .hoverDeleteButton {
      @extend .hoverEditButton;
      margin-left: 8px;
      vertical-align: text-top;

      svg {
        width: 11px;
        height: 10px;
      }
    }
  }

  &:hover {
    background-color: $gray0;

    .hoverButtonWrapper {
      display: unset;
    }
  }

  .dateSectionWrapper {
    vertical-align: top;
    display: inline-block;
    padding: 0 8px;
    margin-right: 14px;
    margin-top: 2px;
    font-size: 13px;
    line-height: 1.54;
    color: $gray6;

    .dateContent {
      width: 88px;
      display: flex;
    }
  }

  .contentWrapper {
    display: inline-block;
    width: 550px;

    .affiliationContent {
      display: flex;
      font-size: 15px;
      font-weight: bold;
      line-height: 1.6;
      color: $black0;
    }

    .awardTitleContent {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      color: $black0;
    }

    .mainAffiliationContent {
      display: flex;
      font-size: 14px;
      line-height: 0.93;
      color: $black0;
      margin-top: 8px;
    }

    .subAffiliationContent {
      display: flex;
      font-size: 13px;
      line-height: 1.54;
      color: $gray6;
    }

    .relatedLinkContent {
      @extend .subAffiliationContent;

      &:hover {
        text-decoration: underline;
      }
    }

    .detailDescriptionSection {
      display: flex;
      font-size: 12px;
      line-height: 1.33;
      word-break: break-all;
      color: $black0;
    }

    .subDescriptionContent {
      display: flex;
      font-size: 12px;
      line-height: 1.33;
      color: $gray5;
      margin-top: 8px;
    }
  }
}

// Mobile (0~768)
@media (max-width: $mobile_width) {
  .container {
    display: block;
    width: $mobile-container-width;
    margin-left: 0;
    margin-right: 0;

    .rightBox {
      width: $regular-display-paper-show-rightBox-width;
    }
  }

  .leftContentWrapper {
    width: $mobile-container-width;
    padding: 10px;
  }

  .itemWrapper {
    padding: 0;

    &:hover {
      .hoverButtonWrapper {
        display: none;
      }
    }

    .dateSectionWrapper {
      padding: 0;
      margin-right: 24px;
    }

    .contentWrapper {
      width: $mobile-cv-info-layout-width;
    }
  }

  .rightContentWrapper {
    display: none;
  }
}
