.questionContainer {
  max-width: 342px;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: $black0;
}

.description {
  font-size: 14px;
  color: $gray800;
}

.answersWrapper {
  margin: 16px 0;

  .answerWrapper + .answerWrapper {
    margin-top: 16px;
  }
}

.answerWrapper {
  .label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .answerRadioBtn {
    display: inline-block;
    visibility: top;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:checked + .answerDesc {
      color: $main-blue1;
    }
  }

  .answerDesc {
    margin-left: 8px;
    font-size: 16px;
    color: $black0;
  }

  &:hover {
    .answerDesc {
      color: $main-blue1;
    }
  }
}
