.journalItem {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  color: $gray9;
  cursor: pointer;
  text-align: left;
  padding: 2px 0;

  & + & {
    margin-top: 8px;
  }

  &:hover {
    color: $dark-blue0;
  }

  &.isSelected {
    color: $main_blue1;
  }
}

.title {
  @extend %one-line-overflow-ellipsis;

  display: inline-block;
  vertical-align: top;
  width: 415px;
}

.ifLabel {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  right: 78px;
  opacity: 0.9;
  font-size: 14px;
  text-align: right;
  color: $main_blue0;
}

.ifIconWrapper {
  margin-right: 4px;

  svg {
    width: 10px;
    height: 10px;
    color: $main_blue0;
  }
}

.countBox {
  position: absolute;
  right: 0;
  font-size: 16px;
  color: $gray9;
}

.arrowBottomTooltip {
  background-color: #606269 !important;
  color: white !important;
  font-size: 10px !important;
  margin-bottom: 6px !important;
}
