.buttonWrapper {
  flex: 1 0 auto;
}

.buttonWrapper + .buttonWrapper {
  margin-left: 8px;
}

.citeButton {
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: $gray50 !important;
  color: $black0 !important;
  border: 0 !important;
}
