.buttonWrapper {
  flex: 1 0 auto;

  button,
  a {
    width: 100%;
    justify-content: center;
  }
}

.buttonWrapper + .buttonWrapper {
  margin-left: 8px;
}

.citeButton {
  width: 100%;
  height: 100%;
  justify-content: center;

  button {
    width: 100%;
  }
}
