@import "../../variables";

.errorPageContainer {
  max-width: $container_width;
  margin: $navbar_height auto 229.7px auto;
  max-height: 100%;
  text-align: center;
}

.errorBackground {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 122px;
  z-index: -1;
  width: 771.5px;
  height: 247px;
}

.errorNum {
  margin-top: 226.5px;
  font-size: 120px;
  font-weight: bold;
  letter-spacing: 12.9px;
  color: $royal_blue1;
}

.errorContent {
  margin-top: 31.5px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.7px;
  color: $space_gray3;
}

.goBackButton {
  margin-top: 62px;
  @include default-button($light_royal_blue2, 200px, 60px, 18px);
  display: inline-block;
}
