.form {
  border-radius: 8px;
  background-color: white;
  border: solid 1px $gray300;

  &:hover {
    .editButtonWrapper.hideEditButtonWrapper {
      opacity: 1;
    }
  }

  &:focus-within {
    border: solid 3px #e7eaef;
  }
}

.editButtonWrapper {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;

  &.hideEditButtonWrapper {
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.noteTextArea {
  &::placeholder {
    color: $gray400;
  }
}

.noteEditButton {
  padding: 2px 8px;
  border-radius: 8.5px;
  background-color: $gray50;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;

    .doneButton {
      color: $gray500;
    }
  }

  & + & {
    margin-left: 4px;
  }

  &:hover {
    background-color: $gray300;

    .cancelButton {
      color: $red0;
    }
  }

  .doneButton {
    color: $main_blue0;
  }
  .cancelButton {
    color: $black1;
  }
}

.loadingButton > div {
  width: 6px !important;
  height: 6px !important;
  margin-right: 4px !important;

  &:last-of-type {
    margin-right: 0 !important;
  }
}
