$notie-box-shadow: unset;
$notie-color-neutral: $gray800;
$notie-font-size-mobile: 1rem;
$notie-font-size-tablet: 1rem;
$notie-font-size-desktop: 1rem;
$notie-font-size-widescreen: 1rem;
$notie-content-width: 700px;

.notie-container {
  margin: 0 auto;
  background-color: transparent !important;
  padding: 0;
  height: 60px;
  margin-bottom: 30px;
}

.notie-background-success {
  .notie-textbox-inner {
    background-color: $green0;
  }
}

.notie-background-warning {
  .notie-textbox-inner {
    background-color: $yellow0;
  }
}

.notie-background-error {
  .notie-textbox-inner {
    background-color: $red1;
  }
}

.notie-background-info {
  .notie-textbox-inner {
    background-color: $gray800;
  }
}

.notie-textbox-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-width: 700px;
  height: 60px;
  width: fit-content;
  padding: 0 40px;
}
