$notie-color-success: $green0;
$notie-color-warning: $yellow0;
$notie-color-error: $red0;
$notie-color-info: $gray800;
$notie-color-neutral: $gray800;
$notie-font-size-mobile: 1rem;
$notie-font-size-tablet: 1rem;
$notie-font-size-desktop: 1rem;
$notie-font-size-widescreen: 1rem;

@import '../../node_modules/notie/src/notie';

.notie-container {
  margin: 0 auto;
  background-color: transparent;
  padding: 0;
  height: 60px;
  box-shadow: none;
  margin-bottom: 30px;
}

.notie-textbox-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray800;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-width: 700px;
  height: 100%;
  width: fit-content;
  padding: 0 40px;
}
