.label {
  color: $gray800;
}

.starBadgeIcon {
  display: inline-block;
  vertical-align: bottom;
  width: 18px;
  height: 18px;
  margin-bottom: 1px;
  color: $gray600;
}

.text {
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: $mobile_width) {
  .starBadgeIcon {
    width: 16px;
    height: 16px;
  }

  .text {
    display: inline-block;
    vertical-align: text-top;
    font-size: 14px;
  }
}
