.label {
  color: $gray800;
}

.starBadgeIcon {
  display: inline-block;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
  margin: 0 2px 0 4px;
  color: $gray600;
}

.text {
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: $mobile_width) {
  .starBadgeIcon {
    width: 14px;
    height: 14px;
    margin-bottom: 0px;
    vertical-align: text-bottom;
  }

  .text {
    display: inline-block;
    font-size: 13px;
    height: 16px;
  }
}
