.label {
  color: $gray800;
  display: inline-flex;
  vertical-align: middle;
}

.starBadgeIcon {
  display: inline-flex;
  vertical-align: bottom;
  margin: 0 2px 0 4px;
  color: $gray600;

  svg {
    width: 16px;
    height: 16px;
  }
}

.text {
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: $mobile_width) {
  .starBadgeIcon {
    margin-bottom: 0px;
    vertical-align: text-bottom;

    svg {
      width: 14px;
      height: 14px;
    }
  }

  .text {
    display: inline-block;
    font-size: 13px;
    height: 16px;
  }
}
