@import "../../../../variables";

.abstract {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.4;
  color: $space_gray18;
  word-break: break-word;

  .searchQuery {
    font-weight: 900;
  }
}

// Mobile
@media (max-width: $mobile-width) {
  .abstract {
    margin-top: 10px;
    font-size: 13px;
    max-height: 134px;
    overflow: hidden;
  }
}
