@import "../../../../variables";

.commentInputContainer {
  display: flex;
  align-items: center;
  border-top: solid 1px $light_royal_blue2;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;

  .commentsButton {
    display: flex;
    margin-left: 27.5px;
    padding: 11px;
    cursor: pointer;
    align-items: center;
    flex: 1 1;

    .commentIconWrapper {
      margin-left: 10px;
      display: flex;

      svg {
        width: 19.3px;
        height: 6.5px;
      }
    }

    .commentsTitle {
      margin-left: 8px;
      font-size: 13px;
      color: $space_gray19;
    }

    .commentsCount {
      margin-left: 7px;
      font-size: 13px;
      color: $royal_blue1;
    }
  }

  .rightBox {
    display: flex;

    .inputBox {
      height: unset;

      textarea {
        box-sizing: content-box;
      }
    }

    .submitButton {
      margin-left: 12px;
      width: 89.5px;
      height: 36px;
      border-radius: 2px;
      background-color: $royal_blue1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: #fff;
      padding: 0;
      cursor: pointer;

      &:hover {
        background-color: $royal_blue2;
      }

      &:disabled {
        &:hover {
          transform: none;
        }

        background-color: $space_gray2;
        cursor: not-allowed;
      }
    }

    .loadingSubmitButton {
      margin-left: 12px;
      width: 89.5px;
      height: 36px;
      border-radius: 2px;
      background-color: $space_gray2;
      cursor: not-allowed;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      color: #fff;
      padding: 0;
      position: relative;

      .buttonSpinner {
        position: absolute;
        left: 8px;
        top: 11px;

        div {
          width: 9.5px;
          height: 9.5px;
        }
      }
    }
  }
}
