@import "../../../../variables";

$additionalMenuIconClickableWidth: 20px;
$additionalMenuIconClickableheight: 28px;

.comment {
  display: flex;
  border-top: solid 1px $light_royal_blue2;
  padding: 10px;
  position: relative;

  .authorInfo {
    width: 160px;
    margin-right: 35.4px;
    word-break: break-word;

    .author {
      font-size: 14px;
      color: $black_navy1;
    }

    .institution {
      margin-top: 4px;
      font-size: 12px;
      line-height: 1.33;
      color: $space_gray21;
    }
  }

  .commentContent {
    font-size: 13px;
    line-height: 1.62;
    color: $space_gray3;
    max-width: 588.3px;
    word-break: break-word;
    white-space: pre-line;
  }
}

.additionalMenuWrapper {
  position: absolute;
  top: 12px;
  right: 15px;
  width: $additionalMenuIconClickableWidth;
  height: $additionalMenuIconClickableheight;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .additionalMenuIcon {
    width: $additionalMenuIconClickableWidth;
    height: $additionalMenuIconClickableheight;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }
  }

  .additionalMenuHiddenLayer {
    position: relative;
  }

  .commentMoreItemButton {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;

    svg {
      width: 4px;
      height: 20px;
    }
  }
}
