@import "../../../../variables";

.comments {
  display: flex;
  flex-direction: column;

  .moreButton {
    display: flex;
    justify-content: center;
    border-top: solid 1px $light_royal_blue2;
    font-size: 13px;
    color: $dark_navy2;
    padding-top: 8.5px;
    margin-bottom: 9.5px;
    cursor: pointer;
    text-decoration: underline;

    &.isLoading {
      cursor: wait;
    }
  }

  .buttonSpinner {
    margin-right: 10px;
  }
}
