@import "../../../../variables";

.comments {
  display: flex;
  flex-direction: column;

  .comment {
    display: flex;
    border-top: solid 1px $light_royal_blue2;
    padding: 10px;

    .authorInfo {
      width: 160px;
      margin-right: 35.4px;
      word-break: break-word;

      .author {
        font-size: 14px;
        color: $black_navy1;
      }

      .institution {
        margin-top: 4px;
        font-size: 12px;
        line-height: 1.33;
        color: $space_gray21;
      }
    }

    .commentContent {
      font-size: 13px;
      line-height: 1.62;
      color: $space_gray3;
      max-width: 588.3px;
    }
  }
}
