@import "../../../../variables";

.searchItemWrapper {
  margin-top: 12px;
  max-width: 895px;
  border-bottom: solid 1px $space_gray16;

  &:first-of-type {
    margin-top: 0;
  }
}

.contentSection {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8;
    color: $black_navy1;
  }
}
