@import "../../../../variables";

.searchItemWrapper {
  margin-top: 16px;
  max-width: $search_container_width;
  border-bottom: solid 1px $space_gray16;

  &:first-of-type {
    margin-top: 0;
  }
}

.contentSection {
  display: flex;
  flex-direction: column;
}

.titleWrapper {
  position: relative;
}

.claimButton {
  position: absolute !important;
  right: 16px;
  top: 0;
  bottom: 0;
  width: 18px;
  height: 100%;
}
