.bannerContainer {
  height: 80px;
  width: 100%;
  z-index: 100;
  position: fixed;
  display: flex;
  bottom: 0;
  background-color: $black0;
}

.bannerWrapper {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.titleContext {
  font-size: 12px;
  letter-spacing: 1.5px;
  color: $gray400;
  margin-bottom: 2px;
}

.mainContext {
  font-size: 20px;
  color: white;
}
.buttonWrapper {
  display: flex;
  align-items: center;
}

.subContext {
  font-size: 16px;
  color: $gray600;
  margin-right: 16px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.signUpBtn {
  width: 128px;
  height: 52px;
  border-radius: 4px;
  background-color: $main_blue1;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: $main_blue_light0;
    transition: $button-hover-transition;
  }
}

@media (max-width: $tablet-width) {
  .bannerContainer {
    display: none;
  }
}
