.speechBubble {
  position: absolute;
  margin-top: 40px;
  border-radius: 4px;
  right: 0;
  width: 371px;
  background-color: $dark-blue0;
  z-index: 999;
}

.contentWrapper {
  overflow: unset;
  padding: 20px;
  color: white;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 88%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: $dark-blue0;
    border-top: 0;
    margin-left: -14px;
    margin-top: -10px;
    z-index: 2;
  }
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.subText {
  font-size: 16px;
}

.mainText {
  font-size: 16px;
  ul {
    list-style: none;
    padding: 0px;
    line-height: 1;
    margin: 0px;
    margin-top: 8px;
  }

  li:before {
    content: '-';
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
  }
}

.okBtnWrapper {
  display: flex;
  justify-content: flex-end;
}

.okBtn {
  font-size: 16px;
  padding: 4px;
  border-radius: 4px;
  color: white;
  cursor: pointer;

  &:hover {
    font-weight: 500;
  }
}
