.pageWrapper {
  display: flex;
  justify-content: center;
}

.authWrapper {
  width: 100%;
  min-height: 100vh;
  background-color: $gray30;
}

.contentWrapper {
  margin: 180px auto;
  width: 100%;
  max-width: 794px;
  border-radius: 1.7px;
  background-color: #fff;
  border: solid 1px #d8dde7;
  position: relative;
  overflow-y: hidden;
}

@media (max-width: $tablet_width) {
  .contentWrapper {
    max-width: 384px;
  }
}
