.openBoxWrapper {
  position: relative;
}

.boxWrapper {
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  width: 580px;
  position: absolute;
  top: 61px;
  right: 0;
  background-color: white;
}

.historyIcon {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  margin-right: 2px;
  color: $gray600;
}

.sectionTitle {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: 500;
  color: $gray800;
}

.countBtn {
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
  border-radius: 9.5px;
  background-color: $gray500;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 5px 5px 3px 5px;
  cursor: pointer;
}

.paperListWrapper {
  padding: 16px;
  max-height: 458px;
  overflow-y: auto;
}

.noHistoryContext {
  font-size: 14px;
  font-weight: 500;
  color: $gray600;
  line-height: 2;
}

.historyItemWrapper {
  margin-top: 8px;

  & + & {
    margin-top: 48px;
  }
}

.dayLabel {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
  border-bottom: 1px solid #efefef;
  padding-bottom: 8px;
}
