@import "../../../../variables";

.scoreGraphWrapper {
  display: flex;
  width: 580px;
  height: 35px;
  border-radius: 17.5px;
  border: solid 1px $space_gray2;
  margin: 26px auto 18px auto;
}

.title {
  font-size: 24px;
  line-height: 1.04;
  text-align: left;
  color: $black_navy1;
  margin-bottom: 26.5px;
}

.stepWrapper {
  width: 700.5px;
  margin: 0 auto 27px auto;
}

.contentWrapper {
  border-radius: 10px;
  border: solid 2px $space_gray7;
  padding: 28px 40px 35px 40px;
}

.scoreItem {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  color: $space_gray1;
}

.activeScore {
  border-radius: 21px;
  background-color: $royal_blue1;
  font-size: 16px;
  color: #fff;
}

.commentInputWrapper {
  display: flex;
  align-items: center;
  height: 102px;
  background-color: $light_royal_blue3;
  padding-left: 22.5px;
  padding-right: 30.5px;
}

.commentWrapper {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 507.5px;
  line-height: 25px;
  font-size: 17px;
  background-color: transparent;
  border: none;
  overflow: auto;
  outline: none;
}

.inputWrapper {
  display: flex;
  align-items: center;
}

.stepButtonContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $space_gray1;
  padding: 0;

  div {
    text-align: left;
    width: 100%;
  }
}

.stepNumber {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  height: 29.5px;
  margin-bottom: 2.5px;
}

.stepTitle {
  height: 27px;
  font-family: SpoqaHanSans;
  font-size: 18px;
  text-align: left;
}

.activeStep {
  color: $royal_blue1;
}
