.articleSearchFormContainer {
  margin-top: $navbar_height;
  font-family: $fallback;
}

.searchFormInnerContainer {
  width: 100%;
  height: 520px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.subTitle {
  font-size: 18px;
  letter-spacing: -0.3px;
  color: #667f98;
  margin: 12px 0 8px 0;
  text-align: center;
}

.instituteName {
  text-align: center;
  font-size: 18px;
  color: #667f98;
  letter-spacing: -0.3px;

  b {
    font-weight: 500;
  }
}

.catchphrase {
  font-size: 16px;
  text-align: center;
  margin: 24px 0 56px 0;
  color: #6f8398;
}

.updateNotiBar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 460px;
  height: 38px;
  padding: 8px 10px;
  border-radius: 19px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #dde2ee;
  background-color: white;
}

.notiContext {
  font-size: 14px;
  color: #424b5f;

  .notiLink {
    color: $main-blue0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.newLabel {
  padding: 4px 12px;
  border-radius: 13px;
  margin-right: 16px;
  background-color: $green0;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  color: white;
}

.cumulativeCountContainer {
  position: absolute;
  bottom: 48px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #6f8398;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  line-height: 1.3;
}

.downIcon {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: #6f8398;

  svg {
    width: 24px;
    height: 24px;
  }
}

.searchInputForm {
  width: 590px;
  position: relative;
  border-radius: 6px;
  margin-top: 48px;

  &:focus {
    outline: none;
  }
}

.searchInput {
  display: flex;
  width: 100%;
  height: 48px;
  border: 0;
  border-radius: 6px;
  line-height: 1.5;
  color: $black0;
  background-color: white;
  overflow: hidden;
  align-items: center;
  padding: 0 112px 0 16px;
}

.searchFormContainer {
  position: relative;
  background-color: $gray100;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: calc(100vh - 64px);
  min-height: 600px;
  padding-top: 8%;
  z-index: 0;
}

.scinapseHomeLogo {
  svg {
    width: 157px;
    height: 114px;
  }
}

:global(.no-webp) .searchFormContainer {
  background-image: url('https://assets.pluto.network/scinapse-new-background.png');
  background-size: cover;
}

:global(.webp) .searchFormContainer {
  background-image: url('https://assets.pluto.network/scinapse-new-background.webp');
  background-size: cover;
}

.contentBlockDivider {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: $gray400;
  margin-bottom: 44px;
}

.trendingPaperWrapper {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  position: relative;
}

@media (max-width: $mobile_width) {
  .title {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
  }

  .searchFormInnerContainer {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .searchFormContainer {
    position: relative;
    background-color: $gray100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
  }

  .formWrapper {
    width: 100%;
  }

  .inputBox {
    width: 100%;
    margin-top: 24px;
  }

  .searchInputForm {
    width: 100%;
    padding: 0 15px;
  }

  .updateNotiBarWrapper {
    padding: 0 16px;
  }

  .updateNotiBar {
    height: 100%;
  }

  .catchphrase {
    margin: 24px 0 32px 0;
    padding: 0 4px;
  }

  .cumulativeCountContainer {
    position: relative;
    bottom: 0;
    margin: 24px 0;
  }

  .downIcon {
    position: relative;
    bottom: 0;
    margin: 16px 0;
  }
}
