.textarea {
  width: 100%;
  height: 80px;
  border: solid 1px $gray3;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 1.5;
  margin: 0;
  padding: 13px 15.5px;
  resize: none;
}
