.itemWrapper {
  display: inline-block;
  width: 386px;
  height: 98px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid $gray300;
  background-color: white;
  padding: 16px;

  & + & {
    margin-left: 20px;
  }

  &:hover {
    border-color: $gray400;
    transition: 0.2s;
  }
}

.userImg {
  display: inline-block;
  vertical-align: top;
  width: 61px;
  height: 60px;
  border-radius: 8px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-right: 16px;
}

.nameAffiliationBox {
  display: inline-block;
  vertical-align: top;
}

.name {
  @extend %one-line-overflow-ellipsis;
  width: 274px;
  font-size: 18px;
  font-weight: 500;
  color: $black0;
  margin-bottom: 4px;
  height: 24px;
  line-height: 24px;
}

.affiliation {
  @extend %one-line-overflow-ellipsis;
  width: 274px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: $gray800;
  margin-bottom: 4px;
}

.fosList {
  @extend %one-line-overflow-ellipsis;
  width: 274px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 16px;
  color: $gray600;
}

.contactIconWrapper {
  display: inline-block;
  justify-content: center;
  align-items: center;

  .occupiedIcon {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
  }
}

.verificationTooltip {
  background-color: $gray300 !important;
  color: $black0 !important;
  font-size: 12px;
}

@media (max-width: $search_container_width + 32px) {
  .name {
    max-width: 190px;
    width: 100%;
  }

  .affiliation {
    max-width: 190px;
    width: 100%;
  }

  .fosList {
    max-width: 190px;
    width: 100%;
  }

  .itemWrapper {
    display: flex;
    width: 100%;
    height: 96px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 $gray300;
    background-color: white;
    padding: 16px;

    & + & {
      margin-top: 16px;
      margin-left: 0;
    }
  }
}
