.dialogWrapper {
  max-width: 100%;
  width: 504px;
  padding: 16px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 24px 32px 0 rgba(12, 0, 51, 0.1);

  button {
    cursor: pointer;
  }
}

.header {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  color: $black0;
  margin-bottom: 16px;
}

.contentWrapper {
  margin-bottom: 16px;
}

.editForm {
  input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: solid 1px $gray500;
    font-size: 14px;
    padding: 8px;
    color: $gray800;

    &::placeholder {
      color: $gray500;
    }
  }

  textarea {
    display: block;
    width: 100%;
    height: 110px;
    border-radius: 4px;
    border: solid 1px $gray500;
    font-size: 14px;
    padding: 8px;
    resize: vertical;
    color: $gray800;

    &::placeholder {
      color: $gray500;
    }
  }

  label {
    display: flex;
    font-size: 13px;
    line-height: 1.5;
    color: $gray800;
    margin-bottom: 4px;
    span {
      display: inline-block;
      &.labelText {
        font-weight: 500;
      }
      &.textCounter {
        margin-left: auto;
        color: $gray500;
      }
    }
  }

  .formControl + .formControl {
    margin-top: 16px;
  }
}

.footer {
  position: relative;
  width: 100%;
  height: 40px;

  .rightBox {
    position: absolute;
    top: 0;
    right: 0;

    .cancelBtn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 40px;
      border-radius: 4px;
      background-color: white;
      opacity: 0.25;
      font-size: 14px;
      font-weight: bold;
      color: $black0;
    }

    .saveBtn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 40px;
      border-radius: 4px;
      background-color: $main_blue0;
      font-size: 14px;
      font-weight: bold;
      color: white;
      margin-left: 8px;
    }
  }
}
