.inputWithListWrapper {
  position: relative;
  width: 100%;
}

input::placeholder {
  color: $black0;
  opacity: 0.25;
  font-size: 16px;
}

.suggestionList {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  border-radius: 4px;

  &:focus {
    outline: none;
  }
}

.keywordCompletionItem {
  position: relative;
  text-align: left;
  width: 100%;
  overflow: hidden;
  background-color: white;
  font-size: 15px;
  font-weight: 400;
  color: $black1;
  border-bottom: solid 1px $gray200;
  cursor: pointer;
  white-space: pre;

  &:last-of-type {
    border-bottom: none;
    border-radius: 4px;
  }

  &:focus,
  &:hover {
    outline: none;
    background-color: $gray30;
  }

  b {
    color: $main_blue0;
    font-weight: bold;
  }
}

.highLightKeywordCompletionItem {
  @extend .keywordCompletionItem;

  background-color: $gray30;
}
