.wrapper {
  background-color: white;
  position: relative;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.06), 0 2px 4px 0px rgba(0, 0, 0, 0.06),
    0 2px 40px 2px rgba(39, 65, 85, 0.07), 0 2px 8px 0 rgba(69, 119, 228, 0.05), 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px $gray400;
}

.improvedWrapper {
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 4px;
}

.input {
  display: flex;
  width: 100%;
  border: 0;
  border-radius: 4px;
  line-height: 1.5;
  color: $black0;
  background-color: white;
  overflow: hidden;
  align-items: center;
  padding: 12px 44px 12px 16px;
}

.list {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 1px 2px 0 $gray500;
  z-index: 3;
  margin-top: 1px;

  &:focus {
    outline: none;
  }
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  line-height: 44px;
  padding: 0 8px 0 18px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  background-color: white;
  font-size: 15px;
  font-weight: 400;
  color: $black1;
  border-bottom: solid 1px $gray200;
  cursor: pointer;
  white-space: pre;
  border-radius: 4px;

  span {
    @extend %one-line-overflow-ellipsis;
    display: block;
    width: 95%;
  }

  &:last-of-type {
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &:focus,
  &:hover {
    outline: none;
    background-color: $gray30;
  }

  b {
    color: $main_blue0;
    font-weight: bold;
  }

  &.highlight {
    background-color: $gray30;
  }
}

.removeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 100%;
  color: $gray500;
  margin-left: 12px;
  margin-right: -12px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.searchButtonWrapper {
  position: absolute;
  top: 6px;
  right: 8px;
}

.homeSearchButtonWrapper {
  @extend .searchButtonWrapper;

  top: 9px;
}

.searchIconInButton {
  transform: scaleX(-1);
}
