.authContainer {
  display: flex;
  width: 100%;
}

.authFormWrapper {
  width: 384px;
}

.forgotPasswordBox {
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  color: $gray600;
  text-align: right;
  align-self: flex-end;
  margin: 8px auto;
}

.formWrapper {
  padding: 22px 32px 32px 24px;
}

.fbIconWrapper {
  position: absolute;
  left: 19px;
  width: 7px;
  height: 14px;
}

.googleIconWrapper {
  position: absolute;
  left: 14px;
  width: 24px;
  height: 24px;
}

.orcidIconWrapper {
  position: absolute;
  left: 17px;
  width: 15px;
  height: 16px;
}

.errorContent {
  height: 14px;
  font-size: 12px;
  color: $red0;
  margin-top: 6px;
  margin-left: 4px;
}

.dialogCloseBtnWrapper {
  position: absolute;
  bottom: -32px;
  right: 12px;
  cursor: pointer;
}

.authButtonWrapper {
  margin-top: 8px;
}

@media (max-width: $mobile_width) {
  .authFormWrapper {
    width: 100%;
  }

  .fbIconWrapper {
    display: none;
  }

  .googleIconWrapper {
    display: none;
  }

  .orcidIconWrapper {
    display: none;
  }
}
