@import "../../../variables";

.signInContainer {
  max-width: $container-width;
  height: 697.2px;
  margin: 0 auto;

  .formContainer {
    margin: 0 auto;
    margin-top: 125.5px;
    width: 580px;
    height: 582.5px;
    border-radius: 15px;
    background-color: #fff;
    border: solid 1.5px $space_gray2;
  }
}

.authNavBar {
  display: flex;
  margin: 43.5px 0px 45.5px 100px;
  text-align: center;

  .signInLink {
    width: 80px;
    height: 29.5px;
    font-size: 20px;
    cursor: pointer;
    color: $royal_blue1;
    border-bottom: solid 1.5px;
    margin-right: 20px;
  }

  .signUpLink {
    width: 80px;
    height: 29.5px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 300;
    color: $space_gray1;
  }

  .navBarIconWrapper {
    display: inline-block;
    margin-right: 120px;
    margin-top: 5.5px;
    svg {
      width: 80px;
      height: 27.5px;
      object-fit: contain;
    }
  }

  .dialogSignInLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 33px;
    font-size: 16px;
    border-radius: 5px;
    background-color: $light_royal_blue2;
    cursor: pointer;
    color: $royal_blue1;
  }

  .dialogSignUpLink {
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 33px;
    font-size: 16px;
    cursor: pointer;
    color: $space_gray1;
  }
}

.formBox {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: center;

  width: 380px;
  height: 60px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px $space_gray2;
  margin: 0 auto 18.5px;

  &:hover {
    border: solid 1px $royal_blue1;
    path {
      fill: #6096ff;
    }
  }

  .inputBox {
    border: 0;
    font-size: 18px;
    flex: 1;
  }

  .formBoxIconWrapper {
    display: inline-block;
    margin-left: 19px;
    margin-right: 16.7px;
    svg {
      width: 14.3px;
      height: 16.6px;
      object-fit: contain;
    }
  }
}

.separatorLine {
  display: inline-block;
  width: 1px;
  height: 40px;
  border-left: solid 1px $space_gray2;
  margin-right: 9px;
}

.submitBtn {
  @include default-button($royal_blue1, 380px, 60px, 18px);
  display: flex;
  justify-content: center;
  margin: 0px auto 19px auto;
  cursor: pointer;
}

.forgotPassword {
  display: flex;
  justify-content: center;
  font-size: 16px;
  text-decoration: underline;
  color: $royal_blue1;
  margin-bottom: 20.5px;
}

.orSeparatorBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10.5px;

  .dashedSeparator {
    width: 179.5px;
    height: 1.5px;
    border-top: dashed 1.5px $space_gray2;
  }

  .orContent {
    width: 21.6px;
    height: 23.5px;
    font-size: 16px;
    text-align: center;
    color: $space_gray2;
  }
}

.createAccountBtn {
  @include default-button($light_royal_blue2, 380px, 60px, 18px);
  display: flex;
  justify-content: center;
  margin: 0 auto 19px auto;
  cursor: pointer;
}

.hasError {
  &:last-child {
    margin-bottom: 0px;
  }
  border-color: $coral_pink;
}

.errorContent {
  display: none;
  justify-content: center;
  height: 38.5px;
  font-size: 16px;
  color: $coral_pink;
  padding-top: 6px;
}
