@import "../../../variables";

.signInContainer {
  max-width: $container-width;
  min-height: 697.2px;
  margin: 0 auto;

  .formContainer {
    margin: 0 auto;
    margin-top: 125.5px;
    width: 403px;
    border-radius: 1.7px;
    background-color: #fff;
    border: solid 1px #d8dde7;
  }
}

.authNavBar {
  display: flex;
  text-align: center;
  margin-bottom: 18.8px;

  .signInLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 201.5px;
    height: 72.5px;
    border-radius: 1.4px;
    background-color: #fff;
    font-size: 15.6px;
    font-weight: 500;
    letter-spacing: 2.1px;
    cursor: pointer;
    color: $royal_blue1;
  }

  .signUpLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 201.5px;
    height: 72.5px;
    border-radius: 1.4px;
    background-color: #f5f7fb;
    font-size: 15.6px;
    font-weight: 500;
    letter-spacing: 2.1px;
    color: #d8dde7;
    cursor: pointer;
  }
}

.separatorLine {
  display: inline-block;
  width: 1px;
  height: 40px;
  border-left: solid 1px $space_gray2;
  margin-right: 9px;
}

.submitBtn {
  display: flex;
  width: 331.4px;
  height: 46.8px;
  border-radius: 2.4px;
  background-color: #6096ff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-align: center;
  color: #fff;
  justify-content: center;
  margin: 15.9px auto 15.9px auto;
}

.buttonSpinner {
  position: absolute;
  left: 20px;
}

.loadingSubmitBtn {
  display: flex;
  width: 331.4px;
  height: 46.8px;
  border-radius: 2.4px;
  background-color: $space_gray9;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.5px;
  color: $space_gray3;
  cursor: wait;
  margin: 15.9px auto 15.9px auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.orSeparatorBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10.5px;

  .dashedSeparator {
    width: 156.5px;
    height: 1.2px;
    border-top: dashed 0.8px $space_gray2;
    margin-left: 3.9px;
    margin-right: 3.9px;
  }

  .orContent {
    width: 11px;
    height: 14px;
    font-size: 12px;
    text-align: center;
    color: #d8dde7;
    color: $space_gray2;
  }
}

.errorContent {
  display: none;
  justify-content: center;
  height: 14px;
  font-size: 16px;
  color: $coral_pink;
  margin-top: 6px;
}
