.commentItemWrapper {
  padding: 16px 0;
  border-top: solid 1px $gray2;

  &:last-of-type {
    border-bottom: solid 1px $gray2;
  }
}

.twitterIconWrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  .twitterIcon {
    display: flex;
  }

  svg {
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 100%;
  }
}

.authorInformationBox {
  display: flex;
  align-items: center;
}

.authorName {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: $black0;
  margin-right: 4px;
}

.fromText {
  font-weight: bold;
  color: $gray5;
}

.contentBox {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.5;
  color: $gray6;
}
