@import "../../../variables";

.signUpContainer {
  max-width: $container-width;
  min-height: 697.2px;
  margin: 0 auto;

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 125.5px;
    width: 403px;
    border-radius: 1.7px;
    background-color: #fff;
    border: solid 1px #d8dde7;
  }
}

.authNavBar {
  display: flex;
  text-align: center;
  margin-bottom: 29px;

  .signInLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 72.5px;
    border-radius: 1.4px;
    background-color: #f5f7fb;
    font-size: 15.6px;
    font-weight: 500;
    letter-spacing: 2.1px;
    cursor: pointer;
    color: #d8dde7;
  }

  .signUpLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 72.5px;
    border-radius: 1.4px;
    background-color: #fff;
    font-size: 15.6px;
    font-weight: 500;
    letter-spacing: 2.1px;
    color: $royal_blue1;
    cursor: pointer;
  }
}

.submitButton {
  display: flex;
  width: 331.4px;
  height: 46.8px;
  border-radius: 2.4px;
  background-color: #6096ff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-align: center;
  color: #fff;
  justify-content: center;
  margin-top: 10.2px;
}

.buttonSpinner {
  position: absolute;
  left: 20px;
}

.loadingSubmitButton {
  display: flex;
  width: 331.4px;
  height: 46.8px;
  border-radius: 2.4px;
  background-color: $space_gray9;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.5px;
  color: $space_gray3;
  cursor: wait;
  margin-top: 10.2px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.orSeparatorBox {
  display: flex;
  align-items: center;
  margin-top: 10.2px;

  .dashedSeparator {
    width: 156.5px;
    height: 1.2px;
    border-top: dashed 0.8px $space_gray2;
    margin-left: 3.9px;
    margin-right: 3.9px;
  }

  .orContent {
    width: 11px;
    height: 14px;
    font-size: 12px;
    text-align: center;
    color: #d8dde7;
    color: $space_gray2;
  }
}

%commonSocialLogin {
  display: flex;
  width: 331.4px;
  height: 46.8px;
  border-radius: 2.4px;
  font-size: 13px;
  letter-spacing: 1.3px;
  color: #fff;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 1.5;
}

.facebookLogin {
  @extend %commonSocialLogin;
  background-color: #3859ab;
  margin-top: 18.5px;

  .iconWrapper {
    position: absolute;
    left: 19.3px;

    &.EMAIL_ICON {
      svg {
        width: 12px;
        height: 9.6px;
      }
    }

    &.PASSWORD_ICON {
      svg {
        width: 9.6px;
        height: 12px;
      }
    }

    &.AFFILIATION_ICON {
      svg {
        width: 14.6px;
        height: 11.8px;
      }
    }

    &.FULL_NAME_ICON {
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.googleLogin {
  @extend %commonSocialLogin;
  background-color: #dc5240;
  margin-top: 11.2px;

  .iconWrapper {
    position: absolute;
    left: 18.7px;
    width: 13.5px;
    height: 13.2px;
  }
}

.orcidLogin {
  @extend %commonSocialLogin;
  background-color: #a5d027;
  margin-top: 11.2px;
  margin-bottom: 33.7px;

  .iconWrapper {
    position: absolute;
    left: 17.1px;
    width: 14.6px;
    height: 15.6px;
  }
}

.goBackButton {
  display: flex;
  width: 331.4px;
  height: 46.8px;
  border-radius: 2.4px;
  background-color: #e7eaf2;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-align: center;
  color: #9aa3b5;
  align-items: center;
  justify-content: center;
  margin-top: 10.2px;
  margin-bottom: 28.7px;
}

.staticFormBox {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;

  width: 331.4px;
  height: 46.8px;
  border-radius: 2.4px;
  border: solid 1px #9aa3b5;
  font-size: 13.4px;
  color: #9aa3b5;
  overflow: hidden;
  margin-top: 10.2px;

  .iconWrapper {
    width: 47.5px;
    text-align: center;

    svg {
      width: 12.2px;
      height: 9.8px;
      color: #9aa3b5;
    }
  }
}

.additionalInformation {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2.7px;
  color: #666d7c;
  margin-top: -4px;
  margin-bottom: 11.3px;
}

.errorContent {
  display: none;
  height: 14px;
  font-size: 12px;
  color: $coral_pink;
  margin-top: 6px;
  width: 234px;
}
