// Color Variables
$main_blue0: #6096ff; // main color
$main_blue1: #3e7fff;
$main_blue_light0: #81acff; // main color when hover
$main_blue_light1: #ecf1fa;

$gray0: #f9f9fa;
$gray1: #f1f3f6;
$gray2: #e7eaf2;
$gray3: #d8dde7;
$gray4: #bbc2d0;
$gray5: #9aa3b5;
$gray6: #666d7c;

$black0: #1e2a35; // primary text
$black1: #34495e;

$navy0: #133f7a; // link
$purple0: #3e39ac; // visited link

$red0: #f54b5e; // caution
$green0: #48d2a0; // success
$yellow0: #ffcf48; // warning

// Transition Variables
$button-hover-transition: ease-in-out 0.2s;

// Size Variables
$navbar_height: 60px;
$paper-show-sub-navbar-height: 48px;
$search-input-box-height: 44px;
$search-mobile-navbar-height: $navbar_height * 2;
$paper_show_author_list_item_margin: 8px;
$filter-container-width: 252px;

// small container
$small-container-width: 997px;
$small-container-right-container-width: 284px;
$margin-between-small-container: 31.5px;
$small-container-left-container-width: $small-container-width -
  $small-container-right-container-width - $margin-between-small-container;

// normal-container
$container_width: 1180px;
$right-container-width: 385px;
$margin-between-container: 21.5px;
$left-container-width: $container_width - $right-container-width -
  $margin-between-container;

// other-containers
$search_container_width: 870px;
$mobile_width: 768px;
$tablet_width: 1200px;

// s3 url
$s3_url: "https://dd2gn9pwu61vr.cloudfront.net";

// Inheritances
%container {
  margin: 0 auto;
  width: $container_width;
}

%submit-button {
  margin-left: 12px;
  width: 89.5px;
  height: 36px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #fff;
  padding: 0;
}

%default-sort-dropdown-menuitem {
  min-height: 30px;
  line-height: 30px;
  font-size: 13px;
  padding: 0;

  &:hover {
    background-color: $gray0;
  }

  a,
  div {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    padding: 0 16px;
  }
}

// Mixin
/*
* $bgc : background-color (e.g. #60ddff, $light_royal_blue1, rgba(,,,))
* $width, $height : width, height value (e.g. 133.5px)
* $fsize : font-size value  (e.g. 16px)
*/


@mixin s3-background-image($file_name) {
  background-image: url($s3_url + "/" + $file_name);
}
@mixin one-line-elipsis-truncate($width) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin common-button(
  $bgc: $main_blue0,
  $width: 331px,
  $height: 46.8px,
  $fsize: 14px
) {
  display: flex;
  width: $width;
  height: $height;
  border-radius: 2.4px;
  background-color: $bgc;
  font-size: $fsize;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @if $bgc == $main_blue0 {
    color: #fff;
    &:hover {
      background-color: $main_blue_light0;
    }
  } @else if $bgc == $gray3 {
    color: $gray6;
    &:hover {
      background-color: $gray1;
    }
  } @else if $bgc == $gray2 {
    color: $gray5;
    &:hover {
      background-color: $gray1;
    }
  } @else {
    color: #fff;
  }
}
@mixin small-button($color) {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  border-radius: 5px;
  color: $color;
  background-color: $gray0;
  font-weight: 400;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover {
    background-color: $gray1;
  }
}
@mixin small-action-button($color) {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border: solid 1px $gray3;
  border-radius: 5px;
  color: $color;
  background-color: #fff;
  font-weight: 400;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover {
    background-color: $gray0;
  }
}
