// Color Variables
$royal_blue1: #6096ff; // Main color
$royal_blue2: #81acff; // Main color when hover
$royal_blue3: #4da1ff; // Main color when border
$royal_blue4: #d5e1f7; // Summary Circle Stroke color
$space_gray1: #bbc2d0; // Information text
$space_gray2: #d9dee8; // Deactivated input field border
$space_gray3: #656d7c; // Comments text
$space_gray4: #b4bbc8; // Article Information
$space_gray5: #b0b0b0; // Sub information
$space_gray6: #ecebeb; // Border line
$space_gray7: #ebeff7; // Border line
$space_gray8: #aeb5c2;
$space_gray9: #eff1f5; // not active button background color
$space_gray10: #eceaea; // Border line
$space_gray11: #bbbbbb;
$space_gray12: #e0e0e0;
$space_gray13: #dfdfdf;
$space_gray14: #909090;
$space_gray15: #e6edf9;
$space_gray16: #d8dde7;
$space_gray17: #ededed; // Summary Empty Circle Stroke color
$space_gray18: #666d7c;
$light_royal_blue1: #e2eaf9; // Button background
$light_royal_blue2: #ecf1fa; // Button background when hover
$light_royal_blue3: #f5f7fb; // Input field background
$dark_navy1: #172649; // Font color
$black_navy1: #0c1020; // Font color
$coral_pink: #ff6e8f; // Graph color, Warning color
$coral_pink2: #ff3765; // Warning content color
$banana_yellow: #ffcf48; // Graph color
$mint_green: #44c0c1; // Graph color

// Size Variables
$navbar-height: 65px;
$container-width: 1180px;
$small-container-width: 780px;

// s3 url
$s3-url: "https://dd2gn9pwu61vr.cloudfront.net";
// Mixin
/*
* $bgc : background-color (e.g. #60ddff, $light_royal_blue1, rgba(,,,))
* $width, $height : width, height value (e.g. 133.5px)
* $fsize : font-size value  (e.g. 16px)
*/
@mixin default-button($bgc: $royal_blue1, $width: 380px, $height: 60px, $fsize: 18px) {
  display: inline-block;
  width: $width;
  height: $height;
  line-height: $height;
  font-size: $fsize;
  border-radius: 10px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  @if $bgc == $royal_blue1 {
    color: #fff;
    background-color: $royal_blue1;

    &:hover {
      background-color: $royal_blue2;
    }
  } @else if $bgc == $light_royal_blue2 {
    color: $royal_blue1;
    background-color: $light_royal_blue2;

    &:hover {
      background-color: $light_royal_blue1;
    }
  } @else {
    color: $royal_blue1;
    background-color: $bgc;

    &:hover {
      color: #fff;
      background-color: $royal_blue1;
    }
  }

  &:hover {
    transform: translate3d(0, -1px, 0);
  }

  &:active {
    transform: translate3d(0, 1px, 0);
  }
}

@mixin not-valid-button($width: 380px, $height: 60px, $fsize: 18px) {
  display: inline-block;
  background-color: $space_gray9;
  color: $space_gray3;
  width: $width;
  height: $height;
  line-height: $height;
  font-size: $fsize;
  border-radius: 10px;
  text-align: center;
  cursor: wait;
}

@mixin s3-background-image($file_name) {
  background-image: url($s3_url + "/" + $file_name);
}

@mixin one-line-elipsis-truncate($width) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
