:global {
  @import './middlewares/notifier';
  @import '~normalize.css/normalize';
  @import '~notie/src/notie';
}

* {
  box-sizing: border-box;
}

body {
  padding-bottom: 0;
}

input,
textarea,
body {
  font-family: $fallback;
  box-sizing: border-box;
  margin: 0;
  overflow-anchor: none;
}

:global(.wf-active) {
  body {
    font-family: 'Roboto', 'sans-serif';
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  font-family: 'Roboto', 'sans-serif';
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: none;

  &:focus {
    outline: none;
  }
}

.jsLoaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray200;
  opacity: 0.93;
  z-index: 16777271;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .loadingMessage {
    margin-top: 35px;
    text-align: center;
    font-size: 1.2rem;
  }

  svg {
    animation-duration: 2s;
    animation-name: flip;
    animation-iteration-count: infinite;
    width: 350px;
    height: 50px;
    object-fit: contain;
  }
}

li {
  padding: 0;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}
