@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import "./variables";

:global {
  @import "./helpers/notifier";
  @import "~normalize.css/normalize";
}

body {
  font-family: "Roboto", "sans-serif";
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  overflow-anchor: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  border: 0;
}
