@import "./variables";

:global {
  @import "./helpers/notifier";
  @import "~normalize.css/normalize";
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  box-sizing: border-box;
  margin: 0;
  overflow-anchor: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  font-family: "Roboto", "sans-serif";
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.jsLoaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $space_gray9;
  opacity: 0.95;
  z-index: 16777271;
  display: flex;
  justify-content: center;

  .loadingIcon {
    margin-top: 50px;
  }

  .loadingMessage {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
  }
}
