@import "./variables";

:global {
  @import "./middlewares/notifier";
  @import "~normalize.css/normalize";
}

* {
  box-sizing: border-box;
}

input, body {
  font-family: "Roboto", "sans-serif";
  box-sizing: border-box;
  margin: 0;
  overflow-anchor: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  font-family: "Roboto", "sans-serif";
  border: 0;
  margin: 0;
  background-color: transparent;
}

.jsLoaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray1;
  opacity: 0.95;
  z-index: 16777271;

  .loadingContentWrapper {
    margin-top: 10%;
  }

  .loadingMessage {
    margin-top: 35px;
    text-align: center;
  }
}
