:global {
  @import "./middlewares/notifier";
  @import "~normalize.css/normalize";
}

$fallback: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

* {
  box-sizing: border-box;
}

input,
textarea,
body {
  font-family: $fallback;
  box-sizing: border-box;
  margin: 0;
  overflow-anchor: none;
}

:global(.wf-active) {
  body {
    font-family: "Roboto", "sans-serif";
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  font-family: "Roboto", "sans-serif";
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: none;

  &:focus {
    outline: none;
  }
}

.jsLoaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray1;
  opacity: 0.9;
  z-index: 16777271;
  display: flex;
  align-items: center;
  justify-content: center;

  .loadingMessage {
    margin-top: 35px;
    text-align: center;
  }
}

li {
  padding: 0;
}
