.formWrapper {
  display: flex;
  margin-top: 16px;
}

.affiliationFormWrapper {
  margin-top: 16px;
}

.formLabel {
  display: block;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  color: $gray700;
  padding-left: 10px;
  margin-bottom: 4px;
}

.inputForm {
  @extend %base-input-style;
  margin-top: 4px;
  cursor: auto;
}

.inputForm,
input {
  &.hasError {
    border-color: $red0;
  }

  &::placeholder {
    color: $gray500;
  }

  &:disabled {
    border-color: $gray400;
    color: $gray500;
    cursor: not-allowed;
  }
}

.description {
  color: $gray800;
  font-size: 16px;
  line-height: 1.5;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;

  button + button {
    margin-left: 16px;
  }
}

.affiliationErrorMsg {
  font-size: 14px;
  padding-left: 10px;
  margin-top: 6px;
  color: $red0;
  width: 100%;
  line-height: 1.5;
}
