.goBackBtn {
  font-size: 14px;
  width: 200px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: $gray600;
  cursor: pointer;

  .backIcon {
    width: 18px;
    svg {
      width: 18px;
      height: 16px;
      padding-top: 6px;
      margin-right: 4px;
    }
  }

  &:hover {
    color: $gray800;
  }
}

@media (max-width: $mobile_width) {
  .goBackBtn {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    width: auto;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $gray500;

    .backIcon {
      width: 16px;
      height: 13px;
      margin-right: 10px;

      svg {
        width: 16px;
        height: 13px;
        padding-top: 0;
        margin-right: 0;
      }
    }
  }
}
