.goBackBtn {
  font-size: 14px;
  width: 200px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin-top: 24px;
  color: $gray600;
  cursor: pointer;
  vertical-align: top;

  .backIcon {
    svg {
      width: 16px;
      height: 16px;
      margin-right: 4px;
      vertical-align: top;
    }
  }

  &:hover {
    color: $gray800;
  }
}
