@import "../../variables";

$feed-content-width: 780px;
$feed-sidebar-width: 380px;

.feedContainer {
  width: $container-width;
  margin: 0 auto;
  margin-top: $navbar-height;
  padding-top: 27px;
}

.contentContainer {
  display: flex;
  padding-top: 20px;
}

.feedContentWrapper {
  width: $feed-content-width;
}

.feedSideWrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: $feed-sidebar-width;
  justify-content: flex-end;
  margin-left: 20.5px;
}

.submitBoxWrapper {
  position: fixed;
  width: $feed-sidebar-width;
  border-radius: 10px;
  border: solid 1.5px $space_gray10;
  padding: 36px 32px;
}

.submitBoxTitle {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: $black_navy1;
  margin-bottom: 12.5px;
}

.submitBoxSubtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.39;
  text-align: center;
  margin-bottom: 29px;
  color: $black_navy1;
}

.articleSubmitLinkButton {
  @include default-button($light_royal_blue2, 180px, 40px, 16px);
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
