$wrapper-vertical-margin: 128px;
$card-container-max-width: 768px;

.wrapper {
  width: 100%;
  max-width: 578px;
  min-height: calc(
    100vh - #{$navbar_height} - #{$footer-height} - #{$wrapper-vertical-margin} - #{$wrapper-vertical-margin}
  );
  margin: $wrapper-vertical-margin auto;
}

.cardContainer {
  max-width: $card-container-max-width;
  padding: 24px;
  border: solid 1px $gray400;
}

.title {
  color: $black0;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 32px;
  line-height: 1.5;
  text-align: center;
}

.description {
  color: $black1;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 32px;
}

@media (max-width: $mobile_width) {
  .cardContainer {
    padding: 12px 16px;
  }
}
