.abstract {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.4;
  color: $gray6;
  word-break: break-word;
  overflow-wrap: break-word;

  .searchQuery {
    font-weight: 900;
    color: $black1;
  }
}

// Mobile
@media (max-width: $mobile_width) {
  .abstract {
    margin-top: 10px;
    font-size: 13px;
  }
}
