@import "../../../variables";

.authors {
  display: inline;

  .authorName {
    color: $space_gray18;
    text-decoration: underline;
  }

  .toggleAuthorsButton {
    color: $dark_navy2;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .authorHIndex {
    display: inline-flex;
    vertical-align: top;
    height: 18px;
    border-radius: 100px;
    border: solid 1px $space_gray1;
    font-size: 12px;
    color: $space_gray3;
    line-height: 1.5;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0 3px;
  }

  .hIndexChar {
    display: inline-flex;
    vertical-align: top;
  }

  .hIndexChar:hover + .authorHIndexTooltip {
    opacity: 1;
    visibility: visible;
  }
}
