.citedButton {
  display: inline-flex;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  color: $gray800;
  background-color: $gray50;
  cursor: pointer;
  border: 1px solid $gray50;

  .citedIconWrapper {
    margin-right: 6px;
  }
}

@media (max-width: $mobile_width) {
  .citedButton {
    font-size: 14px;
    padding: 8px 10px;
    line-height: 20px;
    color: $black0;
    white-space: nowrap;
    overflow: hidden;
    justify-content: center;
    width: 100%;
  }
}
