.citationIconWrapper {
  @include small-action-button($gray800);
  .citationIcon {
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    svg {
      padding-top: 2px;
      width: 12px;
      height: 12px;
    }
  }
}
@media (max-width: $mobile_width) {
  .citationIconWrapper {
    display: none;
  }
}
