.button {
  border-radius: 4px;
  background-color: $main_blue0;
  padding: 8px 12px 8px 8px;
  display: flex;
  align-items: center;

  .bookmarkIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
  }

  &.savedButton {
    background-color: $black1;
  }
}

// DEPRECATED WARNING
// Below code are deprecated
%button-icon {
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: $gray800;
}

.addCollectionBtnWrapper {
  @include small-action-button($gray800);
  height: 100%;

  .plusIcon {
    @extend %button-icon;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  .buttonIcon {
    @extend %button-icon;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.addCollectionNoteBtnWrapper {
  @include small-action-button($gray800);
  height: 100%;

  .addNoteIcon {
    @extend %button-icon;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.collectionNoteForm {
  border-radius: 8px;
  margin-top: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: $mobile_width) {
  .addCollectionBtnWrapper {
    display: none;
  }
}
