%button-icon {
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: $gray6;
}

.addCollectionBtnWrapper {
  @include small-action-button($gray6);
  height: 100%;

  .plusIcon {
    @extend %button-icon;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  .buttonIcon {
    @extend %button-icon;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.addCollectionNoteBtnWrapper {
  @include small-action-button($gray6);
  height: 100%;

  .addNoteIcon {
    @extend %button-icon;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.collectionNoteForm {
  border-radius: 8px;
  margin-top: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: $mobile_width) {
  .addCollectionBtnWrapper {
    display: none;
  }
}
