@import "../../../variables";

.infoList {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  position: relative;
  height: 29px;

  .referenceButton {
    @include small-button($space_gray3);
    .referenceIconWrapper {
      margin-right: 6px;
    }
  }

  .citedButton {
    @include small-button($space_gray3);
    .citedIconWrapper {
      margin-right: 6px;
    }
  }

  .pdfButton {
    @include small-action-button($space_gray18);
    .pdfIconWrapper {
      margin-right: 6px;

      svg {
        padding-top: 2px;
        height: 16px;
      }
    }
  }

  .sourceButton {
    @include small-action-button($space_gray18);
    .sourceButtonIcon {
      margin-right: 6px;

      svg {
        padding-top: 2px;
        height: 16px;
      }
    }
  }

  .explanation {
    color: $space_gray3;
    margin-right: 9px;
  }

  .citedPaperAvgIF {
    color: $royal_blue1;
  }

  .separatorLine {
    height: 30px;
    border-left: solid 1px $space_gray16;
    margin-left: 12px;
    margin-right: 15px;
  }

  .pltuoScore {
    color: $light_green;
  }
}

.rightBox {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.verticalDivider {
  display: inline-block;
  vertical-align: top;
  width: 1px;
  height: 31px;
  background-color: $space_gray1;
  margin: 0 10px;
}

.addCollectionBtnWrapper {
  @include small-action-button($space_gray18);
  height: 100%;

  .plusIcon {
    margin-right: 8px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}

.citationIconWrapper {
  @include small-action-button($space_gray18);
  .citationIcon {
    margin-right: 8px;

    svg {
      padding-top: 2px;
      height: 16px;
    }
  }
}

.claimButton {
  @include small-action-button($coral_pink2);
  height: 29px;
  width: 29px;
  overflow: hidden;
  padding: 0px;

  .additionalMenuIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29px;
    width: 29px;

    svg {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
      width: 20px;
      height: 29px;
    }

    &:hover,
    &:active {
      background-color: transparent;
    }

    .ellipsisIcon {
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// Mobile
@media (max-width: $mobile-width) {

  .citationIconWrapper {
    display: none;
  }

  .addCollectionBtnWrapper{
    display: none;
  }

  .claimButton{
    display: none;
  }
}
