.keywords {
  margin-top: 8px;

  .keyword {
    font-size: 13px;
    line-height: 1.85;
    text-align: center;
    color: $main_blue0;
    cursor: pointer;
  }

  .separatorPoint {
    font-size: 13px;
    text-align: center;
    color: $main_blue0;
    margin-left: 4px;
    margin-right: 4px;
  }
}

// Mobile
@media (max-width: $mobile_width) {
  .keywords {
    display: none;
  }
}
