.publishInfoList {
  font-size: 14px;
  line-height: 1.5;
  color: $gray600;
  flex-direction: column;

  .venue {
    display: flex;
    align-items: flex-start;
    height: 100%;
    min-height: 20px;
  }

  .margin {
    margin-bottom: 4px;
  }

  .venueNameReadonly {
    color: $gray700;
    font-weight: 400;
    margin-right: 3px;
  }

  .venueName {
    @extend .venueNameReadonly;
    text-decoration: underline;
    &:hover {
      color: $black1;
    }
  }

  .bold {
    color: $gray600;
  }

  .author {
    display: flex;
    align-items: flex-start;
    margin-top: 2px;
  }

  .ifLabel {
    display: inline-flex;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: $main_blue0;
    padding-left: 8px;
    padding-right: 4px;
  }

  .ifIconWrapper {
    display: flex;
    align-items: center;

    svg {
      width: 16px;
      height: 16px;
      color: $main_blue0;
      margin-right: 4px;
    }
  }
}

.authorIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-top: 4px;
  width: 16px;
  height: 16px;
  color: $gray600;

  svg {
    width: 16px;
    height: 16px;
  }
}

.journalIcon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
  margin-right: 8px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.arrowBottomTooltip {
  background-color: #606269 !important;
  color: white !important;
  font-size: 10px !important;
  margin-bottom: 6px !important;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 55%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #606269;
    border-bottom: 0;
    margin-left: -13px;
    margin-top: 20px;
    z-index: 2;
  }
}

.journalText {
  display: inline-block;
  vertical-align: top;
}

// Mobile
@media (max-width: $mobile_width) {
  .publishInfoList {
    line-height: 1.54;
    font-size: 13px;
    width: $mobile-content-width;
  }
}
