.wrapper {
  margin-top: 12px;
}

.authorBox {
  margin-top: 2px;
  position: relative;
  display: block;
}

.arrowIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  color: $navy0;

  svg {
    width: 9px;
    height: 5px;
  }

  &.isExpanded {
    svg {
      transform: rotate(180deg);
    }
  }
}

@media (max-width: $mobile_width) {
  .arrowIcon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
