.onelineWrapper {
  @extend %one-line-overflow-ellipsis;
}

.ifIconWrapper {
  display: inline-flex;
  width: 10px;
  height: 10px;
  justify-content: center;
  align-items: center;
  color: $gray800;
  margin-right: 4px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.year {
  font-size: 14px;
  color: $gray800;

  & + .ifLabel {
    &:before {
      content: ' 路 ';
    }
  }

  & + .venueName {
    &:before {
      content: ' 路 ';
    }
  }
}

.ifLabel {
  font-size: 14px;
  font-weight: 500;
  color: $gray800;

  & + .venueName {
    &:before {
      content: ' 路 ';
    }
  }
}

.sciLabel {
  font-size: 14px;
  font-weight: 500;
  color: $gray800;

  & + .venueName {
    &:before {
      content: ' 路 ';
    }
  }
}

.venueName {
  font-size: 14px;
  color: $gray800;
  white-space: pre;
}

.expandedTitle {
  .venueName {
    font-weight: 500;
    white-space: unset;
  }
}
