.moreButton {
  height: 30px;
  width: 30px;
  overflow: hidden;
  padding: 0px;
  border-radius: 4px;
  border: solid 1px $gray400;

  .moreButtonIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    svg {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
      width: 20px;
      height: 30px;
    }

    &:hover,
    &:active {
      background-color: transparent;
    }

    .ellipsisIcon {
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.moreDropdown {
  position: relative;
  margin-top: 8px;
  background-color: white;
  z-index: 999;
}

.contentWrapper {
  overflow: unset;
  border: solid 1px $gray400;
  border-radius: 4px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 91%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: $gray400;
    border-top: 0;
    margin-left: -14px;
    margin-top: -10px;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 91%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: white;
    border-top: 0;
    margin-left: -13px;
    margin-top: -9px;
    z-index: 2;
  }
}

// Mobile
@media (max-width: $mobile_width) {
  .moreButton {
    display: none;
  }
}
