.infoList {
  margin-top: 12px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  font-size: 13px;
  height: 30px;

  .citedButton {
    @include small-button($gray800);
    font-size: 14px;

    .citedIconWrapper {
      margin-right: 6px;
    }
  }

  .sourceButton {
    @include small-action-button($gray800);
    position: relative;
    overflow: hidden;

    .faviconIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12px;
      height: 12px;
      margin-right: 6px;
      margin-left: 4px;
    }

    .sourceHostInfo {
      @extend %one-line-overflow-ellipsis;
    }

    .sourceButtonIcon,
    .pdfIconWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin-right: 4px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .extSourceIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      margin-left: 4px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .explanation {
    color: $gray800;
    margin-right: 9px;
  }

  .citedPaperAvgIF {
    color: $main_blue0;
  }

  .separatorLine {
    height: 30px;
    border-left: solid 1px $gray400;
    margin-left: 12px;
    margin-right: 15px;
  }

  .pltuoScore {
    color: $green0;
  }
}

.rightBox {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.verticalDivider {
  display: inline-block;
  vertical-align: top;
  width: 1px;
  height: 31px;
  background-color: $gray500;
  margin: 0 10px;
}

.citationIconWrapper {
  @include small-action-button($gray800);
  .citationIcon {
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    svg {
      padding-top: 2px;
      width: 12px;
      height: 12px;
    }
  }
}

.claimButton {
  @include small-action-button($red0);
  height: 30px;
  width: 30px;
  overflow: hidden;
  padding: 0px;

  .additionalMenuIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;

    svg {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
      width: 20px;
      height: 30px;
    }

    &:hover,
    &:active {
      background-color: transparent;
    }

    .ellipsisIcon {
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.dropdownMenuWrapper {
  position: relative;

  .dropdownMenu {
    position: absolute;
    left: 0;
    right: 0;
  }
}

.menuItems {
  margin: 4px;
}

.additionalMenuItem {
  font-size: 14px !important;
  color: $gray800;

  &:hover {
    background-color: $gray30 !important;
  }
}

.speechBubble {
  position: relative;
  margin-top: 8px;
  background-color: white;
  z-index: 999;
}

.contentWrapper {
  overflow: unset;
  border: solid 1px $gray400;
  border-radius: 4px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 91%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: $gray400;
    border-top: 0;
    margin-left: -14px;
    margin-top: -10px;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 91%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: white;
    border-top: 0;
    margin-left: -13px;
    margin-top: -9px;
    z-index: 2;
  }
}

// Mobile
@media (max-width: $mobile-width) {
  .citationIconWrapper {
    display: none;
  }

  .addCollectionBtnWrapper {
    display: none;
  }

  .claimButton {
    display: none;
  }
}
