.groupWrapper {
  display: flex;
  margin-top: 11.5px;
  padding: 8px 0;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $gray300;
}

.buttonListBox {
  display: flex;
  align-items: center;

  & > a {
    margin-right: 8px;
  }
}

.buttonWrapper {
  & + & {
    margin-left: 8px;
  }
}

@media (max-width: $mobile_width) {
  .groupWrapper {
    border-top: 0;
    margin-top: 16px;
  }

  .mobileWrapper {
    display: flex;
    align-items: center;
    padding: 8px 0;
    margin-top: 16px;

    .buttonWrapper {
      flex: 1;
    }
  }
}
