.paperItemWrapper {
  @extend %default-paper-item-wrapper;
}

.venueAndAuthorWrapper {
  margin-top: 8px;
}

.claimButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  overflow: hidden;

  .additionalMenuIcon {
    width: 30px;

    svg {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
    }

    &:hover,
    &:active {
      background-color: transparent;
    }

    .ellipsisIcon {
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.additionalMenuItem {
  color: $red0;

  &:hover {
    background-color: $gray30;
  }
}

.visitedHistory {
  padding-bottom: 12px;
  border-bottom: 1px solid $gray200;
  margin-bottom: 12px;
  color: $gray700;
  font-size: 14px;
}

.missingWordsWrapper {
  color: $black0;
  margin-top: 8px;
  font-size: 12px;
}

.missingWord {
  text-decoration: line-through;
  font-weight: 500;
}

// Mobile
@media (max-width: $mobile_width) {
  .claimButton {
    display: none !important;
  }

  .contentSection {
    width: 100%;
  }

  .visitedHistory {
    width: 100%;
    padding-bottom: 8px;
    margin-top: -4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #f8f9fb;
  }
}
