@import "../../../variables";

.paperItemWrapper {
  position: relative;
  padding-bottom: 12px;
  border-bottom: $gray2 1px solid;
  margin-bottom: 12px;
  max-width: $search_container_width;
  background-color: white;
}

.contentSection {
  margin-bottom: 8px;
}

.claimButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  overflow: hidden;

  .additionalMenuIcon {
    width: 30px;
    height: 30px;

    svg {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
    }

    &:hover,
    &:active {
      background-color: transparent;
    }

    .ellipsisIcon {
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.additionalMenuItem {
  color: $red0;

  &:hover {
    background-color: $gray0;
  }
}

// Mobile
@media (max-width: $mobile-width) {
  .searchItemWrapper {
    margin-top: 13px;
    padding: 0 15px;
  }

  .claimButton {
    display: none !important;
  }
}
