@import "../../../variables";

.publishInfoList {
  margin-top: 7px;
  font-size: 14px;
  line-height: 1.6;
  color: $space_gray19;

  svg {
    margin-top: 2px;
    height: 14px;
    margin-right: 8px;
    margin-bottom: 0px;
  }

  .journalName {
    color: $space_gray3;
    text-decoration: underline;
    margin-right: 3px;
  }

  .bold {
    color: $space_gray3;
  }
}

// Mobile
@media (max-width: $mobile-width) {
  .publishInfoList {
    line-height: 1.54;
  }
}
