.paperItemWrapper {
  @extend %default-paper-item-wrapper;
}

.venueAndAuthorWrapper {
  margin-top: 8px;
}

.visitedHistory {
  padding-bottom: 12px;
  border-bottom: 1px solid $gray200;
  margin-bottom: 12px;
  color: $gray700;
  font-size: 14px;
}

.missingWordsWrapper {
  color: $black0;
  margin-top: 8px;
  font-size: 12px;
}

.missingWord {
  text-decoration: line-through;
  font-weight: 500;
}

// Mobile
@media (max-width: $mobile_width) {
  .visitedHistory {
    width: 100%;
    padding-bottom: 8px;
    margin-top: -4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #f8f9fb;
  }
}
