.sourceButton {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  border: solid 1px $gray400;
  font-size: 14px;
  line-height: 16px;
  padding: 4px 8px;
  color: $gray800;

  .faviconIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    margin-left: 4px;
  }

  .sourceHostInfo {
    @extend %one-line-overflow-ellipsis;
  }

  .sourceButtonIcon,
  .pdfIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 4px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .extSourceIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 4px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: $tablet_width) {
  .sourceButton {
  }
}

@media (max-width: $mobile_width) {
  .sourceButton {
    font-size: 16px;
    line-height: 20px;
    color: $black0;
    padding: 12px 10px;
    background-color: $gray50;
    border: 0;
    justify-content: center;
    width: 100%;
  }

  .extSourceIcon {
    color: $gray800;
  }
}
