.title {
  display: block;
  font-size: 20px;
  line-height: 1.4;
  color: $navy0;
  font-weight: 500;

  b {
    font-weight: 900;
  }

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $purple0;
  }
}

// Mobile
@media (max-width: $mobile-width) {
  .title {
    width: 100%;
    line-height: 1.35;
  }
}
