.title {
  font-size: 20px;
  line-height: 1.4;
  color: $navy0;
  font-weight: 500;

  b {
    font-weight: 900;
  }

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $purple0;
  }
}

.newTabIconWrapper {
  display: inline-flex;
  width: 20px;
  height: 20px;
  color: $navy0;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: $main_blue1;
  }

  &:visited {
    color: $purple0;
  }
}

.newTabIcon {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-left: 4px;

  svg {
    width: 16px;
    height: 16px;
  }
}

// Mobile
@media (max-width: $mobile-width) {
  .title {
    width: 100%;
    line-height: 1.35;
  }
}
