.publishInfoList {
  margin-top: 7px;
  font-size: 14px;
  line-height: 1.5;
  color: $gray600;
  flex-direction: column;

  svg {
    margin-top: 2px;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    margin-bottom: 0px;
  }

  .venue {
    display: flex;
  }

  .margin {
    margin-bottom: 4px;
  }

  .venueNameReadonly {
    color: $gray700;
    font-weight: 400;
    margin-right: 3px;
  }

  .venueName {
    @extend .venueNameReadonly;
    text-decoration: underline;
    &:hover {
      color: $black1;
    }
  }

  .bold {
    color: $gray600;
  }

  .author {
    display: flex;
  }

  .ifLabel {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: $main_blue0;
    padding: 0 8px;
  }

  .ifIconWrapper {
    svg {
      width: 10px;
      height: 10px;
      color: $main_blue0;
      margin-right: 4px;
    }
  }
}

.arrowBottomTooltip {
  background-color: #606269 !important;
  color: white !important;
  font-size: 10px !important;
  margin-bottom: 6px !important;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 55%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #606269;
    border-bottom: 0;
    margin-left: -13px;
    margin-top: 20px;
    z-index: 2;
  }
}

// Mobile
@media (max-width: $mobile-width) {
  .publishInfoList {
    line-height: 1.54;
    font-size: 13px;
    width: $mobile-content-width;
  }
}
