.publishInfoList {
  margin-top: 7px;
  font-size: 14px;
  line-height: 1.5;
  color: $gray5;
  flex-direction: column;

  svg {
    margin-top: 2px;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    margin-bottom: 0px;
  }

  .venue {
    display: flex;
  }

  .venueNameReadonly {
    color: $gray9;
    font-weight: 400;
    margin-right: 3px;
  }

  .venueName {
    @extend .venueNameReadonly;
    text-decoration: underline;
    &:hover {
      color: $black1;
    }
  }

  .bold {
    color: $gray5;
  }

  .author {
    display: flex;
  }

  .ifLabel {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: $main_blue0;
    padding: 0 8px;
  }

  .ifIconWrapper {
    svg {
      width: 10px;
      height: 10px;
      color: $main_blue0;
      margin-right: 4px;
    }
  }
}

// Mobile
@media (max-width: $mobile-width) {
  .publishInfoList {
    line-height: 1.54;
    font-size: 13px;
    width: $mobile-content-width;
  }
}
