@import "../../variables";

.authorShowPageWrapper {
  margin-top: $navbar_height;
}

.leftContentWrapper {
  display: inline-block;
  vertical-align: top;
  width: 691px;
}

.container {
  margin: 0 auto;
  max-width: $small-container-width;
}

.rootWrapper {
  min-height: calc(100vh - #{$navbar_height} - 60px);
}

.tabNavigationWrapper {
  height: 48px;
}

.tabNavigationItem {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  height: 48px;
  text-align: center;
  box-shadow: inset 0 -3px 0 0 $main_blue0;
  font-size: 14px;
  font-weight: bold;
  color: $main_blue1;
  padding: 14px 0;
}

.sectionHeader {
  position: relative;

  .rightBox {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.sectionTitle {
  display: inline-block;
  vertical-align: top;
  height: 24px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: $black0;
  margin-right: 8px;
}

.countBadge {
  display: inline-block;
  vertical-align: top;
  height: 26px;
  border-radius: 13px;
  background-color: #e5f9f2;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  padding: 0 12px;
  color: $green0;
}

.selectedPaperDescription {
  font-size: 15px;
  line-height: 1.33;
  color: $gray5;
  margin-top: 12px;
  margin-bottom: 15px;
  padding-bottom: 24px;
  border-bottom: solid 1px $gray4;
}

.allPublicationHeader {
  position: relative;
  margin-top: 100px;

  .rightBox {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.rightContentWrapper {
  display: inline-block;
  vertical-align: top;
  width: 306px;
  padding-left: 22px;
}

.coAuthorHeader {
  height: 28px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.56;
  color: $black0;
  margin-bottom: 16px;
}

.searchSortWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 16px;

  .rightBox {
    position: absolute;
    top: 8px;
    right: 0;
  }
}

.toggleSelectPublicationListButton {
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  border: solid 1px $gray3;
  font-size: 14px;
  color: $gray6;
  padding: 0 8px 0 4px;
  cursor: pointer;

  .penIcon {
    display: inline-flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    color: $gray5;

    svg {
      display: inline-block;
      vertical-align: top;
      width: 13px;
      height: 13px;
    }
  }
}

.fosListWrapper {
  margin-top: 40px;
}

.fosHeader {
  font-size: 18px;
  font-weight: bold;
  color: $black0;
  margin-bottom: 16px;
}

.noPaperWrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .ufoIcon {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 59px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .noPaperDescription {
    font-size: 18px;
    color: $gray6;
    margin-top: 24px;
  }
}

.paperCountMetadata {
  height: 20px;
  font-size: 14px;
  line-height: 1.43;
  color: $gray6;
  margin-top: 16px;
}

.findPaperBtn {
  height: 20px;
  font-size: 15px;
  text-align: right;
  color: $gray5;
  margin-top: 8px;
  text-decoration: underline;
  cursor: pointer;
}
