@import "../../variables";

.navWrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 22px;
  height: $profile-sub-navbar-height;
  border-bottom: 1px solid #e6e8ed;

  .tabItem {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
  }

  .tabItem + .tabItem {
    margin-left: 16px;
  }

  .activeTabItem {
    color: $main_blue1;
    box-shadow: inset 0 -3px 0 0 $main_blue1;
  }
}