@import "../../../variables";

.upperContainer {
  max-width: $container-width;
  margin: 0 auto;
}

.profileContainer {
  display: flex;
  align-content: left;
  margin: 168px auto 0px auto;
  width: 780px;
  .avatarIconWrapper {
    svg {
      width: 85.4px;
      height: 85.4px;
      object-fit: contain;
    }
  }

  .profileDescription {
    margin-left: 34px;
    display: flex;
    flex-flow: column;
    flex: 1;

    .userName {
      font-size: 20px;
      line-height: 1.25;
      color: #0c1020;
    }

    .userDegree {
      font-size: 14px;
      line-height: 1.79;
      color: #9ba3b2;
    }
    .userHistory {
      font-size: 12px;
      line-height: 2.08;
      color: #0c1020;
    }
  }

  .configureIconBtn {
    margin-top: 12px;
    width: 26px;
    height: 26px;
    object-fit: contain;
  }

  .submitArticleBtn {
    @include default-button($light_royal_blue2, 164.5px, 50px, 18px);
    display: flex;
    justify-content: center;
    margin: 0px auto 0px 22px;
  }
}

.categoryContainer {
  display: flex;
  margin-top: 80.1px;
  border-bottom: solid 1.5px #eceaea;

  .categoryBtn {
    display: block;
    height: 38px;
    font-size: 16px;
    line-height: 1.56;
    text-align: left;
    color: #bbc2d0;
    text-align: center;
    cursor: pointer;

    &:nth-child(1) {
      margin-left: 66px;
    }

    &:nth-child(2) {
      margin-left: 136.5px;
    }

    &:nth-child(3) {
      margin-left: 670.5px;
    }

    &:nth-child(4) {
      margin-left: 20px;
    }
  }

  .isClickedBtn {
    color: #0c1020;
    border-bottom: 3px solid #6096ff;
  }
}

.lowerContainer {
  max-width: $container-width;
  margin: 0 auto;
  background-color: #f5f7fb;
  height: 993px;
}

.walletContainer {
  background-color: #f5f7fb;
}
