@import "../../variables";

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  width: 294px;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: $black0;
  margin-top: 173px;
  margin-bottom: 14px;
}

.description {
  width: 357px;
  height: 40px;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: $gray6;
  margin-bottom: 21px;
}

.buttonWrapperBox {
  display: flex;
  justify-content: center;
}