.paperContentBlockHeaderTabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 222px 0px 222px;
  line-height: 1.5;
  border-top: solid 1px $gray1;
  border-bottom: solid 1px $gray1;

  &.stick {
    position: fixed;
    display: flex;
    align-items: center;
    top: $header-height;
    width: 100%;
    background-color: white;
    padding: 12px 222px;
    border-bottom: 1px solid $gray8;
    margin: 0;
    z-index: 2;

    .headerTabList .headerTabItem.active {
      padding: 0;
      border: none;
    }

    .rightBtnBox {
      margin-top: 0;
    }
  }

  .headerTabList {
    font-size: 0;
    .headerTabItem + .headerTabItem {
      margin-left: 16px;
    }
    .headerTabItem {
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      color: $gray4;
      cursor: pointer;

      &.active {
        color: $black1;
        font-weight: 700;
        padding-bottom: 8px;
        border-bottom: 2px solid $black1;
      }
    }
  }

  .scrollTop {
    display: inline-block;

    .scrollButton {
      padding: 4px 8px;
      border-radius: 9999px;
      font-size: 12px;
      color: $main_blue0;

      &:hover {
        background-color: $gray8;
      }

      &:active {
        filter: brightness(95%);
      }
    }
  }
}

.rightBtnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -12px;
}

// RegularDisplay (1024~1200)
@media (max-width: $regular_width) {
  .paperContentBlockHeaderTabs {
    padding: 12px 12px 0 12px;

    &.stick {
      padding: 12px;
    }
  }

  .rightBtnBox {
    display: none;
  }
}
