@import "../../variables";

.articleSearchFormContainer {
  margin-top: $navbar_height;

  .searchFormBackground {
    position: absolute;
    width: 100%;
    height: calc(50vh + 59px);
    background-color: $space_gray20;
  }

  .searchFormInnerContainer {
    max-width: $search_container_width;
    margin: 0 auto;
  }
}

.searchFormContainer {
  display: flex;
  padding-top: calc(28vh - 35px);
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 126px);
  position: relative;

  .searchTitle {
    font-size: 30.5px;
    font-weight: 300;
    line-height: 1.18;
    color: $black_navy1;
  }

  .inputBox {
    margin-top: calc(5vh - 6px);
  }

  .searchSubTitle {
    margin-top: calc(2.5vh - 3px);
    font-size: 16px;
    font-weight: 300;
    line-height: 2.25;
    text-align: center;
    color: $space_gray19;

    .plutoNetwork {
      color: $royal_blue1;
      cursor: pointer;
    }
  }

  .infoList {
    margin-top: calc(22vh - 28px);
    display: flex;

    .infoBox {
      display: flex;

      &:nth-of-type(1) {
        margin-right: 21.5px;

        .iconWrapper {
          margin-right: 17px;

          svg {
            width: 69.5px;
            height: 50.5px;
          }
        }
      }

      &:nth-of-type(2) {
        .iconWrapper {
          margin-right: 23.5px;

          svg {
            width: 56.5px;
            height: 59.5px;
          }
        }
      }

      .infoContent {
        display: flex;
        flex-direction: column;
        width: 354px;

        .title {
          font-size: 20px;
          line-height: 1.35;
          color: $dark_navy2;
        }

        .content {
          margin-top: 5px;
          font-size: 15px;
          font-weight: 300;
          line-height: 1.57;
          color: $space_gray18;
        }
      }
    }
  }
}
