@import "../../variables";

.articleSearchFormContainer {
  margin-top: $navbar_height;
}

.searchFormInnerContainer {
  width: 100%;
  height: calc(100vh - 126px);
  margin: 0 auto;
}

.featureWrapper {
  margin-top: 40px;
  max-width: 1000px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;

  .featureItem {
    padding-right: 40px;
    max-width: 570px;
    display: flex;
    flex-direction: row;
    .iconWrapper {
      svg {
        width: 60px;
        margin-right: 20px;
        margin-top: 20px;
      }
    }
    .itemContents {
      .itemTitle {
        font-size: 18px;
        line-height: 1.55;
        text-align: left;
        color: #34495e;
        margin-top: 16px;
        margin-bottom: 12px;
      }

      .itemDetail {
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        color: #9aa3b5;
        font-weight: 300;
      }
      &:nth-child(2) {
        padding-right: 0px;
      }
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 0;

    .featureItem {
      padding-right: 0;
      padding-bottom: 20px;

      .itemTitle {
        font-size: 20px;
      }
      .itemDetail {
        font-size: 18px;
        letter-spacing: -0.4px;
      }
    }
  }
}

.searchFormContainer {
  position: relative;
  height: calc(50vh + 59px);
  background-color: $space_gray20;
  background-image: url(https://dd2gn9pwu61vr.cloudfront.net/search-home-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .searchTitle {
    font-size: 30.5px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 2.5px;
    color: #fff;
  }

  .inputBox {
    margin-top: calc(5vh - 20px);
  }

  .searchSubTitle {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 2.25;
    text-align: left;
    color: rgba(255, 255, 255, 0.75);

    .plutoNetwork {
      color: #fff;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

// Mobile
@media (max-width: $mobile-width) {
  .articleSearchFormContainer {
    position: relative;
    height: calc(100vh - #{$navbar_height});
  }

  .searchFormInnerContainer {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .featureWrapper {
    margin-top: 20px;
    margin-bottom: 40px;
    .featureItem {
      margin-right: 35px;
      margin-left: 35px;
      padding-bottom: 0px;
      .iconWrapper {
        svg {
          width: 54px;
          margin-right: 20px;
          margin-top: 20px;
        }
      }
      .itemContents {
        .itemTitle {
          font-size: 16px;
          margin-bottom: 8px;
        }
        .itemDetail {
          font-size: 14px;
        }
      }
    }
  }

  .searchFormContainer {
    position: relative;
    height: 302px;
    background-color: $space_gray20;
    display: flex;
    justify-content: center;
    align-items: center;

    .formWrapper {
      width: 100%;
    }

    .inputBox {
      width: 100%;
      margin-top: 24px;
    }

    .searchInputForm {
      margin: 0 15px;
    }
    .searchTitle {
      font-size: 24px;
      margin: 0 15px;
    }

    .searchSubTitle {
      font-size: 14px;
      line-height: 1.6;
      margin-right: 15px;
      margin-left: 15px;
    }
  }
}
