@import "../../variables";

.pageWrapper {
  margin-top: $navbar_height;
  min-height: calc(100vh - #{$navbar_height});
}

.container {
  display: flex;
  width: 1180px;
  margin: 0 auto;
  padding: 0 16px;

  .leftBox {
    width: 300px;
    background-color: white;
    border-right: solid 1px $gray2;
    padding: 0 16px;
    min-height: calc(100vh - #{$navbar_height});
  }

  .rightBox {
    flex: 1;
  }
}
