.buttonWrapper {
  margin-top: 17.5px;
}

.pageButton {
  display: block;
  padding: 0;
  width: 100%;
  height: 46px;
  line-height: 46px;
  border-radius: 5px;
  border: solid 1px $gray400;
  font-size: 14px;
  text-align: center;
  color: $gray800;
}

.pageButton + .pageButton {
  margin-top: 10px;
}

.pageIconWrapper {
  display: inline-block;
  width: 32px;
  height: 100%;
  margin: 0 8px;
}

.pageIcon {
  display: inline-flex;
  align-items: center;
  width: 12px;
  height: 100%;

  svg {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 12px;
  }
}

.pageNumber {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  margin: 0 18px;
}

.prevButton {
  svg {
    transform: rotate(180deg);
  }
}
