@import "../../variables";

.publicationWrapper {
  padding: 0 16px;
}

.header {
  margin-top: 34px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: solid 1px $gray4;
}

.title {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: $black0;
  margin-right: 10px;
}

.paperCount {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: $main_blue1;
}

.contentWrapper {
  margin-bottom: 40px;
}
