@import "../../variables";

.pageWrapper {
  margin-top: $navbar_height;
}

.container {
  display: flex;
  width: 1440px;
  margin: 0 auto;

  .leftBox {
    margin-top: $profile-sub-navbar-height + 16px;
    width: 403px;
  }

  .rightBox {
    flex: 1;
  }
}
