.keywordCompletionWrapper {
  position: absolute;
  top: $search-input-box-height;
  left: 0;
  right: 0;
  z-index: 1555;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 $gray4;
}

.keywordCompletionItem {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 18px;
  height: 35px;
  width: 100%;
  overflow: hidden;
  background-color: white;
  font-size: 15px;
  font-weight: 400;
  color: $black1;
  border-bottom: solid 1px $gray1;

  &:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &:last-of-type {
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &:focus,
  &:hover {
    outline: none;
    background-color: $gray0;
  }

  .keywordCompletionItemContext {
    font-size: 13px;
    color: $gray6;

    b {
      color: $gray6;
      font-weight: bold;
    }
  }
}

.highLightKeywordCompletionItem {
  @extend .keywordCompletionItem;

  background-color: $gray0;
}
