@import "../../../variables";

.inputBox {
  position: relative;
  height: 40px;
  border-radius: 5px;

  input {
    display: block;
    width: 100%;
    border: 0;
    height: 100%;
    padding: 8px 32px 8px 12px;
    margin: 0;
    border-radius: 5px;
    border: solid 1px $gray3;
  }
}

.icon {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  color: $gray6;
  cursor: pointer;

  i, svg {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
  }
}
