@import "../../../variables";

.inputBox {
  display: flex;
  position: relative;
  align-items: center;
  height: 44px;
  border-radius: 5px;
  border: solid 1px $space_gray1;

  input {
    display: block;
    width: 100%;
    border: 0;
    height: 100%;
    border-radius: 5px;
    padding: 12px 18px;
    margin: 0;
  }
}

.icon {
  position: absolute;
  right: 10px;
  top: 9px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;

  svg {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
  }
}