.checkboxIcon {
  display: inline-flex;
  padding: 0;
  padding-bottom: 4px;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  color: $gray600 !important;

  svg {
    font-size: 17px;
  }
}

.checkedCheckboxIcon {
  color: $main_blue0 !important;
}
