.autoYearFilterBox {
  margin-top: 24px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
  color: $gray6;
  width: 100%;
  border-bottom: 1px solid $gray3;
}

.detectedYear {
  font-weight: bold;
}

.removeContext {
  font-size: 14px;
}

.removeFilterBtn {
  text-decoration: underline;
  cursor: pointer;
  color: $gray6;

  &:hover {
    color: $black0;
  }
}
