@import "../../../variables";

.authorWrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  border: solid 1px $gray3;
  width: 220px;
  height: 52px;
  overflow: hidden;
  padding: 8px 12px;
  margin-left: $paper_show_author_list_item_margin;
  margin-bottom: $paper_show_author_list_item_margin;
  cursor: pointer;

  &:hover {
    background-color: $gray1;
    transition: $button-hover-transition;
  }
}

.hindexWrapper {
  position: absolute;
  right: 8px;
  top: 8px;
}

.name {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  color: $dark_navy1;
  max-width: 148px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.organization {
  font-size: 11px;
  line-height: 1.5;
  color: $gray6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
