* {
  button {
    outline: none;
    border: none;
    cursor: pointer;

    &.tinyButton {
      background-color: $gray8;
      border-radius: 8px;
      color: $main_blue1;

      &:hover {
        background-color: $gray2;
      }

      &:active {
        filter: brightness(95%);
      }

      svg {
        width: 16px;
        height: 16px;
        vertical-align: middle;
      }

      span {
        line-height: 16px;
        color: $main_blue0;
        font-size: 12px;
        vertical-align: middle;
      }
    }
  }
}

.paperContentBlockHeader {
  width: 100%;
  font-weight: 700;
  color: $black1;
  padding-bottom: 4px;
  margin-bottom: 8px;
  position: relative;
}

.authors {
  display: inline-block;
  width: 204px;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;

  .tinyButton {
    float: right;
  }

  & > ul {
    font-size: 0;
  }

  .authorList {
    position: relative;

    .authorItem + .authorItem {
      margin-top: 16px;
    }

    .authorItem {
      display: block;
      cursor: pointer;
      white-space: normal;
      width: 100%;
    }
  }
}

@media (max-width: $tablet_width) {
  .authors {
    width: calc(#{$paperInfo-layout-width} * 2 + 24px);

    .authorList {
      .authorItem + .authorItem {
        margin-left: 16px;
        margin-top: unset;
      }

      .authorItem {
        display: inline-block;
        vertical-align: top;
        width: 108px;
      }
    }
  }
}
