@import "../../../variables";

.authorWrapper {
  font-size: 15px;
  line-height: 1.6;
}

.name {
  color: $black_navy1;
}

.organization {
  text-align: left;
  color: $space_gray18;
}

.authorWrapper + .authorWrapper {
  &:before {
    content: ", ";
  }
}

.authorHIndex {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 18px;
  border-radius: 100px;
  border: solid 1px $space_gray1;
  font-size: 12px;
  color: $space_gray3;
  line-height: 1.5;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.hIndexChar:hover + .authorHIndexTooltip {
  opacity: 1;
  visibility: visible;
}
