.authorItemWrapper {
  .authorBasic {
    .authorName {
      font-size: $paperInfo-mainText-fontSize;
      color: $paperInfo-mainText-color;
      line-height: $paperInfo-mainText-lineHeight;
      transition: $transition-ease;
    }
    .authorAffiliation {
      margin-top: 4px;
      font-size: $paperInfo-subText-fontSize;
      color: $paperInfo-subText-color;
      line-height: $paperInfo-subText-lineHeight;
      transition: $transition-ease;
    }
  }
  .authorHindex {
    margin-top: 4px;

    &Label {
      font-size: $paperInfo-subText-fontSize;
      color: $paperInfo-subText-color;
      line-height: $paperInfo-subText-lineHeight;
      transition: $transition-ease;
    }
    &Value {
      font-size: $paperInfo-subText-fontSize;
      color: $gray6;
      font-weight: 500;
      border-radius: 9999px;
      transition: $transition-ease;
    }
  }

  &:hover {
    .authorBasic {
      .authorName {
        color: $main_blue1;
      }

      .authorAffiliation {
        color: $main_blue_light0;
      }
    }
    .authorHindex {
      .authorHindexValue {
        color: $main_blue1;
      }

      .authorHindexLabel {
        color: $main_blue_light0;
      }
    }
  }
}

.contactIconWrapper {
  display: inline-block;
  justify-content: center;
  align-items: center;

  .occupiedIcon {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
  }
}

.verificationTooltip {
  background-color: $gray2 !important;
  color: $black0 !important;
  font-size: 12px;
}
