.tinyButton {
  background-color: $gray50;
  border-radius: 8px;
  padding: 2px 6px 2px 4px;
  color: $main_blue1;
  cursor: pointer;

  &:hover {
    background-color: $gray300;
  }

  &:active {
    filter: brightness(95%);
  }

  svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 2px;
  }

  span {
    line-height: 16px;
    color: $main_blue0;
    font-size: 12px;
    vertical-align: middle;
  }
}

.paperContentBlockHeader {
  width: 100%;
  font-weight: 700;
  color: $black1;
  padding-bottom: 4px;
  margin-bottom: 8px;
  position: relative;
}

.authors {
  display: inline-block;
  width: calc(#{$paper-info-layout-width} * 2 + 24px);
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;

  .tinyButton {
    float: right;
  }

  .authorList {
    position: relative;

    .authorItem + .authorItem {
      margin-left: 16px;
    }

    .authorItem {
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      white-space: normal;
      width: 108px;
    }

    .authorListHideLayer {
      display: inline-block;

      .authorListHideLayerButton {
        padding: 24px 8px;
        height: 100%;
        margin: 0 8px;
        font-size: 10px;
        color: $gray600;

        &:hover {
          color: $main_blue1;
          background-color: $gray50;
        }

        &:active {
          filter: brightness(95%);
        }

        svg {
          margin-top: 4px;
          width: 10px;
          height: 12px;
        }
      }

      & > button.tinyButton {
        position: absolute;
        top: 0;
        right: 8px;
      }
    }
  }
}
