@import "../../../variables";

.authorWrapper {
  position: relative;
  width: 656px;
}

.authorList {
  width: 720px;
  transition: max-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.arrowIconWrapper {
  position: absolute;
  right: -124px;
  bottom: 8px;
  width: 52px;
  height: 52px;
  border-radius: 5px;
  border: solid 1px $space_gray16;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $gray_blue1;
    transition: ease-in-out 0.2s;
  }
}

.arrowIcon {
  display: inline-block;
  vertical-align: top;
  width: 10.4px;
  height: 5.9px;

  svg {
    display: inline-block;
    vertical-align: top;
    transform: rotate(180deg);
  }
}

.arrowIcon.open {
  svg {
    transform: rotate(0deg);
  }
}
