@import "../../../variables";

.bookmarkIconWrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .bookmarkIcon {
    position: absolute;
    top: 12px;
    left: 21px;
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 16px;

    svg {
      display: inline-block;
      vertical-align: top;
    }
  }

  span {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    width: 121px;
    top: 12px;
    left: 40px;
    text-align: center;
  }
}
