@import "../../../variables";

.bookmarkIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmarkIconWrapper.active {
  color: white;
}

.bookmarkIcon {
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 16px;
  margin-right: 8px;

  svg {
    display: inline-block;
    vertical-align: top;
  }
}
