.boxWrapper {
  padding: 20px 12px 10px 12px;
}

.header {
  display: flex;
  margin-bottom: 8px;
}

.title {
  flex: 1;
  font-size: 18px;
  font-weight: 500;
  color: $black0;
}

.iconWrapper {
  width: 12px;
  cursor: pointer;
  svg {
    color: $gray500;
  }
}

.copyButtonWrapper {
  margin-top: 8px;
  text-align: right;
}

.copyButton {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: $main_blue0;
  color: #fff;
  font-size: 15px;
  text-align: right;
  cursor: pointer;
}

.tabBoxWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16.5px;
}

.normalTabWrapper {
  flex: 1;
}

.tabItem {
  display: inline-block;
  vertical-align: top;
  padding: 12px;
  font-size: 14px;
  text-align: center;
  color: $gray600;
  cursor: pointer;
}

.tabItem.active {
  position: relative;
  color: $gray800;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: solid 1px $gray400;
  border-right: solid 1px $gray400;
  border-left: solid 1px $gray400;
  border-bottom: none;
  &::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: white;
    z-index: 2;
  }
}

.plusIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  background-color: $gray200;
  cursor: pointer;
}

.plusIcon {
  display: inline-block;
  vertical-align: top;
  width: 9px;
  height: 9px;
  margin-top: -9px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.textBoxWrapper {
  border-radius: 3px;
  padding-left: 8px;
  padding-top: 8px;
  height: 180px;
  border: solid 1px $gray400;
}

.textArea {
  resize: none;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.54;
  text-align: left;
  color: $gray800;
}
