.collectionMemoBox {
  margin-top: 16px;
  padding: 16px;
  background-color: $gray0;
  width: 384px;
  border-radius: 4px;
  border: 1px solid $gray8;

  .memoItem + .memoItem {
    margin-top: 8px;
  }

  .memoItem {
    position: relative;
    background-color: $gray2;
    border-radius: 8px;
    color: $black0;
    font-size: 14px;
    white-space: pre-wrap;
    max-height: 400px;
    overflow-y: auto;

    &:hover {
      .noteButtonWrapper {
        opacity: 1;
        transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1);
      }
    }

    .memoContent {
      padding: 12px;
    }

    .memoCollectionName {
      padding: 8px 12px 12px 12px;
      font-style: italic;
      color: $gray6;
      width: 100%;
      text-align: right;

      .name {
        font-weight: 500;
        color: $black0;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &.updatedMemoItem {
      animation-duration: 1.5s;
      animation-name: blink;
    }
  }
}

.sideNavigationBlockHeader {
  width: 100%;
  font-weight: 700;
  color: $black1;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.spinner {
  text-align: center;
}

.noteButtonWrapper {
  position: absolute;
  opacity: 0;
  display: inline-block;
  top: 12px;
  right: 12px;
  z-index: 2;

  .noteControlIcon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: $gray2;
    border-radius: 2px;
    color: $gray5;
    cursor: pointer;

    &:hover {
      &.penIcon {
        color: $main_blue1;
      }

      &.trashIcon {
        color: $red0;
      }
    }

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .noteControlIconWrapper + .noteControlIconWrapper {
    margin-left: 4px;
  }
}

@keyframes blink {
  from {
    background-color: rgba(248, 231, 28, 0.5);
  }

  to {
    background-color: $gray2;
  }
}
