@import "../../../variables";

.collectionList {
  list-style: none;
  padding: 8px 0;
  margin: 0;
  height: 169px;
  overflow-y: scroll;
  border-bottom: 1px solid $space_gray16;

  .collectionItem {
    cursor: pointer;
  }

  .collectionListSpinnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.createCollectionWrapper {
  display: flex;
  height: 49px;
  justify-content: center;
  align-items: center;
  color: $royal_blue4;
  cursor: pointer;

  .plusIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 8px;

    svg {
      display: inline-block;
      vertical-align: top;
      width: 12px;
      height: 12px;
    }
  }
}

.newCollectionForm {
  padding: 16px 16px 14px 16px;

  label {
    display: block;
    font-size: 12px;
    line-height: 1.33;
    color: $space_gray18;
    margin-bottom: 5px;
  }

  input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 8px;
    border: solid 1px $space_gray1;
  }

  textarea {
    display: block;
    width: 100%;
    height: 70px;
    padding: 0 8px;
    border-radius: 5px;
    border: solid 1px $space_gray1;
  }

  .actionButtonWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  button {
    display: flex;
    justify-content: center;
    width: 56px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: $royal_blue4;
    cursor: pointer;
    background-color: transparent;
  }

  .formControl + .formControl {
    margin-top: 8px;
  }
}
