.collectionList {
  list-style: none;
  padding: 8px 4px 8px 10px;
  margin: 0;
  max-height: 169px;
  overflow-y: auto;
  border-bottom: 1px solid $gray400;

  .collectionItem {
    position: relative;
    height: 36px;
    padding: 8px 12px 8px 4px;
    font-size: 14px;
    line-height: 1.43;
    color: $black0;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: rgba(187, 194, 208, 0.15);
    }

    .collectionTitle {
      display: inline-block;
      vertical-align: top;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .checkBox {
      display: inline-block;
      vertical-align: top;
      margin-right: 8px;
      width: 20px;
      height: 20px;
    }

    .paperCount {
      position: absolute;
      right: 8px;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
    }

    .checkedCheckboxIcon {
      color: $main_blue0 !important;
    }
  }

  .collectionListSpinnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.createCollectionWrapper {
  display: flex;
  height: 49px;
  justify-content: center;
  align-items: center;
  color: $main_blue1;
  cursor: pointer;

  .plusIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 8px;

    svg {
      display: inline-block;
      vertical-align: top;
      width: 12px;
      height: 12px;
    }
  }
}

.newCollectionForm {
  padding: 16px 16px 14px 16px;

  label {
    display: block;
    font-size: 12px;
    line-height: 1.33;
    color: $gray800;
    margin-bottom: 5px;
  }

  input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 8px;
    border: solid 1px $gray500;
  }

  textarea {
    display: block;
    width: 100%;
    height: 70px;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px $gray500;
    resize: vertical;
  }

  .actionButtonWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  button {
    display: flex;
    justify-content: center;
    width: 56px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: $main_blue1;
    cursor: pointer;
    background-color: transparent;
  }

  .cancelButton {
    color: $black0;
    opacity: 0.25;
  }

  .formControl + .formControl {
    margin-top: 8px;
  }
}
