@import "../../../variables";

$commentMoreItemClickableWidth: 20px;
$commentMoreItemClickableHeight: 28px;

.commentItemWrapper {
  padding: 15px 0;
  border-top: solid 1px $space_gray16_soft;

  &:last-of-type {
    border-bottom: solid 1px $space_gray16_soft;
  }
}

.authorInformationBox {
  position: relative;
  margin-bottom: 8px;
}

.authorName {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: $dark_navy1;
  margin-right: 10px;
}

.authorAffiliation {
  font-size: 15px;
  line-height: 1.07;
  text-align: left;
  color: $space_gray19;
}

.contentBox {
  font-size: 15px;
  line-height: 1.5;
  color: $space_gray18;
}

.commentMoreItemWrapper {
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  width: $commentMoreItemClickableWidth;
  height: $commentMoreItemClickableHeight;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .commentMoreItem {
    width: $commentMoreItemClickableWidth;
    height: $commentMoreItemClickableHeight;
    cursor: pointer;

    &:hover {
      background-color: transparent;
    }
  }

  .commentMoreIcon {
    svg {
      width: 4px;
      height: 20px;
    }
  }
}

.additionalMenuItem {
  color: $coral_pink2;

  &:hover {
    background-color: $space_gray5;
  }
}
