@import "../../../variables";

.commentTitle {
  font-size: 22px;
  font-weight: 500;
  color: $black_navy1;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid $space_gray1;

  span {
    display: inline-block;
    vertical-align: top;
  }
}

.commentCount {
  margin-left: 10px;
  color: $royal_blue1;
}
