@import "../../../variables";

.inputBoxWrapper {
  margin-bottom: 8px;
}

.textAreaWrapper {
  border-radius: 5px;
}

.textArea {
  width: 100%;
  border: solid 1px $space_gray16;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 1.5;
  margin: 0;
  padding: 13px 15.5px;
  resize: none;
}

.postButtonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.submitButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 36px;
  padding: 8px 0;
  background-color: $royal_blue4;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  margin-top: 8px;
  cursor: pointer;

  &:disabled {
    opacity: 0.25;
  }

  &.loadingSubmit {
    opacity: 0.5;
  }

  .buttonSpinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
