.doiContext {
  font-size: 14px;
  line-height: 1.43;
  color: $gray600;
}

.doiTitle {
  @extend .doiContext;
  color: $gray800;
  font-weight: 500;
}

.doiWrapper {
  display: inline-block;
  margin-left: 2px;
}

.tinyButton {
  float: right;
  margin-left: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 2px 6px 2px 4px;
  color: $main_blue1;

  &:hover {
    background-color: $gray50;
  }

  &:active {
    filter: brightness(95%);
  }

  svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 2px;
  }

  span {
    color: $main_blue0;
    font-size: 11px;
    vertical-align: middle;
  }
}
