.fosList {
  font-size: 0;
  .fosItem {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    padding: 0 8px;
    background-color: #f8f9fb;
    border: solid 1px #f1f3f6;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666d7c;
    &:hover {
      background-color: $gray300;
    }
  }
}
