.innerSearchBoxWrapper {
  max-width: 792px;
  padding: 24px 36px;
  margin: 36px 0;
  border-radius: 4px;
  background-color: $gray0;
}

.innerSearchBoxTitle {
  color: $navy0;
}

.searchIcon {
  position: absolute;
  top: 0;
  right: 16px;
  width: 17px;
  height: 100%;
  color: $main_blue0;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }
}

.searchWrapper {
  height: 100%;
  border: solid 1px $gray3;
  border-radius: 4px;

  &:focus-within {
    border: solid 1px $gray5;
    transition: 0.3s ease-in-out;
  }
}

.fosWrapper {
  margin-top: 8px;
}

.fosGuideContent {
  color: $gray5;
  margin-right: 12px;
}

.keywordList {
  display: inline-block;
  font-size: 0;
  .keywordItem + .keywordItem {
    margin-left: 8px;
  }
  .keywordItem {
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 8px;
    font-size: 14px;
    color: $navy0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
