@import "../../../variables";

.buttonWrapper {
  display: inline-block;
  vertical-align: top;
  height: 38px;
  line-height: 38px;
  border-radius: 5px;
  background-color: $sky_blue;
  text-align: center;
  padding: 0 8px;
  margin-bottom: 8px;
  font-size: 16px;
  color: $royal_blue1;
}

.buttonWrapper + .buttonWrapper {
  margin-left: 8px;
}
