.paperListWrapper {
  margin-top: 40px;
  padding-top: 16px;
  border-top: solid 1px $gray400;
}

.title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: $gray800;
  margin-bottom: 20px;
}
