.paperFigureContainer {
  display: flex;
  flex-flow: wrap;
  margin-top: 52px;
}

.paperFigureHeader {
  width: 100%;
  font-weight: 700;
  color: $black1;
  padding-bottom: 4px;
  margin-bottom: 8px;
  position: relative;
}

.showAllBtn {
  display: none;
}

@media (max-width: $mobile_width) {
  .paperFigureContainer {
    justify-content: space-around;
  }

  .showAllBtn {
    display: block;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    background-color: $gray50;
    font-size: 14px;
    color: $gray600;
    margin-top: 28px;

    &:hover {
      background-color: $gray300;
      transition: $button-hover-transition;
    }
  }
}
