@import "../../../variables";

.pdfOrSourceButtonWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px $royal_blue1;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  color: $royal_blue4;

  &:hover {
    background-color: rgba(96, 150, 255, 0.1);
    transition: $button-hover-transition;
  }
}

.sourceIcon {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 14.3px;
  margin-right: 8px;

  svg {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
  }
}
