.paperItemWrapper {
  padding: 8px 12px;
  border: 1px solid $gray300;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all ease 0.5s;
  animation-duration: 1.5s;
  animation-name: flash;

  @keyframes flash {
    0% {
      background-color: #fffcd9;
      opacity: 0.25;
    }
    60% {
      opacity: 1;
    }
    100% {
      background-color: #ffffff;
    }
  }
}

.paperItemWrapper + .paperItemWrapper {
  margin-top: 16px;
}

.title {
  font-size: 14px;
  color: $navy0;
  line-height: 20px;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $purple0;
  }
}

.journalLink {
  color: $gray700;

  &:hover {
    text-decoration: underline;
  }
}

.journal {
  svg {
    height: 12px;
    margin-right: 4px;
    margin-bottom: -2px;
  }
  margin-top: 6px;
  font-size: 13px;
  color: $gray600;
  line-height: 18px;
}
