.bannerContainer {
  position: absolute;
  left: -200px;
  bottom: 0;
  width: 178px;
  border-radius: 4px;
  border: solid 1px $gray1;
  background-color: $gray0;
  padding: 24px;
}

.bannerTitle {
  font-size: 20px;
  font-weight: bold;
  color: $black1;
  white-space: pre-line;
}

.bannerSignButton {
  width: 80px;
  height: 39px;
  margin-top: 12px;
  border-radius: 4px;
  border: solid 1px $gray2;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  color: $main_blue1;

  &:hover {
    transition: $button-hover-transition;
    color: $main_blue_light0;
  }
}

@media (max-width: $regular_width) {
  .bannerContainer {
    display: none;
  }
}
