.bannerContainer {
  position: absolute;
  left: -200px;
  bottom: 0;
  width: 178px;
  border-radius: 4px;
  border: solid 1px $gray1;
  background-color: $gray0;
  padding: 24px;
}

.bannerIconWrapper {
  width: 36px;
  height: 36px;
  margin-bottom: 8px;

  svg {
    color: $black1;
  }
}

.bannerTitle {
  font-size: 20px;
  font-weight: bold;
  color: $black1;
  white-space: pre-line;
}

.bannerSignButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 39px;
  margin-top: 12px;
  border-radius: 4px;
  background-color: $main_blue1;
  font-size: 14px;
  line-height: 1.43;
  font-weight: bold;
  color: white;

  &:hover {
    transition: $button-hover-transition;
    background-color: $main_blue_light0;
  }
}

.bannerSignBtnIcon {
  display: flex;
  margin-right: 4px;

  svg {
    width: 20px;
    height: 20px;
    color: white;
    vertical-align: middle;
  }
}

@media (max-width: $regular_width) {
  .bannerContainer {
    display: none;
  }
}
