.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  transition: max-height ease 0.2s;
  z-index: 400;
  overflow: hidden;
}

.closeButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: $gray4;

  svg {
    width: 16px;
    height: 16px;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 996px;
  margin: 0 auto;
  height: 100%;
}

.titleText {
  font-size: 36px;
  font-weight: 900;
  color: #1b2a36;
}

.subText {
  margin-top: 4px;
  font-size: 20px;
  color: $gray6;
}

.blueStrong {
  font-weight: 700;
  color: $main_blue1;
}

.searchBarContainer {
  margin-top: 16px;
  width: 100%;
  display: flex;
}

.searchBarInputContainer {
  flex: 1;
  margin-right: 8px;
}

.inputWrapper {
  position: relative;
  width: calc(100% - 56px);
  margin-right: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.input {
  width: 100%;
  padding: 20px 28px;
  font-size: 24px;
  font-weight: 500;
  color: #1b2a36;
  border: 1px solid $gray8;
  border-radius: 4px;
  outline: none;
}

.searchBarInput:active + body {
  background-color: rgba(0, 0, 0, 0.5);
}

.searchBarInput::placeholder {
  color: #bbc2d0;
}

.keywordSuggestionList {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  border: 1px solid #f4f4f5;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.keywordSuggestionList.show {
  display: block;
}

.keywordSuggestionList > li.keywordSuggestionItem {
  background-color: white;
  padding: 16px 28px;
  font-size: 16px;
  cursor: pointer;
}

.keywordSuggestionList > li.keywordSuggestionItem:hover {
  background-color: #f9f9fa;
}

.keywordSuggestionList > li.keywordSuggestionItem + li.keywordSuggestionItem {
  border-top: 1px solid #e7eaef;
}

.searchBtn {
  padding: 20px;
  font-size: 24px;
  background-color: $main_blue1;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
