.sourcesWrapper {
  @include popper-paper(198px);
  max-height: 202px;
  overflow-y: auto;
  border-radius: 4px;
}

.sourceItem {
  @extend %popper-item;
  position: relative;
  white-space: pre;

  .sourceIcon {
    @include flex-center-vertical-horizontal(flex);
    position: absolute;
    top: 12px;
    right: 8px;
    width: 20px;
    height: 20px;
    color: $gray600;
    opacity: 0;
    transition: opacity 150ms ease-in-out;

    svg {
      width: 13px;
      height: 13px;
    }
  }

  &:hover {
    .sourceIcon {
      opacity: 1;
    }
  }

  .host {
    @extend %one-line-overflow-ellipsis;
    display: inline-block;
    width: 150px;

    &.pdfHost {
      width: 100px;
    }
  }
}
