.dialogPaper {
  width: 596px;
  max-height: 572px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(12, 0, 51, 0.1);
  padding: 0 16px;
}

.dialogHeader {
  position: relative;
  padding: 16px 0;
  margin-bottom: 8px;
  line-height: 1.4;

  .mainTitle {
    font-size: 20px;
    font-weight: bold;
    color: $black0;
  }
  .sectionGuideContext {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.43;
    color: $gray800;
  }
}

.closeButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 0px;
  width: 24px;
  height: 24px;
  cursor: pointer;

  .closeIcon {
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    color: $black0;
    opacity: 0.5;
  }
}

.alreadySelectedPapers {
  margin-bottom: 14px;
  padding-bottom: 8px;
  border-bottom: 1px solid $gray500;
}

.paperItemWrapper {
  display: flex;
  flex-basis: row;
  padding: 2px 0;
  cursor: pointer;

  &:first-of-type {
    margin-top: 0;
  }

  & + & {
    margin-top: 16px;
  }

  &:hover {
    background-color: $gray30;
  }
}

.contentSection {
  height: 314px;
  margin: 24px 0;
  overflow-y: auto;
}

.checkBox {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  color: $gray600 !important;
  padding: 0;

  svg {
    font-size: 16px;
  }
}

.checkedCheckboxIcon {
  color: $main_blue0 !important;
}

.paperItemTitle {
  width: 500px;
  font-size: 17px;
  font-weight: 1.4;
  font-weight: 500;
  color: $navy0;
  margin-top: -2px;
}

.footer {
  position: relative;
  height: 40px;
  padding: 10px;
  margin-bottom: 16px;
}

.buttonsWrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.remainingText {
  font-size: 14px;
}

.noRemainingText {
  color: $red0;
}

.disabledSelectItem {
  @extend .paperItemWrapper;
  opacity: 0.25;
}
