* {
  color: #444;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.header {
  padding: 72px 0 48px 0;
  width: 100%;
  background-color: #f4f6f8;

  .headerContent {
    width: 1200px;
    margin: 0 auto;
    position: relative;

    h1 {
      font-size: 36px;
    }

    p {
      font-size: 16px;
      color: #444;
      line-height: 1.4;
    }
  }
}

.content {
  margin: 48px auto;
  width: 1200px;
}

.blogLinkInputSection {
  display: inline-flex;
  align-items: center;
}

.blogLinkInput {
  width: 300px;
}

.blogLinkAddButton {
  width: 88px;
  height: 56px;
  margin-left: 8px;
  padding: 12px 16px;
  font-size: 14px;
  background-color: #6096ff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  outline: none;

  &:hover {
    filter: brightness(1.05);
  }
  &:active {
    filter: brightness(0.95);
  }
}

.adminKeyInputSection {
  @extend .blogLinkInputSection;
  margin-left: 16px;
}

.pageReloadButton {
  @extend .blogLinkAddButton;
}

td,
th {
  text-align: center !important;
}

.linkTableCell {
  text-align: left !important;
}

.postList td.running {
  color: rgb(40, 84, 255);
  font-weight: 500;
}

.startButton {
  width: 82px;
  color: rgb(40, 84, 255);
  font-weight: 500;
  padding: 8px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  outline: none;
}

.startButton:hover {
  color: rgb(40, 84, 255);
  background-color: rgb(204, 234, 250);
  border: 1px solid rgb(204, 234, 250);
  cursor: pointer;
}

.stopButton {
  width: 82px;
  color: rgb(240, 44, 70);
  font-weight: 500;
  padding: 8px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  outline: none;
}

.stopButton:hover {
  color: red;
  background-color: rgb(240, 214, 230);
  border: 1px solid rgb(240, 214, 230);
  cursor: pointer;
}

.spinnerWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .loadingSpinner {
    color: white;
  }
}

.errorPageContainer {
  max-width: $container_width;
  margin: $navbar_height auto 229.7px auto;
  max-height: 100%;
  text-align: center;
}

.errorTitle {
  margin-top: 160px;
  font-size: 120px;
  font-weight: bold;
  letter-spacing: 8px;
  color: $gray400;
}

.errorContent {
  margin-top: 16px;
  font-size: 30px;
  font-weight: bold;
  color: $gray800;
}

.goBackButton {
  margin-top: 62px;
  display: inline-block;
  width: 120px;
  height: 44px;
  background-color: $main_blue0;
  color: white;
  border-radius: 5px;
  line-height: 44px;
  cursor: pointer;
}
