@import "../../../../variables";

.topSectionContainer {
  margin-top: $navbar-height;
  height: 440px;
  background-color: $light_royal_blue3;
  position: relative;

  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
    padding-top: 120px;

    .title {
      font-size: 34.5px;
      font-weight: bold;
      line-height: 1.38;
      text-align: center;
      color: $black_navy1;
    }

    .subTitle {
      font-size: 21.5px;
      line-height: 2.21;
      text-align: center;
      color: $space_gray18;
    }
  }

  @media (max-width: 768px) {
    height: 320px;
    padding-left: 15px;
    padding-right: 15px;

    .innerContainer {
      padding-top: 60px;
      .title {
        font-size: 22px;
        line-height: 1.51;
        letter-spacing: 0.6px;
      }
      .subTitle {
        font-size: 16px;
        line-height: 1.38;
        font-weight: 300;
      }
    }
  }
}

.checkIcon {
  position: absolute;
  bottom: -20px;
  left: 50%;
  display: flex;

  svg {
    width: 40px;
    height: 40px;
  }
}
