.loadingContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 250px;
  align-items: center;
  margin-top: $navbar_height;
  min-height: 738.5px;

  .loadingSpinner {
    div {
      background-color: $gray500;
    }
  }
}

.noPaperWrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .ufoIcon {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 59px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .noPaperDescription {
    font-size: 18px;
    color: $gray800;
    margin-top: 24px;
  }
}

.subHeader {
  position: relative;
  margin: 16px 0;
}

.resultPaperCount {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  color: $gray600;
  margin-left: 12px;
}

.resultPaperPageCount {
  font-size: 16px;
  line-height: 1.5;
  color: $gray600;
}

.paperItemWrapper {
  display: flex;

  & + & {
    margin-top: 16px;
  }
}

.paperCheckBox {
  margin: 8px 16px 0 0;
}

.itemWrapper {
  @extend %default-paper-item-wrapper;
  width: 100%;
}

@media (max-width: $mobile_width) {
  .subHeader {
    display: flex;
    flex-direction: column;
  }

  .itemWrapper {
    width: 100%;
    padding: 16px;
  }
}
