.CollectionPaperItemWrapper {
  position: relative;
  padding-bottom: 12px;
  border-bottom: $gray2 1px solid;
  margin-bottom: 12px;
  background-color: white;

  .paper {
    display: inline-block;
    width: 692px;
    margin-right: 16px;

    .paperItemWrapper {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}
