.collectionHeaderBtnWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.shareAreaWrapper {
  z-index: 2;
  position: absolute;
  bottom: -121px;
  right: 0;
  width: 214px;
  height: 110px;
  border-radius: 4px;
  border: 1px solid $gray300;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 88%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: $gray300;
    border-top: 0;
    margin-left: -35px;
    margin-top: -11px;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 88%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: white;
    border-top: 0;
    margin-left: -34px;
    margin-top: -10px;
    z-index: 2;
  }

  .shareGuideMessage {
    font-size: 14px;
    color: $gray800;
  }

  .shareBtnsWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    z-index: 2;
  }

  .shareBtn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    background-color: $gray50;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #e6eaee;
    }

    &:active {
      filter: brightness(95%);
    }
  }

  .shareBtn + .shareBtn {
    margin-left: 8px;
  }

  .shareIcon {
    width: 24px;
    height: 24px;

    svg {
      color: $main_blue1;
    }
  }

  .facebookShareIcon {
    @extend .shareIcon;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 12px;
      height: 18px;
    }
  }

  .twitterShareIcon {
    @extend .facebookShareIcon;

    svg {
      width: 20px;
      height: 16px;
    }
  }
}
