.snackbarWrapper {
  @extend %snackbar-wrapper;
}

.snackbarContext {
  font-size: 16px;
  color: rgba(256, 256, 256, 0.8);
  padding-right: 48px;
}

@media (max-width: $mui-md-width) {
  .snackbarContext {
    padding-right: 0px;
  }

  .closeBtn {
    position: absolute;
    right: 8px;
    top: 14px;
  }
}
