.sideNaviBarWrapper {
  width: 180px;
  margin-top: -91px;
  margin-left: 24px;
  position: absolute;
  border-radius: 8px;
  background-color: $gray200;
  padding: 16px;
  display: inline-flex;
  flex-direction: column;
}

.collectionIcon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.naviBarTitle {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  color: $black0;
  padding-bottom: 12px;
  border-bottom: 1px solid $gray300;

  .naviBarTitleLink {
    display: flex;
    align-items: center;
  }
}

.naviBarContent {
  padding-top: 12px;
}

.collectionItemTitle {
  width: 148px;
  display: block;
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: 14px;
  line-height: 1.43;
  color: $gray800;

  &:hover {
    color: $gray600;
    text-decoration: underline;
  }

  & + & {
    margin-top: 16px;
  }
}

.currentCollectionItemTitle {
  @extend .collectionItemTitle;
  font-weight: 500;
  color: $black0;

  &:hover {
    color: $black1;
  }
}

.createNewCollectionBtn {
  @extend .collectionItemTitle;
  color: $main_blue1;
  cursor: pointer;
  text-align: left;

  &:hover {
    color: $main_blue_light0;
  }
}

.spinnerWrapper {
  display: flex;
  height: 24px;
  margin-bottom: 12px;
  align-items: center;
  justify-content: center;

  .loadingSpinner {
    color: $gray800;
  }
}

// Tablet
@media (max-width: $tablet-width) {
  .sideNaviBarWrapper {
    display: none;
  }
}
