.filterContainer {
  margin-top: 78px;
  margin-left: 22px;
  border: 1px solid $gray3;
  border-radius: 4px;
  flex: 1;
  max-width: $filter-container-width;
  height: 100%;
  position: relative;

  @media (max-width: 1200px) {
    display: none;
  }

  .filterContainerTitle {
    font-size: 14px;
    font-weight: bold;
    color: $gray6;
    vertical-align: top;
  }

  .filterTitle {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: bold;
    color: $gray6;
    margin-top: 37.5px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.filterItem {
  position: relative;
  display: block;
  font-size: 14px;
  color: $gray6;
  line-height: 16px;
  cursor: pointer;

  & + & {
    margin-top: 4px;
  }

  &:hover {
    color: $main_blue0;
    text-decoration: underline;
  }

  &.isSelected {
    color: $main_blue0;
    text-decoration: underline;
  }
}

.ifIconWrapper {
  margin-right: 4px;

  svg {
    width: 10px;
    height: 10px;
    color: $main_blue0;
  }
}

.ifLabel {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  color: $main_blue0;
  padding: 0 8px;
  margin-left: 4px;
}

.zeroCountFilterItem {
  pointer-events: none;
  color: $gray5;

  .ifLabel {
    @extend .ifLabel;
    color: $gray3;

    .ifIconWrapper {
      @extend .ifIconWrapper;

      svg {
        color: $gray3;
      }
    }
  }
}

.linkTitle {
  display: inline-block;
  vertical-align: top;
  max-width: 240px;
  line-height: 20px;
}

.countBox {
  position: absolute;
  right: 0;
  opacity: 0.25;
  font-size: 12px;
  color: $black0;
}

.rangeFilterItem {
  margin-bottom: 8px;
  margin-top: 12px;
}

.yearFilterRangeBox {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.yearInput {
  display: inline-block;
  vertical-align: top;
  width: 67px;
  height: 24.5px;
  border: solid 1px $gray4;
  border-radius: 2px;
  background-color: transparent;
  padding-bottom: 4px;
  padding-left: 3px;
  font-size: 14px;

  &:focus {
    border: solid 1px $main_blue_light0;
    transition: 0.1s, ease-in-out;
  }
}

.yearDash {
  color: $gray4;
  margin-right: 4px;
  margin-left: 4px;
}

.yearSubmitLink {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 24.5px;
  line-height: 24.5px;
  font-size: 13px;
  margin-left: 4px;
  color: $main_blue0;
  text-align: center;
  border-radius: 2px;
  &:hover {
    background-color: $gray1;
    transition: 0.2s ease-in-out;
  }
}

.filterBox {
  padding: 24px 16px;
  border-top: solid 1px $gray3;
  max-height: 100%;
  overflow-x: hidden;

  &:first-of-type {
    border-top: 0;
  }
}

.filterContainerTitleBox {
  @extend .filterBox;
  padding: 18px 16px;
}

.filterResultButton {
  margin-right: 14px;

  svg {
    width: 20px;
    height: 13px;
  }
}

.ExpandingJournalFilter {
  max-height: 600px;
}

.filterTitleBox {
  position: relative;
}

.moreItem {
  font-size: 14px;
  color: $gray5;
  text-decoration: underline;
  margin-top: 8px;
  cursor: pointer;
}

.checkboxIcon {
  display: inline-flex;
  padding: 0;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  color: $gray5 !important;

  svg {
    font-size: 17px;
  }
}

.checkedCheckboxIcon {
  color: $main_blue0 !important;
}

.arrowBottomTooltip {
  background-color: #606269 !important;
  color: white !important;
  font-size: 10px !important;
  margin-bottom: 6px !important;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 55%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #606269;
    border-bottom: 0;
    margin-left: -13px;
    margin-top: 20px;
    z-index: 2;
  }
}

.loading {
  opacity: 0.5;
  pointer-events: none;
}

.filterLoadingWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $gray1;
  opacity: 0.9;
}

.autocompleteFilterWrapper {
  margin: 12px 0;
  height: 32px;
}
