.afterDownloadContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 996px;
  height: 183px;
  margin: 0 auto;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-align: center;

  .titleContext {
    font-family: Georgia;
    font-size: 24px;
    color: $black0;
    margin-bottom: 5px;
  }

  .subContext {
    font-size: 16px;
    line-height: 1.75;
    color: $gray600;
    margin-bottom: 20px;
  }

  .reloadBtn {
    display: flex;
    align-items: center;
    line-height: 1.43;
    border-radius: 4px;
    background-color: $main_blue0;
    color: white;
    width: 150px;
    height: 36px;
    font-size: 14px;
    font-weight: bold;

    .reloadIcon {
      @include flex-center-vertical-horizontal(inline-flex);
      width: 20px;
      height: 20px;
      margin-left: 10px;
      margin-right: 4px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      background-color: $main_blue_light0;
    }
  }
}

.afterDownloadSearchContainer {
  width: 996px;
  height: 154px;
  border-radius: 4px;
  background-image: linear-gradient(140deg, rgba(216, 221, 231, 0.7) 50%, #d8dde7 50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px auto 40px auto;

  .titleContext {
    font-size: 18px;
    font-weight: 500;
    color: $black1;
    margin-bottom: 18px;
  }

  .searchInputForm {
    width: 590px;
    position: relative;
    border-radius: 4px;

    &:focus {
      outline: none;
    }
  }

  .searchInput {
    display: flex;
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 4px;
    line-height: 1.5;
    color: $black0;
    background-color: white;
    overflow: hidden;
    align-items: center;
    padding: 0 44px 0 16px;

    &::placeholder {
      font-weight: bold;
      color: $gray600;
    }
  }
}
