.contentWrapper {
  background-color: $gray8;
  padding: 32px 0;
  margin-bottom: 40px;
}

.loadingContainerWrapper {
  @extend .contentWrapper;
  padding: 32px 0 84px 0;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 996px;
  height: 484px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 84px;
  background-color: white;
  color: $main_blue1;
  margin: 0 auto;
}

.loadingContent {
  position: absolute;
}
