@import "../../../variables";

.abstractWrapper {
  margin-bottom: 41.5px;
}

.title {
  font-size: 24px;
  line-height: 1.04;
  color: $black_navy1;
  margin-bottom: 25px;
}

.content {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: $black_navy1;
  white-space: pre-wrap;
  word-break: break-all;
}
