@import "../../../variables";

.articleInfoWrapper {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.69;
  color: $space_gray17;
}

.articleInfoItem {
  &:after {
    content: "  |  ";
    white-space: pre;
  }

  &:last-of-type {
    &:after {
      content: "";
    }
  }
}
