@import "../../../variables";

.authorListWrapper {
  display: block;
  margin-bottom: 40px;
  align-items: center;
  max-width: $small-container-width;
}

.authorItem {
  display: inline-block;
  min-width: 180px;
  height: 69.6px;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px $space_gray2;
  margin-right: 20px;

  &:nth-child(4n) {
    margin-right: 0px;
  }

  &:nth-child(n + 3) {
    margin-top: 10.4px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.authorName {
  @include one-line-elipsis-truncate(130px);
  font-size: 15px;
  line-height: 1.33;
  text-align: left;
  color: $black_navy1;
}

.authorOrganization {
  @include one-line-elipsis-truncate(130px);
  font-size: 11px;
  line-height: 1.82;
  text-align: left;
  color: $space_gray5;
}

.authorListOpenButton {
  @include default-button($light_royal_blue2, 180px, 40px, 16px);
  width: 113.5px;
  height: 50px;
  line-height: 50px;
  margin-top: 19px;
}

.authorListCloseButton {
  @include default-button($light_royal_blue2, 180px, 40px, 16px);
  width: 113.5px;
  height: 50px;
  line-height: 50px;
  margin-top: 19px;
}
