@import "../../../variables";

.userImageWrapper {
  display: inline-block;
  vertical-align: top;
  width: 37px;
  height: 37px;
  margin-right: 10px;
}

.userInformation {
  display: inline-block;
  vertical-align: top;
}

.username {
  height: 20px;
  color: $black_navy1;
  font-size: 15px;
  line-height: 1.33;
}

.organization {
  height: 20px;
  font-size: 11px;
  line-height: 1.82;
  text-align: left;
  color: $space_gray5;
}
