@import "../../../variables";

.tagListWrapper {
  margin-bottom: 5px;
}

.tagItem {
  display: inline-block;
  vertical-align: top;
  padding: 6px 17px;
  height: 32px;
  border-radius: 2px;
  background-color: $light_royal_blue2;
  font-size: 14px;
  text-align: center;
  color: $royal_blue1;
  margin-right: 10px;
}
