.button {
  padding: 7px 8px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.2;
  }
}

.spinnerWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .loadingSpinner {
    color: white;
  }
}
