.dialogPaper {
  width: 100%;
  padding: 20px 16px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.25px;
  color: $black0;
}

.form {
  display: block;
  margin-top: 36px;

  .keywordInput {
    width: 100%;
    height: 34px;
    border-radius: 4px;
    border: solid 1px $gray400;
    font-size: 13px;
    padding: 8px;
    color: $black0;
    margin-top: 8px;
  }

  .detailLabel {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.47px;
    color: $gray700;
  }
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 26px;
}
