@import "../../../variables";

.resetPasswordContainer {
  max-width: $container_width;
  margin: 0 auto;

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 35px;
    border-radius: 1.7px;
    background-color: white;
  }
}

.submitButton {
  @include common-button($royal_blue1);
  margin-top: 43px;
}

.buttonSpinner {
  position: absolute;
  left: 20px;
}

.loadingSubmitButton {
  @include common-button($space_gray9);
  cursor: wait;
  margin-top: 43px;
  position: relative;
}

.backButton {
  @include common-button($space_gray22);
  margin-top: 10px;
  margin-bottom: 40px;
}

.dialogTitle {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2.7px;
  color: $space_gray18;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 23px;
}

.dialogSubtitle {
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
  color: $space_gray19;
  margin-bottom: 26.5px;
}

.errorMessageBox {
  margin-top: 8.5px;
  margin-bottom: -25px;
  font-size: 14px;
  color: $coral_pink2;
}

.verificationEmailIconWrapper {
  display: inline-block;
  vertical-align: top;
  width: 98px;
  height: 83px;

  svg {
    display: inline-block;
    vertical-align: top;
    width: 98px;
    height: 83px;
  }
}

.successBox {
  width: 403px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.successTitle {
  font-size: 18px;
  line-height: 1.22;
  color: $black_navy2;
  margin-top: 27px;
  margin-bottom: 12px;
}

.successSubtitle {
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
  color: $space_gray19;
  margin-bottom: 40px;
}

.closeButtonWrapper {
  text-align: right;

  .closeButtonIcon {
    color: $space_gray1;
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    margin-top: 16px;
    margin-right: 16px;
    cursor: pointer;

    svg {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
    }
  }
}
