@import "../../variables";

.upperContainer {
  max-width: $container-width;
  margin: 0 auto;
}

.profileContainer {
  display: flex;
  align-content: left;
  margin: 168px auto 0px auto;
  width: 780px;

  .avatarIconWrapper {
    svg {
      width: 85.4px;
      height: 85.4px;
      object-fit: contain;
    }
  }

  .profileDescription {
    margin-left: 34px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .nameAndReputation {
      display: flex;
      height: 27px;
      align-items: center;
      flex-direction: row;

      .userName {
        font-size: 20px;
        line-height: 1.25;
        color: $black_navy1;
      }

      .reputationGraphIconWrapper {
        margin-left: 25px;

        svg {
          width: 12px;
          height: 12.9px;
          object-fit: contain;
        }
      }

      .reputation {
        margin-left: 10px;
        font-size: 18px;
        color: $royal_blue1;

        &:hover > .reputationTooltip {
          opacity: 1;
        }

        .reputationTooltip {
          opacity: 0;
          transition: 750ms all;
          position: relative;
          left: -8px;
          top: -30px;

          .reputationTooltipIconWrapper {
            position: absolute;
            z-index: 1;
            left: -28px;
            top: -7px;

            svg {
              width: 83.8px;
              height: 36px;
              object-fit: contain;
            }
          }

          .reputationTooltipContent {
            position: absolute;
            z-index: 2;
            left: -15px;
            top: 2px;
            font-size: 11px;
            color: $space_gray3;
          }
        }
      }
    }

    .userDegree {
      font-size: 14px;
      line-height: 1.79;
      color: $space_gray5;
    }

    .userHistory {
      font-size: 12px;
      line-height: 2.08;
      color: $black_navy1;
      white-space: pre-wrap;
    }
  }

  .configureIconWrapper {
    cursor: pointer;
    margin-top: 12px;

    svg {
      width: 26px;
      height: 26px;
      object-fit: contain;
    }
  }

  .submitArticleBtn {
    @include default-button($light_royal_blue2, 164.5px, 50px, 18px);
    display: flex;
    justify-content: center;
    margin: 0px auto 0px 22px;
  }
}

.categoryContainer {
  display: flex;
  margin-top: 80.1px;
  border-bottom: solid 1.5px $space_gray10;

  .categoryBtn {
    display: block;
    height: 38px;
    font-size: 16px;
    line-height: 1.56;
    text-align: left;
    color: $space_gray1;
    text-align: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:nth-child(1) {
      width: 180px;
    }

    &:nth-child(2) {
      margin-left: 20px;
      width: 180px;
    }

    &:nth-child(3) {
      margin-left: 620px;
      width: 80px;
    }

    &:nth-child(4) {
      margin-left: 20px;
      width: 80px;
    }
  }

  .isClickedBtn {
    color: $black_navy1;
    border-bottom: 3px solid $royal_blue1;
  }
}

.lowerContainer {
  max-width: $container-width;
  margin: 0 auto 127.7px auto;
}
