.description {
  font-size: 16px;
  color: $gray800;
  text-align: center;
  padding: 16px 0;
  margin-bottom: 32px;
  line-height: 1.5;

  .highlightKeyword {
    color: $main_blue0;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
