.paperFigureDetailContainer {
  max-width: 920px !important;
  width: 100%;
  padding: 40px;
  outline: none;
  overflow-y: auto;
}

.figureDetailImageWrapper {
  display: flex;
  position: relative;
  justify-content: center;
  width: 840px;
  height: 440px;
  margin-bottom: 40px;
}

.figureDetailImage {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.figureDetailCaption {
  font-size: 16px;
  line-height: 1.25;
  color: $black1;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.closeButtonWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 20px;
  height: 20px;
  margin-top: -16px;
  margin-right: -16px;
  z-index: 2;

  .closeButtonIcon {
    color: $gray500;
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    cursor: pointer;

    svg {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
    }
  }
}

.sliderBtnWrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.nextIcon {
  width: 54px;
  height: 54px;

  svg {
    width: 16px;
    height: 30px;
    opacity: 0.8;
    color: white;
  }
}

.prevIcon {
  @extend .nextIcon;
  svg {
    transform: scaleX(-1);
  }
}

.prevBtn {
  position: absolute;
  width: 108px;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: $button-hover-transition;
  }
}

.nextBtn {
  @extend .prevBtn;
  left: auto;
  right: 0;
}

.mobileSliderBtnWrapper {
  display: none;
}

.moreOrLess {
  display: inline-block;
  color: $navy0;
  font-weight: 500;
  margin-left: 4px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (max-width: $tablet_width) {
  .paperFigureDetailContainer {
    max-height: 500px;
  }

  .figureDetailImageWrapper {
    width: 100%;
    height: 188px;
    margin-top: 28px;
    margin-bottom: 24px;
  }

  .figureDetailCaption {
    font-size: 13px;
    line-height: 1.54;
    color: $black1;
  }

  .sliderBtnWrapper {
    display: none;
  }

  .mobileSliderBtnWrapper {
    display: flex;
  }

  .mobileSliderBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    background-color: $gray200;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.54;
    letter-spacing: 0.75px;
    color: $black1;
    margin-top: 16px;

    & + & {
      margin-left: 8px;
    }

    .nextIcon {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 0 6px;

      svg {
        width: 8px;
        height: 15px;
        opacity: 1;
        color: $gray500;
      }
    }

    .prevIcon {
      margin: 0 6px 0 0;
    }
  }
}
