.paperFigureDetailContainer {
  max-width: 920px !important;
  padding: 40px;
  position: relative;
}

.figureDetailImageWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}

.figureDetailImage {
  max-width: 840px;
  max-height: 440px;
  object-fit: contain;
}

.figureDetailCaption {
  font-size: 16px;
  line-height: 1.25;
  color: $black1;
}

.closeButtonWrapper {
  position: absolute;
  top: 0;
  right: 0;

  .closeButtonIcon {
    color: $gray4;
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    margin-top: 16px;
    margin-right: 16px;
    cursor: pointer;

    svg {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
    }
  }
}

.sliderBtnWrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 120%;
  top: 45%;
  left: -10%;
}

.nextIcon {
  width: 54px;
  height: 54px;

  svg {
    width: 16px;
    height: 30px;
    opacity: 0.8;
    color: white;
  }
}

.prevIcon {
  @extend .nextIcon;
  svg {
    transform: scaleX(-1);
  }
}
