@import "../../../../variables";

.contentWrapper {
  border: solid 1px $space_gray2;
  padding-bottom: 10px;
  border-radius: 10px;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 67px;
  margin: 0 15px;
  border-bottom: solid 1px $space_gray2;
}

.headerLeftBox {
  position: absolute;
  left: 15px;
}

.headerRightBox {
  position: absolute;
  right: 28px;
}

.starIcon {
  margin-right: 10px;

  svg {
    width: 15px;
    height: 15px;
  }
}

.commentIcon {
  margin-left: 22px;
  margin-right: 10px;

  svg {
    width: 14px;
    height: 14px;
  }
}

.rightItem {
  font-size: 15px;
  line-height: 1.67;
  text-align: center;
  color: $black_navy1;
}

.footer {
  padding: 0 26px;
}

.createdAt {
  font-size: 12px;
  line-height: 2;
  color: $space_gray1;
  text-align: right;
}
