@import "../../../../variables";

.scoreGraphWrapper {
  display: flex;
  width: 580px;
  height: 35px;
  border-radius: 17.5px;
  border: solid 1px $space_gray2;
  margin: 26px auto 18px auto;
}

.title {
  font-size: 24px;
  line-height: 1.04;
  text-align: left;
  color: $black_navy1;
  margin-bottom: 26.5px;
}

.stepWrapper {
  width: 700.5px;
  margin: 0 auto 27px auto;
}

.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 297.5px;
  border-radius: 10px;
  border: solid 1px $space_gray2;
  padding: 28px 40px 35px 40px;
}

.contentWrapper {
  border-radius: 10px;
  border: solid 1px $space_gray2;
}

.upperContent {
  padding: 28px 40px 35px 40px;
}

.scoreItem {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  color: $space_gray1;
}

.activeScore {
  border-radius: 21px;
  background-color: $royal_blue1;
  font-size: 16px;
  color: #fff;
}

.formContainer {
  display: flex;
  background-color: $space_gray20;
  height: 69px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.inputWrapper {
  display: flex;
  align-items: center;
}

.buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.buttonsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.prevButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78.5px;
  height: 69px;
  background-color: $space_gray16;
  cursor: pointer;
  border-bottom-left-radius: 7px;

  svg {
    width: 15px;
    height: 15px;
  }
}

.nextButton {
  display: flex;
  justify-content: center;
  width: 190px;
  height: 69px;
  align-items: center;
  font-size: 18px;
  background-color: $royal_blue1;
  color: #fff;
  cursor: pointer;
  border-bottom-right-radius: 9px;

  &:hover {
    background-color: $royal_blue1;
    color: #fff;
  }

  &:disabled {
    color: $space_gray1;
    background-color: $space_gray9;
    cursor: not-allowed;

    &:hover {
      color: $space_gray3;
    }
  }
}

.stepButtonContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $space_gray1;
  padding: 0;

  div {
    text-align: left;
    width: 100%;
  }
}

.stepNumber {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  height: 29.5px;
  margin-bottom: 2.5px;
}

.stepTitle {
  height: 27px;
  font-size: 18px;
  text-align: left;
}

.activeStep {
  color: $royal_blue1;
}

.tab {
  font-size: inherit;
}

.stepDescriptionWrapper {
  line-height: 1.5;
}

.initialBoxWrapper {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 243px;
  background-color: $space_gray20;
}

.initialBoxContent {
  font-size: 18px;
  text-align: center;
  color: $black_navy1;
  margin-bottom: 28px;
  white-space: pre;
  line-height: 27px;
}

.startReviewButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 379.9px;
  height: 60px;
  border-radius: 10px;
  background-color: $royal_blue1;
  border: solid 1px $royal_blue3;
  color: #fff;
  cursor: pointer;
}
