.paginationWrapper {
  display: flex;
  justify-content: center;

  .pageItem {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border: solid 1px $gray400;
    border-radius: 5px;
    font-size: 16px;
    color: $gray800;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover {
      color: $main_blue0;
      border-color: $main_blue0;
    }
  }

  .pageIconButton {
    width: 44px;
    height: 44px;
    border: solid 1px $gray600;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    svg {
      width: 10px;
      height: 10px;
      color: $gray600;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover {
      border-color: $main_blue0;

      svg {
        color: $main_blue0;
      }
    }
  }

  .prevButtons {
    display: flex;

    span,
    a {
      margin-right: 10px;

      svg {
        transform: rotate(180deg);
      }
    }
  }

  .nextButtons {
    display: flex;

    span,
    a {
      margin-left: 10px;
    }
  }

  .active {
    color: $main_blue0;
    border-color: $main_blue0;
  }
}
