@import "../../variables";

.articleSearchContainer {
  position: relative;
  margin: $navbar_height auto 0 auto;
  max-width: $container_width;

  .innerContainer {
    max-width: $search_container_width;
  }
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  align-items: center;
  min-height: 738.5px;

  .loadingSpinner {
    div {
      background-color: $space_gray1;
    }
  }

  .loadingContent {
    margin-top: 27.5px;
    font-size: 15px;
    line-height: 2.4;
    color: $black_navy1;
  }
}

.inflowRouteContainer {
  padding-top: 34.5px;
  margin-bottom: -11px;

  .inflowRoute {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: $black_navy1;

    .citedIconWrapper {
      margin-right: 8px;
      svg {
        width: 10.5px;
        height: 10px;
      }
    }

    .referenceIconWrapper {
      margin-right: 8px;
      svg {
        width: 9px;
        height: 16.5px;
      }
    }
  }

  .inflowArticleInfo {
    margin-top: 10.5px;
    font-size: 16px;
    color: $space_gray3;
    line-height: 1.5;
  }

  .separatorLine {
    margin-top: 20px;
    width: $search_container_width;
    border-bottom: solid 1px $space_gray16;
  }
}

.searchSummary {
  padding-top: 32px;
  display: flex;
  font-size: 15px;
  align-items: center;
  position: relative;

  .searchResult {
    color: $royal_blue1;
  }

  .separatorLine {
    height: 25px;
    border-left: solid 1px $space_gray16;
    margin-left: 12px;
    margin-right: 12px;
  }

  .searchPage {
    color: $space_gray3;
  }
}

.searchItems {
  margin-top: 30px;
}

// Mobile
@media (max-width: $mobile-width) {
  .articleSearchContainer {
    margin-top: $search-mobile-navbar-height;
    margin-bottom: 50px;
  }

  .searchSummary {
    padding-top: 18.5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;

    .separatorLine {
      height: 20px;
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  .searchItems {
    margin-top: 11.5px;
  }

  .inflowRouteContainer {
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;

    .inflowRoute {
      font-size: 16px;
    }

    .citedIconWrapper {
      margin-right: 12px;

      svg {
        width: 8px;
        height: 14px;
      }
    }

    .inflowArticleInfo {
      margin-top: 12px;
      font-size: 12px;
    }
  }
}
