@import "../../variables";

.articleSearchContainer {
  margin: $navbar_height auto 0 auto;
  max-width: $container_width;
  position: relative;

  .innerContainer {
    max-width: $search_container_width;
  }
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  align-items: center;
  min-height: 738.5px;

  .loadingSpinner {
    div {
      background-color: $space_gray1;
    }
  }

  .loadingContent {
    margin-top: 27.5px;
    font-size: 15px;
    line-height: 2.4;
    color: $black_navy1;
  }
}

.inflowRouteContainer {
  padding-top: 34.5px;
  margin-bottom: -11px;

  .inflowRoute {
    font-size: 18px;
    font-weight: 500;
    color: $black_navy1;

    .citedIconWrapper {
      margin-right: 8px;
      svg {
        width: 10.5px;
        height: 10px;
      }
    }

    .referenceIconWrapper {
      margin-right: 8px;
      svg {
        width: 9px;
        height: 16.5px;
      }
    }
  }

  .inflowArticleInfo {
    margin-top: 10.5px;
    font-size: 16px;
    color: $space_gray3;
    line-height: 1.5;
  }

  .separatorLine {
    margin-top: 20px;
    width: $search_container_width;
    border-bottom: solid 1px $space_gray16;
  }
}

.searchSummary {
  padding-top: 32px;
  display: flex;
  font-size: 15px;
  align-items: center;
  position: relative;

  .searchResult {
    color: $royal_blue1;
  }

  .separatorLine {
    height: 25px;
    border-left: solid 1px $space_gray16;
    margin-left: 12px;
    margin-right: 12px;
  }

  .searchPage {
    color: $space_gray3;
  }

  .sortingBox {
    position: absolute;
    right: 0;
    display: flex;

    .sortingContent {
      font-size: 15px;
      color: $space_gray3;
      margin-right: 9px;
    }

    .sortingSelect {
      appearance: none;
      font-size: 15px;
      color: $space_gray3;
      display: inline-block;
      border: none;
      cursor: pointer;
      background-color: transparent;
      padding-right: 12.5px;
    }
  }

  .sortingIconWrapper {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;

    svg {
      width: 7px;
      height: 3.5px;
    }
  }
}

.searchItems {
  margin-top: 30px;
}
