@import "../../variables";

.articleSearchContainer {
  margin: $navbar-height auto 0 auto;
  max-width: $container-width;

  .innerContainer {
    max-width: $search-container-width;
  }
}

.noPapersContainer {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  align-items: center;
  min-height: 738.5px;

  .noPapersTitle {
    font-size: 20px;
    line-height: 1.8;
    color: $coral_pink2;
  }

  .noPapersContent {
    margin-top: 15px;
    font-size: 15px;
    line-height: 2.4;
    color: $black_navy1;

    .keyword {
      color: $space_gray3;
    }
  }
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  align-items: center;
  min-height: 738.5px;

  .loadingSpinner {
    div {
      background-color: $space_gray1;
    }
  }

  .loadingContent {
    margin-top: 27.5px;
    font-size: 15px;
    line-height: 2.4;
    color: $black_navy1;
  }
}

.inflowRouteContainer {
  padding-top: 34.5px;
  margin-bottom: -33px;

  .inflowRoute {
    font-size: 18px;
    font-weight: 500;
    color: $black_navy1;

    .citedIconWrapper {
      margin-right: 8px;
      svg {
        width: 10.5px;
        height: 10px;
      }
    }

    .referenceIconWrapper {
      margin-right: 8px;
      svg {
        width: 9px;
        height: 16.5px;
      }
    }
  }

  .inflowArticleInfo {
    margin-top: 10.5px;
    font-size: 16px;
    color: $space_gray3;
  }

  .separatorLine {
    margin-top: 20px;
    width: 895px;
    border-bottom: solid 1px $space_gray16;
  }
}

.searchFormContainer {
  display: flex;
  margin-top: 200px;
  margin-bottom: 200px;
  align-items: center;
  justify-content: center;

  .inputBox {
    margin-top: unset;
  }
}

.searchSummary {
  padding-top: 54px;
  display: flex;
  font-size: 15px;
  align-items: center;
  position: relative;

  .searchResult {
    color: $royal_blue1;
  }

  .separatorLine {
    height: 25px;
    border-left: solid 1px $space_gray16;
    margin-left: 12px;
    margin-right: 12px;
  }

  .searchPage {
    color: $space_gray3;
  }

  .sortingBox {
    position: absolute;
    right: 0;
    display: flex;

    .sortingContent {
      font-size: 15px;
      color: $space_gray3;
      margin-right: 9px;
    }

    .sortingSelect {
      appearance: none;
      font-size: 15px;
      color: $space_gray3;
      display: inline-block;
      border: none;
      cursor: pointer;
      background-color: transparent;
      padding-right: 12.5px;
    }
  }

  .sortingIconWrapper {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;

    svg {
      width: 7px;
      height: 3.5px;
    }
  }
}

.searchItems {
  margin-top: 31.5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 69px;
  margin-bottom: 79px;

  .pageItem {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border: solid 1px $space_gray16;
    font-size: 16px;
    color: $space_gray3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $royal_blue1;
      border-color: $royal_blue1;
    }
  }

  .pageIconButton {
    width: 44px;
    height: 44px;
    border: solid 1px $space_gray19;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    svg {
      height: 10.4px;
      color: $space_gray19;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover {
      border-color: $royal_blue1;

      svg {
        color: $royal_blue1;
      }
    }
  }

  .prevButtons {
    display: flex;

    a {
      margin-right: 10px;
      svg {
        transform: rotate(180deg);
      }
    }
  }

  .nextButtons {
    display: flex;

    a {
      margin-left: 10px;
    }
  }

  .active {
    color: $royal_blue1;
    border-color: $royal_blue1;
  }
}
