.rootWrapper {
  background-color: $gray0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 202px;
}

.articleSearchContainer {
  padding: 0 16px;
  margin: 0 auto;
  position: relative;
  max-width: $container_width;
  display: flex;
  flex-wrap: wrap;

  .innerContainer {
    flex: $search_container_width;
    max-width: $search_container_width;
  }
}

.loadingContainer {
  display: flex;
  margin-top: 120px;
  width: $search_container_width;
  padding: 24px 0;
  min-height: 98px;
  flex-direction: column;
  align-items: center;

  .loadingSpinner {
    div {
      background-color: $gray3;
    }
  }

  .loadingContent {
    margin-top: 27.5px;
    font-size: 15px;
    line-height: 2.4;
    color: $black0;
  }
}

.rightBoxWrapper {
  display: flex;
  flex: 1 1;
  max-width: 354px;
  height: 100%;
  flex-direction: column;
  margin-top: 78px;
  margin-left: 22px;
}

.suggestionBox {
  margin-top: 24px;
  padding-bottom: 16px;
  font-size: 16px;
  text-align: left;
  color: $gray6;
  width: 100%;
  border-bottom: 1px solid $gray3;

  .noResult {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .suggestionResult {
    font-size: 14px;

    b {
      font-weight: normal;
      color: $red0;
    }
  }

  .suggestionLink {
    color: $navy0;
    font-style: italic;
    text-decoration: underline;
  }

  b {
    font-weight: bold;
  }
}

.searchSummary {
  position: relative;
  display: flex;
  margin-top: 32px;
  font-size: 15px;
  align-items: center;
  line-height: 28px;
  margin-bottom: 16px;

  .searchResult {
    color: $main_blue0;
  }

  .separatorLine {
    height: 25px;
    border-left: solid 1px $gray3;
    margin-left: 12px;
    margin-right: 12px;
  }
}

.categoryHeader {
  font-size: 20px;
  font-weight: 600;
  margin-right: 8px;
  color: $black1;
}

.categoryCount {
  font-size: 18px;
  font-weight: 500;
  color: $gray5;
}

.authorItemsHeader {
  position: relative;
  padding: 32px 0 16px 0;

  .moreAuthorLink {
    display: inline;
    align-items: center;
    position: absolute;
    top: 32px;
    line-height: 24px;
    text-align: center;
    bottom: 0;
    right: 0;
    font-size: 14px;
    color: $main_blue1;

    &:hover {
      color: $main_blue_light0;
      cursor: pointer;
    }
  }
}

// content-like width
@media (max-width: 1200px) {
  .rightBoxWrapper {
    display: none;
  }

  .innerContainer {
    margin: 0 auto;
  }
}

// Mobile
@media (max-width: $mobile_width) {
  .articleSearchContainer {
    padding-bottom: 0;
  }

  .rootWrapper {
    padding-bottom: 332px;
  }

  .authorItemSectionWrapper {
    width: 100%;
  }

  .searchSummary {
    font-size: 14px;
    color: $gray3;
    flex-flow: column;
    align-items: start;
  }

  .loadingContainer {
    width: 100%;
  }

  .inflowRouteContainer {
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;

    .inflowRoute {
      font-size: 16px;
    }

    .citedIconWrapper {
      margin-right: 12px;

      svg {
        width: 8px;
        height: 14px;
      }
    }

    .inflowArticleInfo {
      margin-top: 12px;
      font-size: 12px;
    }
  }
}
