%right-item-wrapper {
  max-width: 354px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid $gray300;
  background-color: white;
  padding: 24px;
}
