.orSeparatorBox {
  display: flex;
  align-items: center;
  margin-top: 10.2px;

  .dashedSeparator {
    max-width: 156.5px;
    width: 100%;
    height: 1.2px;
    border-top: dashed 0.8px $gray400;
    margin-left: 3.9px;
    margin-right: 3.9px;
  }

  .orContent {
    width: 11px;
    height: 14px;
    font-size: 12px;
    text-align: center;
    color: $gray400;
  }
}
