@import '../../containers/userSettings/userSettings';

.formRow {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  & + & {
    margin-top: 16px;
  }

  &.dynamicFormRow {
    opacity: 1;
    will-change: opacity;
    transition: opacity 160ms ease;

    &.hide {
      opacity: 0.3;
      will-change: opacity;
      transition: opacity 160ms ease;
    }
  }
}

.formWrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.formWrapper + .formWrapper {
  margin-left: 12px;
}

.emailPrefixInputContainer {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  border: solid 1px $gray500;
  border-radius: 4px;

  .inputForm {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 0;
  }

  i {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 8px;
    width: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    color: $gray700;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.inputForm {
  @extend %base-input-style;
  cursor: auto;
  font-size: 16px;
  border: 0;

  &.hasError {
    border-color: $red0;
  }

  &:disabled {
    color: $gray500;
    border-color: $gray400;
    cursor: not-allowed;
  }
}

.selectForm {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-flex;
  padding: 0 32px 0 16px;
  border-color: $gray500;
  border-radius: 0 4px 4px 0;
  background-color: $gray200;
  border: 0;
  border-left: 1px solid $gray500;
  color: $gray700;
  cursor: pointer;
}

.formLabel {
  @extend %base-label;
}

.errorMsg {
  font-family: $fallback;
  font-size: 13px;
  color: $red0;
  margin: 8px 0 0 8px;
}

.affiliationErrorMsg {
  font-family: $fallback;
  font-size: 13px;
  color: $red0;
  margin-top: 8px;
}

.emailDomainPostfixLabel {
  font-family: $fallback;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 16px;
}

@media (max-width: $mobile_width) {
  .inputForm {
    font-size: 14px;
  }

  .selectForm {
    font-size: 14px;
    padding: 0 24px 0 8px;
  }
}
