@import '../common';

.doi {
  width: $paper-info-layout-width;

  .tinyButton {
    float: right;
  }

  .doiContent {
    font-size: $paper-info-maintext-fontSize;
    color: $paper-info-maintext-color;
    line-height: $paper-info-maintext-lineHeight;
    word-break: break-all;
  }
}

.tinyButton {
  float: right;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: $gray50;
  border-radius: 8px;
  padding: 2px 6px 2px 4px;
  color: $main_blue1;

  &:hover {
    background-color: $gray300;
  }

  &:active {
    filter: brightness(95%);
  }

  svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 2px;
  }

  span {
    line-height: 16px;
    color: $main_blue0;
    font-size: 12px;
    vertical-align: middle;
  }
}
