@import "../../../../variables";

.commentsWrapper {
  margin-left: 38.5px;
}

.commentWrapper {
  position: relative;
  margin: 10px 0;
  padding: 22px 25.5px;
  border-radius: 10px;
  background-color: $light_royal_blue3;
}

.commentWrapper + .commentWrapper {
  margin-top: 15px;
}

.commentedAt {
  position: absolute;
  top: 18px;
  right: 27px;
  font-size: 12px;
  line-height: 2;
  text-align: right;
  color: $space_gray1;
}

.avatarIcon {
  svg {
    width: 34px;
    height: 34px;
  }
}

.authorInformation {
  margin-bottom: 12.5px;
}

.authorName {
  display: inline-block;
  vertical-align: top;
  height: 34px;
  font-size: 16px;
  line-height: 34px;
  margin-left: 9.4px;
  color: $black_navy1;
}

.commentArea {
  width: 656.5px;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 14px;
  line-height: 1.71;
  color: $space_gray3;
}
