.affiliationsInfo {
  height: 400px;
  background-color: white;
  text-align: center;
  padding-top: 75px;

  .title {
    white-space: pre-line;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: $black1;

    .bold {
      font-weight: 600;
    }
  }
}

.contentBlockDivider {
  @extend %small-content-block-divider;
  background-color: $main-blue0;
  margin-bottom: 64px;
}

:global(.no-webp) .affiliationsInfo {
  background-image: url('https://assets.pluto.network/scinapse-affiliation-background.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0px;
}

:global(.webp) .affiliationsInfo {
  background-image: url('https://assets.pluto.network/scinapse-affiliation-background.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0px;
}

.affiliationImageContainer {
  display: flex;
  overflow: hidden;
  height: 100px;
}

.affiliationImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 80px;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0, 1, 64, 0.18);
  background-color: white;
  margin-left: 16px;

  .affiliationImage {
    height: 36px;
  }
}

.marquee1Affiliation {
  display: inline-flex;
  flex-grow: 1;
  flex-shrink: 0;
  animation: marquee1 40s linear infinite;
}

.marquee2Affiliation {
  display: inline-flex;
  flex-grow: 1;
  flex-shrink: 0;
  animation: marquee2 40s linear infinite;
  animation-delay: 20s;
}

@keyframes marquee1 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}
