.signUpContainer {
  max-width: 400px;
  width: 100%;
  padding: 22px 32px 32px 32px;
  margin: 0 auto;
}

.nameItemWrapper {
  display: flex;
  justify-content: space-between;
}

.nameItemSection {
  display: inline-block;
  vertical-align: top;
  max-width: 150px;
  width: 100%;

  & + & {
    margin-left: 10px;
  }
}

.additionalInformation {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2.5px;
  color: $gray6;
  margin-top: -4px;
  margin-bottom: 11px;
  text-align: center;
}

.subHeader {
  font-size: 15px;
  font-weight: 400;
  color: $gray6;
  margin-top: -4px;
  margin-bottom: 20px;
  text-align: center;
}

.signUpPrivacyPolicy {
  font-size: 12px;
  font-weight: 400;
  color: $gray4;
  margin-top: 12px;
  text-align: center;

  a {
    text-decoration: underline;
  }
}

@media (max-width: $mobile_width) {
  .nameItemWrapper {
    display: block;
  }

  .nameItemSection {
    max-width: none;
    width: 100%;

    & + & {
      margin-left: 0;
    }
  }
}
