$ref-cited-bar-height: 50px;

.container {
  margin: $header-height 12px 0 12px;
}

:export {
  headerHeight: $header-height;
}

.contentWrapper {
  margin: 0 16px;
}

.title {
  font-size: 22px;
  line-height: 1.27;
  font-weight: normal;
  color: $black0;
  font-family: Georgia;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 12px;
}

.abstractHeader {
  font-size: 16px;
  font-weight: bold;
  color: $black0;
  margin-top: 14px;
  margin-bottom: 16px;
}

.abstractContent {
  font-size: 14px;
  line-height: 1.36;
  color: $black0;
}

.refCitedTab {
  background-color: #f9f9fb;
  padding: 16px 28px;

  span {
    display: inline-block;
  }

  span + span {
    margin-left: 32px;
  }
}

.fixedRefCitedTab {
  background-color: #f9f9fb;
  padding: 16px 28px;
  margin: 16px -28px -16px -28px;

  span {
    display: inline-block;
  }

  span + span {
    margin-left: 32px;
  }
}

.activeRefCitedTabItem {
  font-size: 16px;
  font-weight: 500;
  color: $black0;
}

.refCitedTabItem {
  font-size: 16px;
  font-weight: 500;
  color: $gray600;
}

.fixedTab {
  display: none;
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  background-color: white;
  padding: 24px 28px 16px 28px;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  &.active {
    display: block;
  }
}

.tabPaperTitle {
  @extend %one-line-overflow-ellipsis;
}
