$action-bar-height: 55px;
$ref-cited-bar-height: 29px;
$side-navigation-bottom-padding: 24px;

:export {
  navbarHeight: $navbar_height;
  paperShowMarginTop: $paper-show-margin;
  sideNavigationBottomPadding: $side-navigation-bottom-padding;
}

:global {
  @import "~react-pdf/dist/Page/AnnotationLayer";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;

  &.smallButton {
    background-color: $gray8;
    border-radius: 8px;
    color: $main_blue1;
    &:hover {
      background-color: $gray2;
    }
    svg {
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
    span {
      line-height: 16px;
      color: $main_blue0;
      font-size: 12px;
      vertical-align: middle;
    }
  }
}

%navbar-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 40px;
  border-radius: 5px;
  margin-right: 8px;
}

.container {
  margin: 0 auto;
  margin-top: $header-height;
  display: flex;
  flex-direction: column;
}

.paperShow-Content {
  padding-bottom: 96px;
}

article.paperShow {
  width: $paper-show-width;
  margin: 0 auto;
  font-size: 16px;
  color: $black1;
  height: fit-content;

  .paperContentBlockHeader {
    width: 100%;
    font-weight: 700;
    color: $black1;
    padding-bottom: 4px;
    margin-bottom: 8px;
    position: relative;
  }

  .paperContentBlockDivider {
    width: 100%;
    height: 1px;
    background-color: $gray8;
    margin-top: $paper-show-interblock-divider-margin;
    margin-bottom: $paper-show-interblock-divider-margin;
  }

  .paperTitle {
    max-width: 792px;
    font-family: Georgia;
    font-size: 30px;
    line-height: 1.4;
    color: $black1;
    margin-top: 32px;
    margin-bottom: 9px;
  }

  .paperInfo {
    display: flex;
    justify-content: space-between;

    & > div + div {
      margin-left: 24px;
    }
  }

  .paperContent {
    line-height: 1.5;
    color: $black1;
    .fos {
      margin-top: 16px;
    }
  }

  .otherPapers {
    .paperItem + .paperItem {
      margin-top: 12px;
    }
    .paperItem {
      img {
        width: 100%;
      }
    }
  }

  .citedBy {
    margin-top: 80px;
  }
}

.paperContentBlockHeaderTabsHeight {
  height: 69px;
}

.rightBox {
  width: $paper-show-rightBox-width;
}

.sideNavigation {
  margin-top: $paper-show-margin;
  height: fit-content;

  &.stick {
    position: fixed;
    bottom: $side-navigation-bottom-padding;
    transition: bottom 150ms ease;
    z-index: 27;
  }

  &.smallThanVH {
    position: fixed;
    bottom: unset;
    z-index: 27;
  }

  &.touchFooter {
    transition: bottom 150ms ease;
    bottom: $side-navigation-bottom-padding + $footer-height;
  }

  .sideNavigationBlockHeader {
    width: 100%;
    font-weight: 700;
    color: $black1;
    padding-bottom: 4px;
    margin-bottom: 8px;
  }
}

.refCitedTabWrapper {
  height: $ref-cited-bar-height;
  padding: $ref-cited-bar-padding;
  padding-top: $navbar_height;
  margin-top: -$navbar_height;
  box-sizing: content-box;
  margin-bottom: 24px;
}

// RegularDisplay (1024~1200)
@media (max-width: $regular_width) {
  .container {
    margin-left: $container-margin;
    margin-right: $container-margin;

    article.paperShow {
      .paperInfo {
        display: block;

        & > div {
          width: $mobile-paper-info-layout-width;

          & + div {
            margin-left: 0;
            margin-top: 24px;
          }
        }
      }
    }

    .sideNavigation {
      right: calc(calc((100% - #{$regular-display-container-width}) / 2 - 0px));

      & > .rightSection {
        width: $regular-display-paper-show-rightBox-width;
      }
    }
  }
}
// SmallDisplay (768~1024)
@media (max-width: $tablet_width) {
  .container {
    article.paperShow {
      width: calc(100vw - 24px * 2);
    }

    .rightBox {
      display: none;
    }
  }

  .refCitedTabWrapper {
    width: 100%;
  }
}
// Mobile (0~768)
@media (max-width: $mobile-width) {
  .container {
    display: block;
    width: $mobile-container-width;
    margin-left: 0;
    margin-right: 0;

    article.paperShow {
      width: $mobile-content-width;
      margin: 0 auto;
      .paperTitle {
        padding-top: 32px;
      }
      .paperInfo {
        display: block;
        & > div {
          width: $mobile-paper-info-layout-width;
          & + div {
            margin-left: 0;
            margin-top: 24px;
          }
        }
      }
    }
    .rightBox {
      width: $regular-display-paper-show-rightBox-width;
    }
    .sideNavigation {
      display: none;
    }
  }
}
