.loading {
  animation: placeHolderShimmer 2s forwards linear infinite;
  background: #f6f7f8;
  background-image: linear-gradient(to left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  border-radius: 2px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.skeletonContainer {
  width: 691px;
  height: 138px;
  padding: 20px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px $gray300;
  background-color: white;

  & + & {
    margin-top: 16px;
  }

  .skeletonTitle {
    @extend .loading;

    width: 478px;
    height: 24px;
    margin-bottom: 20px;
    border-radius: 2px;
    background-color: #f4f5f8;
  }

  .skeletonLargeContent {
    @extend .loading;

    width: 551px;
    height: 12px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #f4f5f8;
  }
  .skeletonSmallContent {
    @extend .loading;

    width: 350px;
    height: 12px;
    border-radius: 2px;
    background-color: #f4f5f8;
  }
}
