@import '../common';

.venueList {
  .venueItem {
    &:hover {
      .venueTitle {
        color: $main_blue1;
      }
    }

    .venueTitleReadonly {
      font-size: $paper-info-maintext-fontSize;
      color: $paper-info-maintext-color;
      line-height: $paper-info-maintext-lineHeight;
    }

    .venueTitle {
      @extend .venueTitleReadonly;
      cursor: pointer;
      transition: $transition-ease;
    }

    .venueYear {
      margin-top: 4px;
      font-size: $paper-info-subText-fontSize;
      color: $paper-info-subText-color;
      line-height: $paper-info-subText-lineHeight;

      .yearNumber {
        color: $gray800;
        font-weight: 500;
      }
    }

    .venueIF {
      margin-top: 0px;
      font-size: $paper-info-subText-fontSize;
      color: $paper-info-subText-color;
      line-height: $paper-info-subText-lineHeight;

      .ifNumber {
        color: $gray800;
        font-weight: 500;
      }
    }
  }
}

.published {
  display: inline-block;
  width: $paper-info-layout-width;
  vertical-align: top;
}
