$wrapper-vertical-margin: 128px;

.container {
  background-color: $gray30;
  min-height: calc(100vh - #{$navbar_height});
  padding-top: $navbar_height;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 768px;
  min-height: calc(100vh - #{$navbar_height});
  margin: 0 auto;
  padding-top: 24px;
}
