@import "../../../variables";
.settingContainer {
  max-width: $small-container-width;
  margin: 0 auto;
}

.title {
  margin-top: 44px;
  font-size: 22px;
  color: $black_navy1;
}

.smallTitle {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.56;
  color: $black_navy1;
}

.updateBtn {
  margin-top: 27px;
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  color: $royal_blue1;
  border-radius: 10px;
  background-color: $space_gray9;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover {
    background-color: $space_gray15;
  }
}

.inActiveUpdateBtn {
  background-color: $space_gray9;
  color: $space_gray3;
  cursor: not-allowed;

  &:hover {
    background-color: $space_gray9 !important;
  }
}

.separatorLine {
  margin-top: 32px;
  width: 780px;
  border-top: solid 1px $space_gray2;
}
