.wrapper {
  width: 100%;
  max-width: 578px;
  margin: 20vh auto $footer-height auto;
  color: $black0;

  h1 {
    margin: 16px 0;
    font-size: 48px;
  }

  p {
    font-size: 24px;
    color: $black1;
  }
}

.btnContainer {
  margin-top: 16px;
}

@media (max-width: $mobile_width) {
  .wrapper {
    padding: 0 16px;
    height: calc(100vh - #{$navbar_height});
    display: flex;
    align-items: center;
    margin: 0;

    h1 {
      font-size: 32px;
    }

    p {
      font-size: 16px;
    }
  }
}
