@import "../../variables";

.feedbackButtonWrapper {
  position: fixed;
  bottom: 60px;
  right: 40px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 46.5px;
  line-height: 46.5px;
  border-radius: 45px;
  background-color: $space_gray21;
  text-align: center;
  color: white;
  cursor: pointer;

  // Mobile
  @media (max-width: $mobile-width) {
    display: none;
  }
  &:hover {
    background-color: $space_gray1;
    transition: 0.3s ease-in-out;
  }
}

.feedbackButtonIcon {
  display: inline-block;
  vertical-align: top;
  width: 21px;
  height: 24.5px;
  margin-right: 10px;
  svg {
    display: inline-block;
    vertical-align: top;
  }
}

.dropdownMenuWrapper {
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 2px 8.5px 0 rgba(187, 194, 208, 0.51);
  background-color: white;
  border-radius: 5px;
}

.greetingBoxWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  text-align: right;
  color: $space_gray18;
}

.greetingBox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 44.4px;
  line-height: 44.4px;
  text-align: center;
  margin-bottom: 9px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 2px 8.5px 0 rgba(187, 194, 208, 0.51);
  background-color: white;
}

.popoverPaper {
  background-color: transparent;
  border-radius: 6px;
  box-shadow: none;
  padding-bottom: 16px;
}

.dropdownTitle {
  display: inline-block;
  vertical-align: top;
  width: 244px;
  white-space: pre-line;
  font-size: 14.5px;
  line-height: 1.6;
  text-align: left;
  color: $space_gray18;
  padding: 16px;
}

.menuItemContent {
  display: block;
  width: 100%;
  height: 100%;
}

.menuItem {
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  color: #6096ff;
  border-top: solid 1px $space_gray16;
  width: 100%;
  height: auto;
  padding: 0;

  &:hover {
    background-color: $space_gray5;
  }

  a {
    display: inline-block;
    vertical-align: top;
    padding: 12px 46px;
  }
}
