@import "../../variables";

.feedbackButtonWrapper {
  position: fixed;
  bottom: 60px;
  right: 40px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143.5px;
  height: 46.5px;
  line-height: 46.5px;
  border-radius: 45px;
  background-color: $denim-blue;
  text-align: center;
  color: white;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.feedbackButtonIcon {
  display: inline-block;
  vertical-align: top;
  width: 21px;
  height: 24.5px;

  svg {
    display: inline-block;
    vertical-align: top;
  }
}

.dropdownMenuWrapper {
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 2px 8.5px 0 rgba(187, 194, 208, 0.51);
  background-color: rgba(255, 255, 255, 0.95);
}

.greetingBoxWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  text-align: right;
  color: $space_gray18;
}

.greetingBox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 44.4px;
  line-height: 44.4px;
  text-align: center;
  margin-bottom: 9px;
  border-radius: 3.2px;
  font-size: 13.5px;
  box-shadow: 0 2px 8.5px 0 rgba(187, 194, 208, 0.51);
  background-color: rgba(255, 255, 255, 0.95);
  margin-right: 10px;
}

.dropdownTitle {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  white-space: pre-line;
  font-size: 14.5px;
  line-height: 1.6;
  text-align: left;
  color: $space_gray18;
  padding: 12px;
}

.menuItemContent {
  display: block;
  width: 100%;
  height: 100%;
}
