@import "../../variables";

.footerContainer {
  position: relative;
  max-width: $container-width;
  margin: 0 auto 30px auto;
  display: flex;
  font-size: 13px;
  line-height: 1.85;
  color: #3b4858;

  .rightBox {
    position: absolute;
    right: 0;

    .link {
      margin-left: 32px;
      cursor: pointer;
    }
  }
}
