@import "../../variables";

.footer {
  position: relative;
  background-color: $light_royal_blue3;
  box-shadow: inset 0 3px 2.5px 0 rgba(216, 221, 231, 0.56);
  
  .footerContainer {
    max-width: $container-width;
    height: 219.8px;
    margin: 0 auto;
    padding-top: 39.8px;

    position: relative;
    display: flex;
    flex-direction: row;
  }

  ul {
    margin: 0 0;
  }
}


.copyRightWrapper {
  width: 220px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;

  .footerLogo {
    margin-bottom: 20px;
    svg {
      width: 87px;
      height: 29.5px;
      object-fit: contain;
    }
  }

  .copyRightContent {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: $space_gray1;
    line-height: 18px;
  }
}

.navbarWrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;

  &:first-of-type {
    margin-right: 90.5px;
    width: 109.5px;
  }

  &:last-of-type {
    margin-right: 353.5px;
    width: 46.5px;
  }
}

.iconsWrapper {
  width: 210px;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;

  .footerIconWrapper {
    width: 30px;
    height: 30px;
    object-fit: contain;

    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
  
    svg {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
  }
}

.boldContent {
  font-size: 15.5px;
  font-weight: bold;
  text-align: left;
  color: $dark_navy1;
  margin-bottom: 14.5px;
}

.normalContent {
  font-size: 15.5px;
  font-weight: 400;
  text-align: left;
  color: $dark_navy1;
  margin-bottom: 11px;
}
