.navbar {
  max-width: 1440px;
	height: 75px;
  background-color: #ffffff;
  .headerContainer {
    height: 75px;
    position: relative;
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    vertical-align: center;
  }
}

.logo {
  display: inline-block;
  margin-right: 60.5px;
  margin-top: 25px;
  svg {
    width: 80px;
    height: 27.5px;
    object-fit: contain;
  }
}

.menuList {
  display: table;
  margin: auto 0;
  li {
    display: table-cell;
    vertical-align: center;
    margin: 0;
    .menuItem {
      display: block;
      font-family: SpoqaHanSans;
      font-size: 16px;
      color: #172549;
      padding-right: 50px;
    }
  }
}

.buttonList {
  margin: auto 0;
  .signInBtn {
    display: table-cell;
    vertical-align: middle;
    width: 133.5px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px #d9dee8;
    font-size: 16px;
    text-align: center;
    color: #6096ff;
  }
  .loginBtn {
    display: table-cell;
    vertical-align: middle;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background-color: #ecf1fa;
    font-size: 16px;
    text-align: center;
    color: #6096ff;
  }
}

.searchIcon {
	width: 22.5px;
	height: 22.5px;
	background-color: #6096ff;
}

.searchContent {
	width: 96px;
	height: 23.5px;
	font-family: SpoqaHanSans;
	font-size: 16px;
	text-align: left;
	color: #d9dde3;
}