$container-width : 1180px;
.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0.0, 0.2, 1);

  .headerContainer {
    max-width: $container-width;
    height: 75px;
    position: relative;
    margin: 0 auto;
    display: flex;
    vertical-align: center;
    flex-direction: row;
    z-index: 1;
  }
}

.logo {
  width: 190px;
  display: inline-block;
  margin-right: 60.5px;
  margin-top: 25px;
  svg {
    width: 80px;
    height: 27.5px;
    object-fit: contain;
  }
}

.menuList {
  width: 100%;
  flex: 2 100%;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  li {
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    .menuItem {
      display: block;
      font-family: SpoqaHanSans;
      font-size: 16px;
      color: #172549;
    }
  }
}

.buttonList {
  width: 100%;
  flex: 2 100%;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  li {
    display: inline-block;
    text-align: center;
    margin-left: 20.5px;
    .signInBtn {
      display: table-cell;
      vertical-align: middle;
      width: 133.5px;
      height: 40px;
      border-radius: 10px;
      border: solid 1px #d9dee8;
      font-size: 16px;
      text-align: center;
      color: #6096ff;
    }
    .loginBtn {
      display: table-cell;
      vertical-align: middle;
      width: 180px;
      height: 40px;
      border-radius: 10px;
      background-color: #ecf1fa;
      font-size: 16px;
      text-align: center;
      color: #6096ff;
    }
  }
}
