%menuButton {
  height: 44px !important;
  font-size: 14px !important;
  position: relative;
  padding: 0 !important;

  &:hover {
    font-weight: bold;
    background-color: $gray30 !important;
  }

  .linkOnButton {
    width: 100%;
    height: 100%;
    padding: 12px 18px;
  }
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid $gray300;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .isTop {
    box-shadow: none;
  }

  .headerContainer {
    height: $navbar_height;
    max-width: $container-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 0 24px;
  }

  &.searchHomeNavbar {
    background-color: $gray100;
    border-bottom: 1px solid $gray200;
  }
}

.scrolledNavbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.leftBox {
  display: flex;
  align-items: center;
  flex: 1;
}

.headerLogo {
  display: inline-block;
  margin-right: 30px;
  width: 140px;

  svg {
    height: 30px;
    object-fit: contain;
  }
}

.headerLogoMark {
  display: inline-block;

  svg {
    width: 36px;
    height: 36px;
    object-fit: contain;
    margin-right: 16px;
  }
}

.searchFormContainer {
  position: relative;
  display: flex;
  max-width: 70%;
  width: 100%;
  margin-left: 24px;
  margin-right: 16px;
  height: 44px;
  align-items: center;
}

.rightBox {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $black1;
}

.rightButtons {
  display: flex;
  align-items: center;
}

.menuItems {
  width: 200px;
  margin: 4px;
}

.userDropdownChar {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  margin-left: 8px;
  background-color: $main_blue0;
  font-size: 18.5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  cursor: pointer;
}

.userDropdownImg {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  margin-left: 8px;
  background-color: white;
  font-size: 18.5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  cursor: pointer;

  .profileImage {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid $gray300;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.profileButton {
  @extend %menuButton;
}

.collectionButton {
  @extend %menuButton;
}

.settingsButton {
  @extend %menuButton;
}

.signOutButton {
  @extend %menuButton;

  color: rgba(0, 0, 0, 0.25) !important;
  border-top: 1px solid $gray300 !important;

  .buttonText {
    width: 100%;
    height: 100%;
    padding: 12px 18px;
  }
}

.searchWrapper {
  width: 100%;
  height: 100%;
  border: solid 1px $gray500;
  border-radius: 4px;

  &:focus-within {
    border: solid 1px $gray600;
    transition: 0.2s ease-in-out;
  }
}

.suggestionListWrapper {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 1px;
  z-index: 4;
  margin-top: 2px;
}

.searchInput {
  display: flex;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 4px;
  line-height: 1.5;
  color: $black0;
  background-color: white;
  overflow: hidden;
  align-items: center;
  padding: 0 44px 0 16px;
}

.userInfoMenuItem {
  opacity: 1 !important;
  border-bottom: solid 1px $gray300 !important;
  height: auto !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.userInfoWrapper {
  padding: 8px 16px;

  .username {
    @extend %one-line-overflow-ellipsis;

    width: 168px;
    height: 20px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.54;
    color: $black0;
  }

  .email {
    @extend %one-line-overflow-ellipsis;

    width: 168px;
    height: 20px;
    font-size: 12px;
    line-height: 1.67;
    color: $gray800;
  }
}

@media (max-width: $tablet_width) {
  .searchFormContainer {
    max-width: 100%;
    margin-right: 8px;
    margin-left: 0;

    .inputBox {
      width: 100%;
    }
  }

  .rightBox {
    .signInButton {
      display: none;
    }
  }
}

@media (max-width: $mobile_width) {
  .rightButtons {
    display: none;
  }
  .searchFormContainer {
    max-width: 100%;
    margin-right: 8px;
    margin-left: 0;

    .inputBox {
      width: 100%;
    }
  }
}
