.verificationNeededContainer {
  max-width: $container_width;
  margin: 0 auto;

  .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-radius: 1.7px;
    background-color: white;
    border: solid 1px $gray400;
    padding: 0 35px 35px 35px;
  }
}

.title {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.7px;
  text-align: center;
  color: $gray800;
}

.content {
  margin-top: 23px;
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
  color: $gray600;
  white-space: pre-line;
  text-align: center;
}

.emailVerificationNeededIconWrapper {
  margin-top: 30px;

  svg {
    width: 98px;
    height: 83px;
  }
}

.resendEmailButton {
  margin-top: 35.5px;
  @include common-button($main_blue0);
}

.toEmail {
  margin-top: 12.2px;
  font-size: 15px;
  color: $gray600;
  line-height: 1.47;

  .email {
    color: $black1;
  }
}

.additionalNoti {
  width: 100%;
}

.notiTitle {
  width: 100%;
  margin-top: 32px;
  font-size: 16px;
  line-height: 1.47;
  text-align: center;
  color: $gray700;
  border-top: solid $gray300 1px;
  padding: 16px 0px;
  font-weight: 400;
}

.notiContentList {
  display: flex;
  flex-direction: row;
  padding: 4px 0px;
}

.notiContentCheckIcon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.notiContent {
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
  text-align: left;
  color: $gray600;
}
