.verificationNeededContainer {
  max-width: $container_width;
  margin: 0 auto;

  .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-radius: 1.7px;
    background-color: white;
    border: solid 1px $gray400;
    padding: 0 35px 35px 35px;
  }
}

.title {
  margin-top: 50px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2.7px;
  text-align: center;
  color: $gray800;
}

.content {
  margin-top: 23px;
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
  color: $gray600;
  white-space: pre-line;
  text-align: center;
}

.emailVerificationNeededIconWrapper {
  margin-top: 30px;

  svg {
    width: 98px;
    height: 83px;
  }
}

.resendEmailButton {
  margin-top: 35.5px;
  @include common-button($main_blue0);
}

.toEmail {
  margin-top: 12.2px;
  font-size: 15px;
  color: $gray600;
  line-height: 1.47;

  .email {
    color: $black0;
  }
}
