@import "../../variables";

.metaTitle {
  font-size: 18px;
  font-weight: bold;
  color: $black0;
  line-height: 1.33;
  padding-bottom: 8px;
  border-bottom: solid 1px $gray4;
  margin-top: 48px;
}

.metaWrapper {
  margin-bottom: 90px;
}

.addMoreButton {
  color: $main_blue0;
  margin-top: 10px;
  margin-bottom: 33px;
  cursor: pointer;
}

.plusIconWrapper {
  display: inline-flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;

  .plusIcon {
    width: 12px;
    height: 12px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}

.addText {
  display: inline-block;
  vertical-align: top;
}

.metaList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.metaListItem {
  display: block;
}

.metaListItem + .metaListItem {
  margin-top: 8px;
}

.metaContent {
  display: inline-block;
  vertical-align: top;
}

.metaDate {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 1.5;
  color: $gray6;
  margin-right: 82px;
}

.metaContentTitle {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: $black0;
  margin-bottom: 2px;
}

.metaSubtitle {
  font-size: 14px;
  line-height: 1.43;
  color: $gray6;
}
