%column-label {
  font-size: 12px;
  font-weight: 500;
  color: $black0;
}

.filterWrapper {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 295px;
}

.dropBoxWrapper {
  width: 486px;
  border-radius: 4px;
  box-shadow: 0 8px 24px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 24px;
  margin-top: 8px;
  // below overflow attributes are needed for override default Material-ui's Paper component behavior
  overflow-x: visible;
  overflow-y: visible;
}

.FOSItemBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;

  &:hover {
    background-color: $gray30;
  }

  &.selected {
    .fosName {
      color: $main_blue1;
    }
  }

  &.highlighted {
    background-color: $main_blue_light1;
  }

  &.searchResult {
    &:hover {
      background-color: $main_blue_light1;
    }
  }

  .fosName {
    font-size: 14px;
    color: $gray700;
  }

  .countBox {
    font-size: 14px;
    text-align: right;
    color: $gray700;
  }
}

.controlBtnsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.clearBtn {
  cursor: pointer;
  font-size: 16px;
  color: $gray600;
}

.applyBtn {
  cursor: pointer;
  font-size: 16px;
  color: $main_blue1;
}

.FOSListWrapper {
  max-height: 286px;
  overflow-y: auto;
  margin: 0 -24px;
  padding: 0 24px;
}

.fosNameWrapper {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 8px;
}

.listHeader {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FOSLabel {
  @extend %column-label;
  margin-left: 28px;
}

.countLabel {
  @extend %column-label;
  margin-right: 6px;
  text-align: right;
}

.searchInfo {
  margin: 8px 0;
  font-size: 14px;
  color: $black1;
  font-weight: 500;
  text-align: center;
  padding: 6px;
  white-space: pre;
}

.searchFocusButton {
  display: inline;
  cursor: pointer;
  text-decoration: underline;
  color: inherit;
  font-weight: inherit;
}

.hintWrapper {
  position: absolute;
  top: -41px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.hint {
  position: relative;
  overflow: unset;
  border-radius: 20px;
  color: white;
  background-color: $black1;
  font-size: 14px;
  padding: 8px 20px;
  animation-duration: 1s;
  animation-name: wave;
  animation-iteration-count: infinite;

  &:before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: calc(50% - 3.5px);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $black1;
    z-index: 2;
  }
}
