.yearFilter {
  padding-top: 24px;
  border-top: solid 1px $gray3;
}

.content {
  padding: 0 16px;
}

.yearFilterBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 54px;
  user-select: none;
}

.title {
  position: relative;
  height: 18px;
  font-size: 15px;
  font-weight: bold;
  color: $gray6;
  margin-bottom: 24px;

  .resetBtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    text-align: right;
    color: $gray5;
    font-weight: normal;
    cursor: pointer;
  }
}

.columnBox {
  position: relative;
  height: 70px;
  width: 347px;
}

.filterColumn {
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  bottom: 0;
}

.column {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 2px;
  background-color: #d8dde7;
  cursor: pointer;

  &.activeColumn {
    background-color: rgba(96, 150, 255, 0.3);
  }

  &:hover {
    background-color: $gray5;

    &.activeColumn {
      background-color: $main_blue0;
    }

    .columnLabel {
      &:not(.isSelectMode) {
        display: flex;
      }
    }
  }

  .columnLabel {
    display: none;
    width: 88px;
    height: 49px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -44px;
    top: -65px;
    background-color: white;
    overflow: unset;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid $gray3;
    border-radius: 4px;
    z-index: 2;

    &.isSelecting {
      display: flex;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -12px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid $gray3;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -11px;
      width: 0;
      height: 0;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-top: 11px solid white;
    }
  }

  .docCount {
    height: 14px;
    font-size: 12px;
    text-align: center;
    color: $gray6;
    margin-bottom: 4px;
  }

  .yearNum {
    height: 11px;
    font-size: 10px;
    color: $gray5;
  }
}

.slider {
  position: relative;
  height: 4px;
  border-radius: 2.5px;
  background-color: $gray3;

  .activeLine {
    position: absolute;
    height: 4px;
    z-index: 2;
    border-radius: 2.5px;
    background-color: $main_blue1;
  }
}

.sliderBubble {
  position: absolute;
  width: 23px;
  height: 23px;
  margin-left: -9.5px;
  bottom: -9.5px;
  border-radius: 100%;
  border: 1px solid $gray9;
  background-color: white;
  z-index: 3;
  cursor: pointer;
}

.bubbleLabel {
  position: absolute;
  bottom: -28px;
  left: -6px;
  color: $gray9;
  font-size: 12px;
  cursor: default;
}
