@import "../../../variables";

.authorsInputContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  .authorButtonContainer {
    display: flex;
  }

  .authorInputLine {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 10px;

    &:first-child {
      margin-top: 0px;
    }

    .authorButtonIconWrapper {
      display: flex;
      margin-left: 8px;
      align-items: center;
      cursor: pointer;

      svg {
        width: 36px;
        height: 36px;
      }
    }
  }
}

.hasError {
  border-color: $coral_pink !important;
}
