@import "../../../variables";

.authorsInputContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  .authorButtonContainer {
    display: flex;
  }

  .authorInputLine {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 10px;

    &:first-child {
      margin-top: 0px;
    }

    .fullNameInputWrapper {
      margin-left: 15.5px;
      display: flex;
      width: 396.5px;
      height: 50px;
      border-radius: 10px;
      border: solid 1px $space_gray2;
      overflow: hidden !important;

      .inputBox {
        margin-left: 21px;
        border: 0;
        font-size: 16px;
        flex: 1;
      }
    }

    .institutionInputWrapper {
      margin-left: 16.5px;
      display: flex;
      width: 318.5px;
      height: 50px;
      border-radius: 10px;
      border: solid 1px $space_gray2;
      overflow: hidden !important;

      .inputBox {
        margin-left: 21px;
        border: 0;
        font-size: 16px;
        flex: 1;
      }
    }

    .authorButtonIconWrapper {
      display: flex;
      margin-left: 15px;
      align-items: center;
      cursor: pointer;

      svg {
        width: 36px;
        height: 36px;
      }
    }
  }
}

.hasError {
  border-color: $coral_pink !important;
}
