.rootWrapper {
  background-color: $gray30;
  position: relative;
  min-height: 100vh;
  padding-bottom: 202px;
}

.articleSearchContainer {
  padding: 0 16px;
  margin: 0 auto;
  position: relative;
  max-width: $container_width;
  display: flex;

  .innerContainer {
    flex: $search_container_width;
    max-width: $search_container_width;
  }
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 250px;
  align-items: center;
  min-height: 738.5px;

  .loadingSpinner {
    div {
      background-color: $gray400;
    }
  }

  .loadingContent {
    margin-top: 27.5px;
    font-size: 15px;
    line-height: 2.4;
    color: $black0;
  }
}

.categoryHeader {
  font-size: 20px;
  font-weight: bold;
  margin-right: 8px;
  color: $black1;
}

.categoryCount {
  font-size: 18px;
  font-weight: 500;
  color: $gray600;
}

.authorItemsHeader {
  position: relative;
  padding: 32px 0 16px 0;
}

// content-like width
@media (max-width: 1200px) {
  .innerContainer {
    margin: 0 auto;
  }
}

// Mobile
@media (max-width: $mobile-width) {
  .rootWrapper {
    padding-bottom: 332px;
  }

  .articleSearchContainer {
    margin-bottom: 32px;
  }
}
