.searchItems {
  margin-top: 16px;
}

.searchItemWrapper {
  position: relative;
  margin-bottom: 12px;
  max-width: $search_container_width;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  padding: 16px 16px 8px 16px;
  border-radius: 4px;
  border: solid 1px $gray2;
}

// Mobile
@media (max-width: $mobile-width) {
  .searchItems {
    margin-top: 16px;
  }
}
