.hIndexBox {
  display: inline-block;
  vertical-align: top;
  height: 15.5px;
  border-radius: 7.7px;
  background-color: $main_blue_light1;
  font-size: 8.5px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  color: $main_blue0;
  padding: 3px 6px;
  margin-left: 4px;
}
