.button {
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  border: solid 1px $gray400;
  font-size: 14px;
  color: $gray800;
  padding: 0 8px 0 8px;
  cursor: pointer;

  .iconWrapper {
    display: inline-flex;
    width: 14px;
    height: 14px;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    color: $gray600;

    svg {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    background-color: $gray200;
    transition: $button-hover-transition;
  }
}
