.articleSortBarWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  border: 1px solid $gray3;
  border-radius: 20px;
  background-color: white;
  padding: 16px;
}

.nonActiveSortOption {
  font-size: 14px;
  color: $gray5;
  padding: 8px 0;

  &:hover {
    color: $main_blue_light0;
  }

  & + & {
    margin-left: 16px;
  }
}

.activeSortOption {
  @extend .nonActiveSortOption;
  font-weight: 700;
  color: $main_blue0;
}

@media (max-width: $mobile_width) {
  .articleSortBarWrapper {
    position: relative;
    padding: 2px 8px;
    margin-top: 8px;
  }
}
