.actionBar {
  width: $paper-show-width;
  background-color: white;
  padding: 8px 0px;

  .leftSide {
    display: flex;
  }

  .actions {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.actionItem {
  display: inline-block;
  vertical-align: top;

  & + & {
    margin-left: 8px;
  }
}

.fullTextBtn {
  height: 40px;
  padding: 7px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  color: $main_blue1;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.2;
  }
  
}

// RegularDisplay (1024~1200)
@media (max-width: $regular_width) {
  .actionBar {
    width: 100%;
  }
}
// SmallDisplay (768~1024)
@media (max-width: $tablet_width) {
  .actionBar {
    .actions {
      display: block;
      & > div {
        display: flex;
        .actionItem {
          width: 100%;
          .citeButton {
            width: 100%;
          }
        }
      }
    }
  }
}
// Mobile (0~768)
@media (max-width: $mobile-width) {
}
