.actionBar {
  width: $paper-show-width;
  background-color: white;
  padding: 8px 0px;

  .leftSide {
    display: flex;
  }

  .actions {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .actionItem {
      display: inline-block;

      .citeButton {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        font-size: 14px;
        font-weight: 500;
        color: $main_blue0;
        line-height: 1.43;
        background-color: $gray8;
        border-radius: 4px;
        cursor: pointer;
        padding: 0 12px 0 10px;

        span {
          display: inline-block;
          height: 20px;
        }

        &:hover {
          background-color: $gray2;
        }

        &:active {
          filter: brightness(95%);
        }

        .citeIcon {
          @include flex-center-vertical-horizontal(inline-flex);

          width: 20px;
          height: 20px;
          margin-right: 4px;

          svg {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }

  .actionItem + .actionItem {
    margin-left: 8px;
  }
}

// RegularDisplay (1024~1200)
@media (max-width: $regular_width) {
  .actionBar {
    width: 100%;
  }
}
// SmallDisplay (768~1024)
@media (max-width: $tablet_width) {
  .actionBar {
    .actions {
      display: block;
      & > div {
        display: flex;
        .actionItem {
          width: 100%;
          .citeButton {
            width: 100%;
          }
        }
      }
    }
  }
}
// Mobile (0~768)
@media (max-width: $mobile-width) {
}
