.actionBar {
  width: $paper-show-width;
  background-color: white;
  padding: 8px 0px;

  .leftSide {
    display: flex;
  }

  .actions {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .actionItem {
      display: inline-block;
    }
  }

  .actionItem + .actionItem {
    margin-left: 8px;
  }
}

// RegularDisplay (1024~1200)
@media (max-width: $regular_width) {
  .actionBar {
    width: 100%;
  }
}
// SmallDisplay (768~1024)
@media (max-width: $tablet_width) {
  .actionBar {
    .actions {
      display: block;
      & > div {
        display: flex;
        .actionItem {
          width: 100%;
          .citeButton {
            width: 100%;
          }
        }
      }
    }
  }
}
// Mobile (0~768)
@media (max-width: $mobile-width) {
}
