.actionBar {
  width: 100%;
  background-color: white;
  padding: 8px 0px;

  .leftSide {
    display: flex;
  }

  .actions {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.actionItem {
  display: inline-block;
  vertical-align: top;

  & + & {
    margin-left: 8px;
  }
}

.fullTextBtn {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 7px 12px 7px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  background-color: white;
  color: $main_blue1;
  border: solid 1px $gray400;
  cursor: pointer;

  &:hover {
    background-color: $gray300;
  }

  &:disabled {
    cursor: not-allowed;
  }

  .sendIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 4px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.arrowBottomTooltip {
  background-color: $black1 !important;
  color: white !important;
  font-size: 13px !important;
  margin-bottom: 10px !important;
  padding: 10px 12px !important;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 55%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: $black1;
    border-bottom: 0;
    margin-left: -16px;
    margin-top: 38px;
    z-index: 2;
  }
}

// // RegularDisplay (1024~1200)
@media (max-width: $regular_width) {
  .actionBar {
    .actions {
      display: block;
      & > div {
        display: flex;
        .actionItem {
          width: 100%;
          .citeButton {
            width: 100%;
          }
        }
      }
    }
  }
}

// Mobile (0~768)
@media (max-width: $mobile-width) {
  .leftSide {
    flex-direction: column;
  }

  .actionItem {
    & + & {
      margin: 4px 0 0 0;
    }
  }

  .fullTextBtn {
    width: 100%;
    justify-content: center;
  }
}
