.imgWrapper {
  display: inline-block;
  vertical-align: top;
  border: solid 2px $gray400;
  border-radius: 50%;
}

.roundImage {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
