.dialogPaper {
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 4px;
  overflow-y: visible !important;
  max-width: 100%;
}

@media (max-width: $tablet_width) {
  .figureDetailDialog {
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 4px;
    overflow-y: visible !important;
    max-width: 100%;
    position: static;
  }

  .mobileFigureDetailDialog {
    @extend .figureDetailDialog;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 auto;
  }

  .dialogPaper {
    width: 100% !important;
  }

  .mobileFigureDetailDialog {
    width: 100% !important;
  }
}

@media (max-width: $mobile_width) {
  .dialogPaper {
    margin: 0;
  }
}
