.contentClass {
  display: flex;
  max-width: 403px !important;
}

.contentClass > div > div > div {
  background-color: transparent !important;
  box-shadow: none !important;
  min-height: 0 !important;
}

.contentClass > div > div > div > form {
  margin-top: 0 !important;
}

.dialogPaper {
  display: flex;
  align-items: center;
  padding: 0;
}
