.yearFilterBox {
  padding: 0 24px;
  width: 352px;
  margin-bottom: 54px;
}

.columnBox {
  height: 70px;
}

.column {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 2px;
  cursor: pointer;

  &:hover {
    .columnLabel {
      &:not(.isSelectMode) {
        display: flex;
      }
    }
  }

  .columnLabel {
    display: none;
    width: 88px;
    height: 49px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -44px;
    top: -65px;
    background-color: white;
    overflow: unset;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid $gray3;
    border-radius: 4px;
    z-index: 2;

    &.isSelecting {
      display: flex;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: -12px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid $gray3;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -11px;
      width: 0;
      height: 0;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-top: 11px solid white;
    }
  }

  .docCount {
    height: 14px;
    font-size: 12px;
    text-align: center;
    color: $gray6;
    margin-bottom: 4px;
  }

  .yearNum {
    height: 11px;
    font-size: 10px;
    color: $gray5;
  }
}

.slider {
  position: relative;
  height: 4px;
  border-radius: 2.5px;
  background-color: $gray3;

  .activeLine {
    position: absolute;
    height: 4px;
    z-index: 2;
    border-radius: 2.5px;
    background-color: $main_blue1;
  }
}

.sliderBubble {
  position: absolute;
  width: 23px;
  height: 23px;
  margin-left: -9.5px;
  bottom: -9.5px;
  border-radius: 100%;
  border: 1px solid $gray9;
  cursor: pointer;
  background-color: white;
  z-index: 3;
}

.bubbleLabel {
  position: absolute;
  bottom: -20px;
  left: -6px;
  color: $gray9;
  font-size: 12px;
}
