.yearFilterBox {
  padding: 0 24px;
  width: 352px;
  margin-bottom: 54px;
}

.columnBox {
  height: 70px;
}

.column {
  display: inline-block;
  vertical-align: bottom;
  width: 2px;
  cursor: pointer;

  & + & {
    margin-left: 1px;
  }
}

.droppable {
  margin-top: 2px;
}

.slider {
  position: relative;
  height: 2px;
  background-color: $gray3;
}

.sliderBubble {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: 5px;
  border-radius: 100%;
  border: 1px solid $main_blue0;
  cursor: pointer;
}

.bubbleLabel {
  position: absolute;
  bottom: -20px;
  left: -6px;
  color: $gray9;
  font-size: 12px;
}
