.wrapper {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px $gray2;
  padding: 16px;
}

.wrapper + .wrapper {
  margin-top: 16px;
}

.listWrapper {
  margin-top: 8px;
}

.title {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: $navy0;
  margin-bottom: 4px;

  &:hover {
    text-decoration: underline;
  }
}

.journalIcon {
  width: 14px;
  height: 14px;
  margin-right: 8px;

  svg {
    width: 14px;
    height: 14px;
  }
}

.ifIconWrapper {
  svg {
    width: 10px;
    height: 10px;
    color: $main_blue0;
    margin-right: 4px;
  }
}

.journalLink:hover {
  text-decoration: underline;
}

.venueSection {
  font-size: 14px;
  line-height: 1.29;
  color: $gray5;

  .ifLabel {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: $main_blue0;
    padding: 0 8px;

    span {
      white-space: nowrap;
    }
  }

  svg,
  span {
    display: inline-block;
    vertical-align: top;
    white-space: pre-wrap;
  }
}

.arrowBottomTooltip {
  background-color: #606269 !important;
  color: white !important;
  font-size: 10px !important;
  margin-bottom: 6px !important;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 55%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #606269;
    border-bottom: 0;
    margin-left: -13px;
    margin-top: 20px;
    z-index: 2;
  }
}

.abstract {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.4;
  color: $gray9;
  word-break: break-word;
  overflow-wrap: break-word;

  .searchQuery {
    font-weight: 900;
    color: $black1;
  }
}

// Mobile
@media (max-width: $mobile-width) {
  .abstract {
    margin-top: 10px;
    font-size: 13px;
  }
}
